http_interactions:
- request:
    method: POST
    uri: https://fosstodon.org/api/v1/apps
    body:
      fields:
        client_name: rtoot package
        redirect_uris: urn:ietf:wg:oauth:2.0:oob
        scopes: read write follow
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '5'
      x-ratelimit-remaining: '4'
      x-ratelimit-reset: '2025-07-17T13:50:00.538403Z'
      etag: W/"8a1a835d71e63a80481da42e343b1374"
    body:
      string: '{"id":"927918","name":"rtoot package","website":null,"scopes":["read","write","follow"],"redirect_uris":["urn:ietf:wg:oauth:2.0:oob"],"vapid_key":"BHKY6hkaUL7WByhqx8H8Knbfrpixu8vqTNjiu3XblHR-H6eY2ZD9LYe7fUxOuav6eCfwmK2LHWmzL22vvwN8B2E=","redirect_uri":"urn:ietf:wg:oauth:2.0:oob","client_id":"s65UfCFjriE-yNqkuAPy-1AXBB27C30Wv5j1zF6Xmcc","client_secret":"Z4OfTw7y2TlBV0302yEpYhq6E6YEDMvSqiCxZqD04IM","client_secret_expires_at":0}'
  recorded_at: 2025-07-17 13:44:07
- request:
    method: POST
    uri: https://fosstodon.org/oauth/token
    body:
      fields:
        client_id: s65UfCFjriE-yNqkuAPy-1AXBB27C30Wv5j1zF6Xmcc
        client_secret: Z4OfTw7y2TlBV0302yEpYhq6E6YEDMvSqiCxZqD04IM
        redirect_uri: urn:ietf:wg:oauth:2.0:oob
        grant_type: client_credentials
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"83453aee791fc13e4bd13fd350721340"
    body:
      string: '{"access_token":"BWqUqwtEFgip7-FbX48C153l1fEPsk6Tg_Pneidm8i8","token_type":"Bearer","scope":"read","created_at":1752759847}'
  recorded_at: 2025-07-17 13:44:07
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/apps/verify_credentials
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '292'
      x-ratelimit-reset: '2025-07-17T13:45:00.723956Z'
      etag: W/"c44d8d11f264a5b3463eadb3e96a578d"
    body:
      string: '{"id":"927918","name":"rtoot package","website":null,"scopes":["read","write","follow"],"redirect_uris":["urn:ietf:wg:oauth:2.0:oob"],"vapid_key":"BHKY6hkaUL7WByhqx8H8Knbfrpixu8vqTNjiu3XblHR-H6eY2ZD9LYe7fUxOuav6eCfwmK2LHWmzL22vvwN8B2E=","redirect_uri":"urn:ietf:wg:oauth:2.0:oob"}'
  recorded_at: 2025-07-17 13:44:07
[...]
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/apps/verify_credentials
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '291'
      x-ratelimit-reset: '2025-07-17T13:45:00.988817Z'
      etag: W/"b4a1b45e5f3db502f34ccfb269f24d39"
    body:
      string: '{"id":"927919","name":"rtoot package","website":null,"scopes":["read","write","follow"],"redirect_uris":["urn:ietf:wg:oauth:2.0:oob"],"vapid_key":"BHKY6hkaUL7WByhqx8H8Knbfrpixu8vqTNjiu3XblHR-H6eY2ZD9LYe7fUxOuav6eCfwmK2LHWmzL22vvwN8B2E=","redirect_uri":"urn:ietf:wg:oauth:2.0:oob"}'
  recorded_at: 2025-07-17 13:44:07
recorded_with: VCR-vcr/1.7.1.93
