http_interactions:
- request:
    method: post
    uri: https://emacs.ch/api/v1/apps
    body:
      encoding: ''
      string: client_name=rtoot package,redirect_uris=urn:ietf:wg:oauth:2.0:oob,scopes=read
        write follow
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6aa6e198b7dc009855033368e6957887"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-28T14:35:00.414385Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"595","name":"rtoot package","website":null,"redirect_uri":"urn:ietf:wg:oauth:2.0:oob","client_id":"U5Y33dD09eTaU-4yY_CMRKGrbmh_4_LFFakOZ8Yq-V4","client_secret":"Zu6bVbJN0SYAV4wySLYBo2N0rDA7d9BPYGPQdGKQ7hE","vapid_key":"BIHyZ27zWZdWouMY4HI4xHDhRfshivPwVTsjtzQNl4rbYoX0l2j9HBvllsTB19JdBWrEpgAPBn_I1JQSwM5mi0M="}'
  recorded_at: 2022-11-28 14:30:21 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
- request:
    method: post
    uri: https://emacs.ch/oauth/token
    body:
      encoding: ''
      string: client_id=U5Y33dD09eTaU-4yY_CMRKGrbmh_4_LFFakOZ8Yq-V4,client_secret=Zu6bVbJN0SYAV4wySLYBo2N0rDA7d9BPYGPQdGKQ7hE,redirect_uri=urn:ietf:wg:oauth:2.0:oob,grant_type=client_credentials
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e84af57e28808f78430bc190030d91d0"
    body:
      encoding: ''
      file: no
      string: '{"access_token":"iwZCaUEGixTUz1pyAgdXODU0AQXQBNGyDN8_kDgUNk0","token_type":"Bearer","scope":"read","created_at":1669645821}'
  recorded_at: 2022-11-28 14:30:21 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
- request:
    method: get
    uri: https://emacs.ch/api/v1/apps/verify_credentials
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer iwZCaUEGixTUz1pyAgdXODU0AQXQBNGyDN8_kDgUNk0
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b07c3251596e9d768a5c3472c8bad34d"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2022-11-28T14:35:00.564301Z'
    body:
      encoding: ''
      file: no
      string: '{"name":"rtoot package","website":null,"vapid_key":"BIHyZ27zWZdWouMY4HI4xHDhRfshivPwVTsjtzQNl4rbYoX0l2j9HBvllsTB19JdBWrEpgAPBn_I1JQSwM5mi0M="}'
  recorded_at: 2022-11-28 14:30:21 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
[...]
