http_interactions:
- request:
    method: POST
    uri: https://fosstodon.org/api/v1/apps
    body:
      string: client_name=rtoot%20package&redirect_uris=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scopes=read%20write%20follow
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '5'
      x-ratelimit-remaining: '4'
      x-ratelimit-reset: '2026-02-20T12:10:00.879136Z'
      etag: W/"12e74c0f5392a0a8d9322a9bfe395bc1"
    body:
      string: '{"id":"935875","name":"rtoot package","website":null,"scopes":["read","write","follow"],"redirect_uris":["urn:ietf:wg:oauth:2.0:oob"],"vapid_key":"BHKY6hkaUL7WByhqx8H8Knbfrpixu8vqTNjiu3XblHR-H6eY2ZD9LYe7fUxOuav6eCfwmK2LHWmzL22vvwN8B2E=","redirect_uri":"urn:ietf:wg:oauth:2.0:oob","client_id":"L-0gwtZgg6-x3bP0B6B7pI-mYOazTsCjDnKWzQWFlt8","client_secret":"liSvYSCdjPYSs0TVgFOipB15mh0ynzn6KgCarfmHWwI","client_secret_expires_at":0}'
  recorded_at: 2026-02-20 12:09:51
- request:
    method: POST
    uri: https://fosstodon.org/oauth/token
    body:
      string: client_id=L-0gwtZgg6-x3bP0B6B7pI-mYOazTsCjDnKWzQWFlt8&client_secret=liSvYSCdjPYSs0TVgFOipB15mh0ynzn6KgCarfmHWwI&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&grant_type=client_credentials
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cdf2d127fc5ded29dbaf6e85a9dd35e3"
    body:
      string: '{"access_token":"AOyCh9PGiNl3D2TEkjWg0uTaAOFM3Ho_rd9JoUItcfg","token_type":"Bearer","scope":"read","created_at":1771589392}'
  recorded_at: 2026-02-20 12:09:52
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/apps/verify_credentials
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '270'
      x-ratelimit-reset: '2026-02-20T12:10:00.191536Z'
      etag: W/"b46b8e8daedc3c267d342d99545bba0c"
    body:
      string: '{"id":"935875","name":"rtoot package","website":null,"scopes":["read","write","follow"],"redirect_uris":["urn:ietf:wg:oauth:2.0:oob"],"vapid_key":"BHKY6hkaUL7WByhqx8H8Knbfrpixu8vqTNjiu3XblHR-H6eY2ZD9LYe7fUxOuav6eCfwmK2LHWmzL22vvwN8B2E=","redirect_uri":"urn:ietf:wg:oauth:2.0:oob"}'
  recorded_at: 2026-02-20 12:09:52
[...]
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/apps/verify_credentials
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '268'
      x-ratelimit-reset: '2026-02-20T12:10:00.470179Z'
      etag: W/"77986ceec41096be346125d71173885d"
    body:
      string: '{"id":"935876","name":"rtoot package","website":null,"scopes":["read","write","follow"],"redirect_uris":["urn:ietf:wg:oauth:2.0:oob"],"vapid_key":"BHKY6hkaUL7WByhqx8H8Knbfrpixu8vqTNjiu3XblHR-H6eY2ZD9LYe7fUxOuav6eCfwmK2LHWmzL22vvwN8B2E=","redirect_uri":"urn:ietf:wg:oauth:2.0:oob"}'
  recorded_at: 2026-02-20 12:09:52
recorded_with: VCR-vcr/2.1.0
