http_interactions:
- request:
    method: post
    uri: https://emacs.ch/api/v1/apps
    body:
      encoding: ''
      string: client_name=rtoot package,redirect_uris=urn:ietf:wg:oauth:2.0:oob,scopes=read
        write follow
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0d61ba85c54d1c98c94abd0f8930e543"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-28T13:25:00.143417Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"591","name":"rtoot package","website":null,"redirect_uri":"urn:ietf:wg:oauth:2.0:oob","client_id":"NhFeqmb5HsiZT5Vw9tQiHk3-5Ao2fIi7lJNEd7A8ACc","client_secret":"49G2pbGlrH_UluU5u2i2bqGTEz4mE3ePFk2UJ2Hm20I","vapid_key":"BIHyZ27zWZdWouMY4HI4xHDhRfshivPwVTsjtzQNl4rbYoX0l2j9HBvllsTB19JdBWrEpgAPBn_I1JQSwM5mi0M="}'
  recorded_at: 2022-11-28 13:23:07 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
- request:
    method: post
    uri: https://emacs.ch/oauth/token
    body:
      encoding: ''
      string: client_id=NhFeqmb5HsiZT5Vw9tQiHk3-5Ao2fIi7lJNEd7A8ACc,client_secret=49G2pbGlrH_UluU5u2i2bqGTEz4mE3ePFk2UJ2Hm20I,redirect_uri=urn:ietf:wg:oauth:2.0:oob,grant_type=client_credentials
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0fa0a6f9df5a05d837b563deec0208e1"
    body:
      encoding: ''
      file: no
      string: '{"access_token":"Xc_8fXw6ingZrx1HESYascm6UrqW7PRuhwPRW_1r76s","token_type":"Bearer","scope":"read","created_at":1669641787}'
  recorded_at: 2022-11-28 13:23:07 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
- request:
    method: get
    uri: https://emacs.ch/api/v1/apps/verify_credentials
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer Xc_8fXw6ingZrx1HESYascm6UrqW7PRuhwPRW_1r76s
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b07c3251596e9d768a5c3472c8bad34d"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2022-11-28T13:25:00.333477Z'
    body:
      encoding: ''
      file: no
      string: '{"name":"rtoot package","website":null,"vapid_key":"BIHyZ27zWZdWouMY4HI4xHDhRfshivPwVTsjtzQNl4rbYoX0l2j9HBvllsTB19JdBWrEpgAPBn_I1JQSwM5mi0M="}'
  recorded_at: 2022-11-28 13:23:07 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
[...]
