http_interactions:
- request:
    method: POST
    uri: https://fosstodon.org/api/v1/apps
    body:
      fields:
        client_name: rtoot package
        redirect_uris: urn:ietf:wg:oauth:2.0:oob
        scopes: read write follow
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '5'
      x-ratelimit-remaining: '4'
      x-ratelimit-reset: '2025-07-17T13:50:00.053191Z'
      etag: W/"19c5382ae3fa637eba0a8d7877bc425b"
    body:
      string: '{"id":"927917","name":"rtoot package","website":null,"scopes":["read","write","follow"],"redirect_uris":["urn:ietf:wg:oauth:2.0:oob"],"vapid_key":"BHKY6hkaUL7WByhqx8H8Knbfrpixu8vqTNjiu3XblHR-H6eY2ZD9LYe7fUxOuav6eCfwmK2LHWmzL22vvwN8B2E=","redirect_uri":"urn:ietf:wg:oauth:2.0:oob","client_id":"yM79YEj3VCjm5_JsAbhNSCkI-Adl6UDUIz-KpZ3KgbE","client_secret":"OHu66AIN7lXpyMZktmoggNPyJqmc8K3ucJFcIcY6NA4","client_secret_expires_at":0}'
  recorded_at: 2025-07-17 13:44:07
- request:
    method: POST
    uri: https://fosstodon.org/oauth/token
    body:
      fields:
        client_id: yM79YEj3VCjm5_JsAbhNSCkI-Adl6UDUIz-KpZ3KgbE
        client_secret: OHu66AIN7lXpyMZktmoggNPyJqmc8K3ucJFcIcY6NA4
        redirect_uri: urn:ietf:wg:oauth:2.0:oob
        grant_type: client_credentials
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cd98bdec86a0e219df57c5af5c6855bc"
    body:
      string: '{"access_token":"rHswiggr7nUgTBWwzCroecEAf62VL_PrmdVE8ErqihE","token_type":"Bearer","scope":"read","created_at":1752759847}'
  recorded_at: 2025-07-17 13:44:07
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/apps/verify_credentials
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '294'
      x-ratelimit-reset: '2025-07-17T13:45:00.375923Z'
      etag: W/"c81e7e1f98ba3cfde514500e03d85273"
    body:
      string: '{"id":"927917","name":"rtoot package","website":null,"scopes":["read","write","follow"],"redirect_uris":["urn:ietf:wg:oauth:2.0:oob"],"vapid_key":"BHKY6hkaUL7WByhqx8H8Knbfrpixu8vqTNjiu3XblHR-H6eY2ZD9LYe7fUxOuav6eCfwmK2LHWmzL22vvwN8B2E=","redirect_uri":"urn:ietf:wg:oauth:2.0:oob"}'
  recorded_at: 2025-07-17 13:44:07
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/apps/verify_credentials
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '293'
      x-ratelimit-reset: '2025-07-17T13:45:00.445277Z'
      etag: W/"c81e7e1f98ba3cfde514500e03d85273"
    body:
      string: '{"id":"927917","name":"rtoot package","website":null,"scopes":["read","write","follow"],"redirect_uris":["urn:ietf:wg:oauth:2.0:oob"],"vapid_key":"BHKY6hkaUL7WByhqx8H8Knbfrpixu8vqTNjiu3XblHR-H6eY2ZD9LYe7fUxOuav6eCfwmK2LHWmzL22vvwN8B2E=","redirect_uri":"urn:ietf:wg:oauth:2.0:oob"}'
  recorded_at: 2025-07-17 13:44:07
recorded_with: VCR-vcr/1.7.1.93
