http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/statuses/109294719267373593/context
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bfa46f6c61f5ab387ffdbf75af33b14d"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2022-11-08T16:00:00.307057Z'
    body:
      encoding: ''
      file: no
      string: "{\"ancestors\":[],\"descendants\":[{\"id\":\"109294767623508949\",\"created_at\":\"2022-11-06T03:36:44.808Z\",\"in_reply_to_id\":\"109294719267373593\",\"in_reply_to_account_id\":\"109246333737365889\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/austinkocher/statuses/109294767623508949\",\"url\":\"https://mastodon.social/@austinkocher/109294767623508949\",\"replies_count\":0,\"reblogs_count\":16,\"favourites_count\":28,\"edited_at\":null,\"content\":\"\\u003cp\\u003eThe
        best way to keep this development going and to get features added is to support
        the team. I \\u003ca href=\\\"https://mastodon.social/tags/SupportMastodon\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eSupportMastodon\\u003c/span\\u003e\\u003c/a\\u003e
        at $10 a month, but you can choose less or more. See my post below with link
        to \\u003ca href=\\\"https://mastodon.social/tags/Patreon\\\" class=\\\"mention
 [...]
