http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/statuses/109308119383536793/context
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c52d84a6be599126bcee8804a4c37f72"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '295'
      x-ratelimit-reset: '2022-11-08T16:05:00.137681Z'
    body:
      encoding: ''
      file: no
      string: "{\"ancestors\":[{\"id\":\"109303266941599451\",\"created_at\":\"2022-11-07T15:38:14.103Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://social.tchncs.de/users/chainsawriot/statuses/109303266941599451\",\"url\":\"https://social.tchncs.de/@chainsawriot/109303266941599451\",\"replies_count\":2,\"reblogs_count\":1,\"favourites_count\":4,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"pinned\":false,\"content\":\"\\u003cp\\u003eYou
        probably don\\u0026#39;t know how much work it took to get this far.\\u003c/p\\u003e\",\"reblog\":null,\"application\":null,\"account\":{\"id\":\"109281650341067731\",\"username\":\"chainsawriot\",\"acct\":\"chainsawriot\",\"display_name\":\"chainsawriot\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2022-11-03T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e\\u003ca
        href=\\\"http://www.chainsawriot.com\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener noreferrer\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttp://www.\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003echainsawriot.com\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"url\":\"https://social.tchncs.de/@chainsawriot\",\"avatar\":\"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png\",\"avatar_static\":\"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png\",\"header\":\"https://social.tchncs.de/headers/original/missing.png\",\"header_static\":\"https://social.tchncs.de/headers/original/missing.png\",\"followers_count\":43,\"following_count\":32,\"statuses_count\":22,\"last_status_at\":\"2022-11-08\",\"emojis\":[],\"fields\":[{\"name\":\"Stack\",\"value\":\"Linux,
        emacs, stumpwm, R, git, Firefox\",\"verified_at\":null},{\"name\":\"Research
        Interests\",\"value\":\"I don’t know\",\"verified_at\":null}]},\"media_attachments\":[{\"id\":\"109303264416313246\",\"type\":\"image\",\"url\":\"https://f2.tchncs.de/media_attachments/files/109/303/264/416/313/246/original/e3d15af8e5b990c9.png\",\"preview_url\":\"https://f2.tchncs.de/media_attachments/files/109/303/264/416/313/246/small/e3d15af8e5b990c9.png\",\"remote_url\":null,\"preview_remote_url\":null,\"text_url\":null,\"meta\":{\"original\":{\"width\":1001,\"height\":797,\"size\":\"1001x797\",\"aspect\":1.2559598494353827},\"small\":{\"width\":448,\"height\":357,\"size\":\"448x357\",\"aspect\":1.2549019607843137}},\"description\":null,\"blurhash\":\"U03+Dv_3S4xux]xus:M{x]%N%3WV-pxuW=Rj\"}],\"mentions\":[],\"tags\":[],\"emojis\":[],\"card\":null,\"poll\":null},{\"id\":\"109303309876585639\",\"created_at\":\"2022-11-07T15:49:09.241Z\",\"in_reply_to_id\":\"109303266941599451\",\"in_reply_to_account_id\":\"109281650341067731\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://social.tchncs.de/users/0xba/statuses/109303309876585639\",\"url\":\"https://social.tchncs.de/@0xba/109303309876585639\",\"replies_count\":1,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":fals[...]
