http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/directory?local=FALSE&offset=0&order=active&limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"71cf7989fb2442a50fc7104cc2f3fdfe"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '275'
      x-ratelimit-reset: '2025-07-17T13:45:00.623232Z'
    body:
      string: '[{"id":"108237663575545299","username":"chaprot","acct":"chaprot@pouet.chapril.org","display_name":"Pierre
        Chambert-Protat","locked":false,"bot":false,"discoverable":true,"indexable":true,"group":false,"created_at":"2022-04-26T00:00:00.000Z","note":"\u003cp\u003ePhilologue
        au département des manuscrits de la bibliothèque Vaticane. Français, Lyonnais,
        mari et père. \u003c/p\u003e\u003cp\u003e\u003ca href=\"https://pouet.chapril.org/tags/histodon\"
        class=\"mention hashtag\" rel=\"nofollow noopener\" target=\"_blank\"\u003e#\u003cspan\u003ehistodon\u003c/span\u003e\u003c/a\u003e
        \u003ca href=\"https://pouet.chapril.org/tags/histodons\" class=\"mention
        hashtag\" rel=\"nofollow noopener\" target=\"_blank\[...]
