http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/statuses/109303266941599451/reblogged_by
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a47635e30c3c0dca787a6a15e14236d9"
      link: <https://social.tchncs.de/api/v1/statuses/109303266941599451/reblogged_by?since_id=109303506835834713>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '282'
      x-ratelimit-reset: '2022-11-08T15:40:00.995879Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"109302043397397028","username":"bastos","acct":"bastos@scholar.social","display_name":"Marco
        Bastos","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2018-12-20T00:00:00.000Z","note":"\u003cp\u003eAd
        Astra Fellow at University College Dublin’s School of Information and Communication
        Studies and Senior Lecturer at City, University of London. Computational methods,
        network science, and critical data studies.\u003c/p\u003e","url":"https://scholar.social/@bastos","avatar":"https://f2.tchncs.de/cache/accounts/avatars/109/302/043/397/397/028/original/9199bfa8061771b6.png","avatar_static":"https://f2.tchncs.de/cache/accounts/avatars/109/302/043/397/397/028/original/9199bfa8061771b6.png","header":"https://social.tchncs.de/headers/original/missing.png","header_static":"https://social.tchncs.de/headers/original/missing.png","followers_count":38,"following_count":106,"statuses_count":8,"last_status_at":"2022-11-07","emojis":[],"fields":[{"name":"ucd","value":"\u003ca
        href=\"https://people.ucd.ie/marco.bastos\" rel=\"nofollow noopener noreferrer\"
        target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003epeople.ucd.ie/marco.bastos\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"orcid","value":"\u003ca
        href=\"http://orcid.org/0000-0003-0480-1078\" rel=\"nofollow noopener noreferrer\"
        target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttp://\u003c/span\u003e\u003cspan
        class=\"\"\u003eorcid.org/0000-0003-0480-1078\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"twitter","value":"\u003ca
        href=\"https://twitter.com/toledobastos\" rel=\"nofollow noopener noreferrer\"
        target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003etwitter.com/toledobastos\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"personal","value":"\u003ca
        href=\"http://www.toledobastos.com\" rel=\"nofollow noopener noreferrer\"
        target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttp://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003etoledobastos.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]}]'
  recorded_at: 2022-11-08 15:38:06 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
