http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '286'
      x-ratelimit-reset: '2025-07-17T20:05:00.245225Z'
      link: <https://fosstodon.org/api/v1/timelines/public?limit=20&local=FALSE&max_id=114870362129931528&only_media=FALSE&remote=FALSE>;
        rel="next", <https://fosstodon.org/api/v1/timelines/public?limit=20&local=FALSE&min_id=114870362701816829&only_media=FALSE&remote=FALSE>;
        rel="prev"
      etag: W/"437ff177064c353ce705d8db9ab549c5"
    body:
      string: "[{\"id\":\"114870362701816829\",\"created_at\":\"2025-07-17T20:01:40.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://sportsbots.xyz/users/MLS/statuses/1945936961954259215\",\"url\":\"https://twitter.com/MLS/status/1945936961954259215\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eTwo
        goals in a dominating win over Miami. \U0001F4AA\\u003c/p\\u003e\\u003cp\\u003eEvander
        is your Player of the Matchday pres. by \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca
        href=\\\"https://twitter.com/MichelobULTRA\\\" class=\\\"u-url mention\\\"
        rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e@\\u003cspan\\u003eMichelobULTRA@twitter.com\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e.\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"account\":{\"id\":\"109660528707813578\",\"username\":\"MLS\",\"acct\":\"MLS@sportsbots.xyz\",\"display_name\":\"Major
        League Soccer \U0001F916\",\"locked\":false,\"bot\":true,\"discoverable\":true,\"indexable\":false,\"group\":false,\"created_at\":\"2010-01-21T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eUnofficial
        bot that mirrors Major League Soccer’s Twitter feed.\\u003c/p\\u003e\\u003cp\\u003eGame
        On \U0001F64C | \U0001F4FA \\u003ca href=\\\"https://twitter.com/hashtag/MLSSeasonPass\\\"
        class=\\\"mention hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eMLSSeasonPass\\u003c/span\\u003e\\u003c/a\\u003e
        on \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://twitter.com/AppleTV\\\"
        class=\\\"u-url mention\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e@\\u003cspan\\u003eAppleTV@twitter.com\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        | En español: \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://twitter.com/MLSes\\\"
        class=\\\"u-url mention\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e@\\u003cspan\\u003eMLSes@sportsbots.xyz\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e\\u003c/p\\u003e\",\"url\":\"https://sportsbots.xyz/users/MLS\",\"uri\":\"https://sportsbots.xyz/users/MLS\",\"avatar\":\"https://cdn.fosstodon.org/cache/accounts/avatars/109/660/528/707/813/578/original/b8496a6d7443c286.jpg\",\"avatar_static\":\"https://cdn.fosstodon.org/cache/accounts/avatars/109/660/528/707/813/578/original/b8496a6d7443c286.jpg\",\"header\":\"https://fosstodon.org/headers/original/missing.png\",\"header_static\":\"https://fosstodon.org/headers/original/missing.png\",\"followers_count\":3480000,\"following_count\":8800,\"statuses_count\":9674,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"emojis\":[],\"fields\":[{\"name\":\"Twitter\",\"value\":\"\\u003ca
        href=\\\"https://twitter.com/MLS\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003etwitter.com/MLS\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"Website\",\"value\":\"\\u003ca
        href=\\\"https://apple.co/MLS\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003eapple.co/MLS\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"Managed
        by\",\"value\":\"\\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://mastodon.social/@sportsbots\\\"
        class=\\\"u-url mention\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e@\\u003cspan\\u003esportsbots\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e\",\"verified_at\":null},{\"name\":\"Retention\",\"value\":\"\\u003cspan
        class=\\\"h-card\\\"\\u003e90 days\\u003c/span\\u003e\",\"verified_at\":null}]},\"media_attachments\":[{\"id\":\"114870362614905279\",\"type\":\"image\",\"url\":\"https://cdn.fosstodon.org/cache/media_attachments/files/114/870/362/614/905/279/original/978363bb3c914ee6.png\",\"preview_url\":\"https://cdn.fosstodon.org/cache/media_attachments/files/114/870/362/614/905/279/small/978363bb3c914ee6.png\",\"remote_url\":\"https://pbs.twimg.com/media/GwFbNsJXIAAkkv2.png\",\"preview_remote_url\":null,\"text_url\":null,\"meta\":{\"original\":{\"width\":960,\"height\":1200,\"size\":\"960x1200\",\"aspect\":0.8},\"small\":{\"width\":429,\"height\":536,\"size\":\"429x536\",\"aspect\":0.8003731343283582}},\"description\":null,\"blurhash\":\"UGEVQtkqJDsp-?X8xwt70Lj]jKozD+ogIVj]\"}],\"mentions\":[],\"tags\":[],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114870362660775522\",\"created_at\":\"2025-07-17T20:03:51.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"pt\",\"uri\":\"https://sunny.garden/users/odd/statuses/114870362529738550\",\"url\":\"https://sunny.garden/@odd/114870362529738550\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookma[...]
