http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/accounts/relationships?id%5B%5D=109302436954721982
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '278'
      x-ratelimit-reset: '2025-07-17T13:45:00.781690Z'
      etag: W/"c89f6ba05922efe80dbdc5fdaf454cb1"
    body:
      string: '[{"id":"109302436954721982","following":false,"showing_reblogs":false,"notifying":false,"languages":null,"followed_by":false,"blocking":false,"blocked_by":false,"muting":false,"muting_notifications":false,"requested":false,"requested_by":false,"domain_blocking":false,"endorsed":false,"note":""}]'
  recorded_at: 2025-07-17 13:44:09
recorded_with: VCR-vcr/1.7.1.93
