http_interactions:
- request:
    method: get
    uri: https://fosstodon.org/api/v1/lists/7351
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2a532865da897fbd33c3dd455f8b0a2d"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2023-07-02T20:10:00.158365Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"7351","title":"rtoot devs","replies_policy":"list"}'
  recorded_at: 2023-07-02 20:06:08 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
