http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/statuses/114620457512351116/favourited_by
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2025-07-17T20:00:00.132160Z'
      link: <https://fosstodon.org/api/v1/statuses/114620457512351116/favourited_by?since_id=12592513>;
        rel="prev"
      etag: W/"c56f0835c7caac35d1d1e0dcaa0b9d41"
    body:
      string: "[{\"id\":\"113825389125047929\",\"username\":\"kgagalova\",\"acct\":\"kgagalova@genomic.social\",\"display_name\":\"Kristina
        Gagalova\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2024-02-22T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eEvolutionary
        genomics enthusiast, plant genomics researcher, Works on: \U0001F9EC Genome
        Science and Algorithms | \U0001F4BB Software Development | \U0001F47D AI dev
        | \U0001F64B\U0001F3FB‍♀️ \\u003ca href=\\\"https://genomic.social/tags/Nextflow\\\"
        class=\\\"mention hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eNextflow\\u003c/span\\u003e\\u003c/a\\u003e
        Ambassador\\u003c/p\\u003e\",\"url\":\"https://genomic.social/@kgagalova\",\"uri\":\"https://genomic.social/users/kgagalova\",\"avatar\":\"https://cdn.fosstodon.org/cache/accounts/avatars/113/825/389/125/047/929/original/6a9757679f21c11b.jpg\",\"avatar_static\":\"https://cdn.fosstodon.org/cache/accounts/avatars/113/825/389/125/047/929/original/6a9757679f21c11b.jpg\",\"header\":\"https://cdn.fosstodon.org/cache/accounts/headers/113/825/389/125/047/929/original/02ffece67d5a6ee9.jpg\",\"header_static\":\"https://cdn.fosstodon.org/cache/accounts/headers/113/825/389/125/047/929/original/02ffece67d5a6ee9.jpg\",\"followers_count\":34,\"following_count\":107,\"statuses_count\":37,\"last_status_at\":\"2025-07-11\",\"hide_collections\":false,\"emojis\":[],\"fields\":[]},{\"id\":\"109275235124162627\",\"username\":\"Lluis_Revilla\",\"acct\":\"Lluis_Revilla\",\"display_name\":\"Lluís
        Revilla\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2022-11-02T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eBioinformatician
        \U0001F4E2 about OSS and \\u003ca href=\\\"https://fosstodon.org/tags/rstats\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003erstats\\u003c/span\\u003e\\u003c/a\\u003e,
        some analysis \U0001F4CA \\u0026amp; random thoughts and ideas \U0001F3B2\\u003cbr
        /\\u003eMy opinions/comments not those of my employer (Roche)\\u003c/p\\u003e\",\"url\":\"https://fosstodon.org/@Lluis_Revilla\",\"uri\":\"https://fosstodon.org/users/Lluis_Revilla\",\"avatar\":\"https://cdn.fosstodon.org/accounts/avatars/109/275/235/124/162/627/original/1dc6aba622d5bf51.jpg\",\"avatar_static\":\"https://cdn.fosstodon.org/accounts/avatars/109/275/235/124/162/627/original/1dc6aba622d5bf51.jpg\",\"header\":\"https://fosstodon.org/headers/original/missing.png\",\"header_static\":\"https://fosstodon.org/headers/original/missing.png\",\"followers_count\":452,\"following_count\":212,\"statuses_count\":2558,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"noindex\":true,\"emojis\":[],\"roles\":[],\"fields\":[{\"name\":\"Website\",\"value\":\"\\u003ca
        href=\\\"https://llrs.dev\\\" target=\\\"_blank\\\" rel=\\\"nofollow noopener
        me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003ellrs.dev\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"Github\",\"value\":\"\\u003ca
        href=\\\"https://github.com/llrs\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egithub.com/llrs\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2023-09-23T22:27:02.711+00:00\"}]},{\"id\":\"109505203645004316\",\"usernam[...]
