http_interactions:
- request:
    method: get
    uri: https://mastodon.hk/api/v1/instance
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-09T10:30:00.603318Z'
      etag: W/"257a317d82e6519bbda0d420f9bbb56d"
    body:
      encoding: ''
      file: no
      string: '{"uri":"mastodon.hk","title":"Mastodon.hk","short_description":"","description":"由香港人建立，鼓勵去中心化、自由和開放原碼的長毛象
        (Mastodon) 服務。","email":"francis@ignition.hk","version":"3.5.3","urls":{"streaming_api":"wss://mastodon.hk"},"stats":{"user_count":776,"status_count":18749,"domain_count":8044},"thumbnail":"https://mastodon.hk/packs/media/images/preview-5df98290371ead9a70bc3cd4733bbfa7.jpg","languages":["zh-HK"],"registrations":true,"approval_required":false,"invites_enabled":false,"configuration":{"statuses":{"max_characters":500,"max_media_attachments":4,"characters_reserved_per_url":23},"media_attachments":{"supported_mime_types":["image/jpeg","image/png","image/gif","video/webm","video/mp4","video/quicktime","video/ogg","audio/wave","audio/wav","audio/x-wav","audio/x-pn-wave","audio/ogg","audio/vorbis","audio/mpeg","audio/mp3","audio/webm","audio/flac","audio/aac","audio/m4a","audio/x-m4a","audio/mp4","audio/3gpp","video/x-ms-asf"],"image_size_limit":10485760,"image_matrix_limit":16777216,"video_size_limit":41943040,"video_frame_rate_limit":60,"video_matrix_limit":2304000},"polls":{"max_options":4,"max_characters_per_option":50,"min_expiration":300,"max_expiration":2629746}},"contact_account":{"id":"1","username":"siuying","acct":"siuying","display_name":"小影","locked":false,"bot":false,"discoverable":true,"group":false,"created_at":"2017-04-08T00:00:00.000Z","note":"\u003cp\u003eMobile
        and web developer\u003c/p\u003e","url":"https://mastodon.hk/@siuying","avatar":"https://assets.mastodon.hk/accounts/avatars/000/000/001/original/5352b2214fe9544d.jpg","avatar_static":"https://assets.mastodon.hk/accounts/avatars/000/000/001/original/5352b2214fe9544d.jpg","header":"https://assets.mastodon.hk/accounts/headers/000/000/001/original/5e8c6a975b4f89d3.jpeg","header_static":"https://assets.mastodon.hk/accounts/headers/000/000/001/original/5e8c6a975b4f89d3.jpeg","followers_count":550,"following_count":80,"statuses_count":461,"last_status_at":"2022-11-09","emojis":[],"fields":[]},"rules":[]}'
  recorded_at: 2022-11-09 10:29:15 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
