http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/statuses/114027213608365869/context
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2025-07-17T18:10:00.382733Z'
      etag: W/"a0e7e956b178e50974206356662d2624"
    body:
      string: "{\"ancestors\":[{\"id\":\"114026814291152535\",\"created_at\":\"2025-02-18T20:38:26.738Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/schochastics/statuses/114026814291152535\",\"url\":\"https://fosstodon.org/@schochastics/114026814291152535\",\"replies_count\":2,\"reblogs_count\":5,\"favourites_count\":7,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"pinned\":false,\"content\":\"\\u003cp\\u003eNot
        sure if this already exist, but I created a \\u003ca href=\\\"https://fosstodon.org/tags/quartopub\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003equartopub\\u003c/span\\u003e\\u003c/a\\u003e
        filter which adds a domain preview to each link in a quarto html document.
        Might come in handy for accessibility.\\u003c/p\\u003e\\u003cp\\u003e\U0001F4E6
        \\u003ca href=\\\"https://github.com/schochastics/quarto-url-peek\\\" target=\\\"_blank\\\"
        rel=\\\"nofollow noopener\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"ellipsis\\\"\\u003egithub.com/schochastics/quarto\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e-url-peek\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\\u003cp\\u003e\\u003ca
        href=\\\"https://fosstodon.org/tags/rstats\\\" class=\\\"mention hashtag\\\"
        rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003erstats\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"application\":null,\"account\":{\"id\":\"109302436954721982\",\"username\":\"schochastics\",\"acct\":\"schochastics\",\"display_name\":\"David
        Schoch\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":false,\"group\":false,\"created_at\":\"2022-11-07T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eData
        Scientist/DevOps Engineer at cynkra | \\u003ca href=\\\"https://fosstodon.org/tags/Rstats\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eRstats\\u003c/span\\u003e\\u003c/a\\u003e
        enthusiast\\u003c/p\\u003e\",\"url\":\"https://fosstodon.org/@schochastics\",\"uri\":\"https://fosstodon.org/users/schochastics\",\"avatar\":\"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/9f0f6bfb096f5451.png\",\"avatar_static\":\"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/9f0f6bfb096f5451.png\",\"header\":\"https://fosstodon.org/headers/original/missing.png\",\"header_static\":\"https://fosstodon.org/headers/original/missing.png\",\"followers_count\":1037,\"following_count\":138,\"statuses_count\":280,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"noindex\":false,\"emojis\":[],\"roles\":[],\"fields\":[{\"name\":\"Personal
        Webpage\",\"value\":\"\\u003ca href=\\\"https://www.mr.schochastics.net/\\\"
        target=\\\"_blank\\\" rel=\\\"nofollow noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003emr.schochastics.net/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2022-11-24T06:24:48.497+00:00\"},{\"name\":\"Github\",\"value\":\"\\u003ca
        href=\\\"https://github.com/schochastics\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egithub.com/schochastics\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2024-05-04T19:57:14.688+00:00\"},{\"name\":\"Side
        project\",\"value\":\"\\u003ca href=\\\"http://worldclubratings.com\\\" target=\\\"_blank\\\"
        rel=\\\"nofollow noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttp://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003eworldclubratings.com\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null}]},\"media_attachments\":[{\"id\":\"114026812043159708\",\"type\":\"image\",\"url\":\"https://cdn.fosstodon.org/media_attachments/files/114/026/812/043/159/708/original/1eae16ac3bd6085e.png\",\"preview_url\":\"https://cdn.fosstodon.org/media_attachments/files/114/026/812/043/159/708/small/1eae16ac3bd6085e.png\",\"remote_url\":null,\"preview_remote_url\":null,\"text_url\":null,\"meta\":{\"original\":{\"width\":1710,\"height\":676,\"size\":\"1710x676\",\"aspect\":2.529585798816568},\"small\":{\"width\":763,\"height\":302,\"size\":\"763x302\",\"aspect\":2.5264900662251657},\"focus\":{\"x\":0.0,\"y\":0.0}},\"description\":\"screenshot
        of a document that contains links processed by url-peek\",\"blurhash\":\"U9S6Sv01IVxv_2D%IUax%1adIUR*.7IoRjt7\"}],\"mentions\":[],\"tags\":[{\"name\":\"QuartoPub\",\"url\":\"https://fosstodon.org/tags/QuartoPub\"},{\"name\":\"rstats\",\"url\":\"https://fosstodon.org/tags/rstats\"}],\"emojis\":[],\"quote\":null,\"card\":{\"url\":\"https://github.com/schochastics/quarto-url-peek\",\"title\":\"GitHub
        - schochastics/quarto-url-peek: domain preview in quarto html documents\",\"description\":\"domain
        preview in quarto html documents. Contribute to schochastics/quarto-url-peek
        development by creating an account on GitHub.\",\"language\":\"en\",\"type\":\"link\",\"author_name\":\"\",\"author_url\":\"\",\"provider_name\":\"GitHub\",\"provider_url\":\"\",\"html\":\"\",\"width\":678,\"height\":339,\"image\":null,\"image_description\":\"domain
        preview in quarto html documents. Contribute to schochastics/quarto-url-peek
        development by creating an account on GitHub.\",\"embed_url\":\"\",\"blurhash\":\"UWRypY%NRPxu%0tRRjkCIVWBogfP~qRPtRf6\",\"published_at\":null,\"authors\":[]},\"poll\":null}],\"descendants\":[]}"
  recorded_at: 2025-07-17 18:05:08
recorded_with: VCR-vcr/1.7.1.93
