http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/accounts/109302436954721982/featured_tags
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '280'
      x-ratelimit-reset: '2025-07-17T13:45:00.646321Z'
      etag: W/"ddcd127dc7153ddf32ef153711a11751"
    body:
      string: '[{"id":"6444","name":"RStats","url":"https://fosstodon.org/@schochastics/tagged/rstats","statuses_count":"88","last_status_at":"2025-06-03"}]'
  recorded_at: 2025-07-17 13:44:09
recorded_with: VCR-vcr/1.7.1.93
