http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/accounts/109302436954721982/followers?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '292'
      x-ratelimit-reset: '2025-07-17T13:45:00.241610Z'
      link: <https://fosstodon.org/api/v1/accounts/109302436954721982/followers?limit=3&max_id=5122703>;
        rel="next", <https://fosstodon.org/api/v1/accounts/109302436954721982/followers?limit=3&since_id=5127706>;
        rel="prev"
      etag: W/"20e6738d8a913b4f6d3f7ec53287b6d3"
    body:
      string: '[{"id":"109314659264330175","username":"diegantobass","acct":"diegantobass","display_name":"Diego","locked":false,"bot":false,"discoverable":null,"indexable":false,"group":false,"created_at":"2022-11-09T00:00:00.000Z","note":"\u003cp\u003eResearch
        software engineer - Lausanne, CH\u003c/p\u003e\u003cp\u003eJournalism studies
        @ Académie du journalisme et des médias, Université de Neuchâtel\u003c/p\u003e\u003cp\u003eAssociate
        researcher @ médialab, Sciences Po \u003cspan class=\"h-card\" translate=\"no\"\u003e\u003ca
        href=\"https://mastodon.social/@medialab_scpo\" class=\"u-url mention\"\u003e@\u003cspan\u003emedialab_scpo\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e\u003c/p\u003e\u003cp\u003eDoppelgänger
        \u003cspan class=\"h-card\" translate=\"no\"\u003e\u003ca href=\"https://social.sciences.re/@diegantobass\"
        class=\"u-url mention\"\u003e@\u003cspan\u003ediegantobass\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e\u003c/p\u003e","url":"https://fosstodon.org/@diegantobass","uri":"https://fosstodon.org/users/diegantobass","avatar":"https://cdn.fosstodon.org/accounts/avatars/109/314/659/264/330/175/original/0521f9aaaf71d894.jpg","avatar_static":"https://cdn.fosstodon.org/accounts/avatars/109/314/659/264/330/175/original/0521f9aaaf71d894.jpg","header":"https://fosstodon.org/headers/original/missing.png","header_static":"https://fosstodon.org/headers/original/missing.png","followers_count":27,"following_count":1270,"statuses_count":19,"last_status_at":"2025-07-13","hide_collections":null,"noindex":true,"emojis":[],"roles":[],"fields":[]},{"id":"114854540194806883","username":"thomasw","acct":"thomasw@toot.community","display_name":"Thomas","locked":false,"bot":false,"discoverable":true,"indexable":true,"group":false,"created_at":"2025-07-14T00:00:00.000Z","note":"\u003cp\u003eFormer
        admin of toot.bldrweb.org - finding a new home on the fediverse.\u003c/p\u003e","url":"https://toot.community/@thomasw","uri":"https://toot.community/users/thomasw","avatar":"https://cdn.fosstodon.org/cache/accounts/avatars/114/854/540/194/806/883/original/120b8c386cf859bf.png","avatar_static":"https://cdn.fosstodon.org/cache/accounts/avatars/114/854/540/194/806/883/original/120b8c386cf859bf.png","header":"https://cdn.fosstodon.org/cache/accounts/headers/114/854/540/194/806/883/original/8b695bb955d78eb9.jpg","header_static":"https://cdn.fosstodon.org/cache/accounts/headers/114/854/540/194/806/883/original/8b695bb955d78eb9.jpg","followers_count":7,"following_count":464,"statuses_count":1,"last_status_at":null,"hide_collections":false,"emojis":[],"fields":[{"name":"Github","value":"\u003ca
        href=\"https://github.com/thomascwells\" rel=\"nofollow noopener\" translate=\"no\"
        target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/thomascwells\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},{"id":"114847598865709388","username":"xaranix19","acct":"xaranix19@mastodon.social","display_name":"Emma(Xara
        nix)","locked":false,"bot":false,"discoverable":true,"indexable":true,"group":false,"created_at":"2025-05-20T00:00:00.000Z","note":"\u003cp\u003eI
        run my own textile business and real estate agent. I''m looking for a good,honest
        and polite friend forever who always respect me and care able person\u003cbr\u003e\u003ca
        href=\"https://x.com/Emma227222\" rel=\"nofollow noopener\" translate=\"no\"
        target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003ex.com/Emma227222\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e\u003c/p\u003e","url":"https://mastodon.social/@xaranix19","uri":"https://mastodon.social/users/xaranix19","avatar":"https://cdn.fosstodon.org/cache/accounts/avatars/114/847/598/865/709/388/original/392b6ebce4fbc2cd.jpg","avatar_static":"https://cdn.fosstodon.org/cache/accounts/avatars/114/847/598/865/709/388/original/392b6ebce4fbc2cd.jpg","header":"https://cdn.fosstodon.org/cache/accounts/headers/114/847/598/865/709/388/original/2881358c38a145d9.jpg","header_static":"https://cdn.fosstodon.org/cache/accounts/headers/114/847/598/865/709/388/original/2881358c38a145d9.jpg","followers_count":5,"following_count":151,"statuses_count":3,"last_status_at":null,"hide_collections":false,"emojis":[],"fields":[]}]'
  recorded_at: 2025-07-17 13:44:08
recorded_with: VCR-vcr/1.7.1.93
