http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d6f2c9c7cea294cbcdf9b425e6424e5d"
      link: <https://social.tchncs.de/api/v1/timelines/public?limit=20&local=FALSE&max_id=109308030399008461&only_media=FALSE&remote=FALSE>;
        rel="next", <https://social.tchncs.de/api/v1/timelines/public?limit=20&local=FALSE&min_id=109308031298248164&only_media=FALSE&remote=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '297'
      x-ratelimit-reset: '2022-11-08T11:50:00.515097Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109308031298248164\",\"created_at\":\"2022-11-08T11:49:51.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://mastodon.social/users/greenjobs/statuses/109308031219880660\",\"url\":\"https://mastodon.social/@greenjobs/109308031219880660\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003e\\u003ca
        href=\\\"https://mastodon.social/tags/Job\\\" class=\\\"mention hashtag\\\"
        rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eJob\\u003c/span\\u003e\\u003c/a\\u003e
        in \\u003ca href=\\\"https://mastodon.social/tags/Hamburg\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eHamburg\\u003c/span\\u003e\\u003c/a\\u003e:\\u003cbr\\u003eReferentin
        bzw. Referent (w/m/d) Nachhaltiges Bauen \\u003cbr\\u003e\\u003ca href=\\\"https://greenjobs.de/a100114177\\\"
        rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003egreenjobs.de/a100114177\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"reblog\":null,\"account\":{\"id\":\"108272877825161220\",\"username\":\"greenjobs\",\"acct\":\"greenjobs@mastodon.social\",\"display_name\":\"greenjobs.de\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2022-05-06T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eJobs
        für die Energiewende, Agrarwende, Verkehrswende!\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@greenjobs\",\"avatar\":\"https://f2.tchncs.de/cache/accounts/avatars/108/272/877/825/161/220/original/4c7357932a53f242.png\",\"avatar_static\":\"https://f2.tchncs.de/cache/accounts/avatars/108/272/877/825/161/220/original/4c7357932a53f242.png\",\"header\":\"https://f2.tchncs.de/cache/accounts/headers/108/272/877/825/161/220/original/ff7ebd37b9d44cc7.png\",\"header_static\":\"https://f2.tchncs.de/cache/accounts/headers/108/272/877/825/161/220/original/ff7ebd37b9d44cc7.png\",\"followers_count\":140,\"following_count\":72,\"statuses_count\":4086,\"last_status_at\":\"2022-11-08\",\"emojis\":[],\"fields\":[{\"name\":\"Website\",\"value\":\"\\u003ca
        href=\\\"https://www.greenjobs.de\\\" rel=\\\"nofollow noopener noreferrer\\\"
        target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egreenjobs.de\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2022-11-06T00:44:30.260+00:00\"}]},\"media_attachments\":[],\"mentions\":[],\"tags\":[{\"name\":\"hamburg\",\"url\":\"https://social.tchncs.de/tags/hamburg\"},{\"name\":\"job\",\"url\":\"https://social.tchncs.de/tags/job\"}],\"emojis\":[],\"card\":null,\"poll\":null},{\"id\":\"109308031271578914\",\"created_at\":\"2022-11-08T11:49:50.000Z\",\"in_reply_to_id\":\"109308029355066875\",\"in_reply_to_account_id\":\"108195570612012478\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/Scott1984FP/statuses/109308031156902369\",\"url\":\"https://mastodon.social/@Scott1984FP/109308031156902369\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favou[...]
