http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/timelines/public?local=TRUE&remote=FALSE&only_media=FALSE&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a5be6f9e7b2b32f3a555951773f16d8a"
      link: <https://social.tchncs.de/api/v1/timelines/public?limit=10&local=TRUE&max_id=109308074801548627&only_media=FALSE&remote=FALSE>;
        rel="next", <https://social.tchncs.de/api/v1/timelines/public?limit=10&local=TRUE&min_id=109308098827977220&only_media=FALSE&remote=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-08T12:10:00.109944Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109308098827977220\",\"created_at\":\"2022-11-08T12:07:02.841Z\",\"in_reply_to_id\":\"109308090601389322\",\"in_reply_to_account_id\":\"15270\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"fr\",\"uri\":\"https://social.tchncs.de/users/digger2/statuses/109308098827977220\",\"url\":\"https://social.tchncs.de/@digger2/109308098827977220\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eJe
        compati pour toutes les personnes qui ont un nez et des oreilles et qui sont
        oubliees dans les nombreux emojis existants. \\u003ca href=\\\"https://social.tchncs.de/tags/TrouvesToiUnCombatUtile\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eTrouvesToiUnCombatUtile\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"reblog\":null,\"application\":{\"name\":\"Tusky\",\"website\":\"https://tusky.app\"},\"account\":{\"id\":\"15270\",\"username\":\"digger2\",\"acct\":\"digger2\",\"display_name\":\"DiGGeR2\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2017-04-06T00:00:00.000Z\",\"note\":\"\",\"url\":\"https://social.tchncs.de/@digger2\",\"avatar\":\"https://f2.tchncs.de/accounts/avatars/000/015/270/original/6d047bd2a683d61f.jpg\",\"avatar_static\":\"https://f2.tchncs.de/accounts/avatars/000/015/270/original/6d047bd2a683d61f.jpg\",\"header\":\"https://f2.tchncs.de/accounts/headers/000/015/270/original/3236cd647a9691cf.png\",\"header_static\":\"https://f2.tchncs.de/accounts/headers/000/015/270/original/3236cd647a9691cf.png\",\"followers_count\":35,\"following_count\":10,\"statuses_count\":2600,\"last_status_at\":\"2022-11-08\",\"emojis\":[],\"fields\":[]},\"media_attachments\":[],\"mentions\":[],\"tags\":[{\"name\":\"TrouvesToiUnCombatUtile\",\"url\":\"https://social.tchncs.de/tags/TrouvesToiUnCombatUtile\"}],\"emojis\":[],\"card\":null,\"poll\":null},{\"id\":\"109308096943301298\",\"created_at\":\"2022-11-08T12:06:34.080Z\",\"in_reply_to_id\":\"109308090606133041\",\"in_reply_to_account_id\":\"106856450079448288\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://social.tchncs.de/users/katzenberger/statuses/109308096943301298\",\"url\":\"https://social.tchncs.de/@katzenberger/109308096943301298\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"f[...]
