http_interactions:
- request:
    method: GET
    uri: https://mastodon.hk/api/v1/instance
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7802971e902174d02ea07f1bbdd2bb48"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2025-07-17T13:45:00.939013Z'
    body:
      string: '{"uri":"mastodon.hk","title":"Mastodon.hk","short_description":"","description":"由香港人建立，鼓勵去中心化、自由和開放原碼的長毛象
        (Mastodon) 服務。","email":"francis@ignition.hk","version":"4.3.4","urls":{"streaming_api":"wss://mastodon.hk"},"stats":{"user_count":1027,"status_count":61646,"domain_count":23632},"thumbnail":"https://mastodon.hk/packs/media/images/preview-6399aebd96ccf025654e2977454f168f.png","languages":["zh-HK"],"registrations":true,"approval_required":true,"invites_enabled":false,"configuration":{"accounts":{"max_featured_tags":10},"statuses":{"max_characters":500,"max_media_attachments":4,"characters_reserved_per_url":23},"media_attachments":{"supported_mime_types":["image/jpeg","image/png","image/gif","image/heic","image/heif","image/webp","image/avif","video/webm","video/mp4","video/quicktime","video/ogg","audio/wave","audio/wav","audio/x-wav","audio/x-pn-wave","audio/vnd.wave","audio/ogg","audio/vorbis","audio/mpeg","audio/mp3","audio/webm","audio/flac","audio/aac","audio/m4a","audio/x-m4a","audio/mp4","audio/3gpp","video/x-ms-asf"],"image_size_limit":16777216,"image_matrix_limit":33177600,"video_size_limit":103809024,"video_frame_rate_limit":120,"video_matrix_limit":8294400},"polls":{"max_options":4,"max_characters_per_option":50,"min_expiration":300,"max_expiration":2629746}},"contact_account":{"id":"1","username":"siuying","acct":"siuying","display_name":"Francis
        Chong","locked":false,"bot":false,"discoverable":true,"indexable":false,"group":false,"created_at":"2017-04-08T00:00:00.000Z","note":"\u003cp\u003eiOS
        and web developer based in London.\u003c/p\u003e","url":"https://mastodon.hk/@siuying","uri":"https://mastodon.hk/users/siuying","avatar":"https://mastodonhk.sgp1.cdn.digitaloceanspaces.com/accounts/avatars/000/000/001/original/5352b2214fe9544d.jpg","avatar_static":"https://mastodonhk.sgp1.cdn.digitaloceanspaces.com/accounts/avatars/000/000/001/original/5352b2214fe9544d.jpg","header":"https://mastodonhk.sgp1.cdn.digitaloceanspaces.com/accounts/headers/000/000/001/original/654b6bf55733dcee.jpeg","header_static":"https://mastodonhk.sgp1.cdn.digitaloceanspaces.com/accounts/headers/000/000/001/original/654b6bf55733dcee.jpeg","followers_count":809,"following_count":266,"statuses_count":4505,"last_status_at":"2025-07-17","hide_collections":true,"noindex":false,"emojis":[],"roles":[{"id":"3","name":"Owner","color":"#d783ff"}],"fields":[{"name":"Patreon","value":"\u003ca
        href=\"https://www.patreon.com/mastodon_hk\" target=\"_blank\" rel=\"nofollow
        noopener noreferrer me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003epatreon.com/mastodon_hk\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"Github","value":"\u003ca
        href=\"https://github.com/siuying\" target=\"_blank\" rel=\"nofollow noopener
        noreferrer me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/siuying\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2022-11-13T01:57:58.358+00:00"},{"name":"Blog","value":"\u003ca
        href=\"https://reality.hk/\" target=\"_blank\" rel=\"nofollow noopener noreferrer
        me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003ereality.hk/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2022-11-13T01:55:40.811+00:00"}]},"rules":[{"id":"3","text":"你發佈的內容屬於你，你需要為它們負責。\r\nYou
        own what you post and are responsible for it.","hint":""},{"id":"4","text":"請勿發佈惡意、傷害性、騷擾、歧視或非法的內容。\r\n\r\nNo
        malicious, abusive, harassment, discriminatory, violent or illegal content.","hint":""},{"id":"5","text":"我們不保證能長期在線，或者效能流暢。請緊記備份。\r\n\r\nWe
        cannot guarantee the availability or performance of this service.","hint":""},{"id":"6","text":"你的
        IP 位址、活動時間、活動網址均有紀錄，以作維護本站服務用途。\r\n\r\nYour IP address, time, request URL
        is logged on the server for maintenance purpose.","hint":""},{"id":"7","text":"伺服器守則可能會在未來進行修訂。\r\n\r\nThis
        server rule may be modified in the future.","hint":""}]}'
  recorded_at: 2025-07-17 13:44:24
recorded_with: VCR-vcr/1.7.1.93
