http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/timelines/tag/ichbinhanna?local=FALSE&only_media=FALSE&limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"423aa95d938691ef54982c54d9f582d7"
      link: <https://social.tchncs.de/api/v1/timelines/tag/ichbinhanna?limit=5&local=FALSE&max_id=114817646447304561&only_media=FALSE>;
        rel="next", <https://social.tchncs.de/api/v1/timelines/tag/ichbinhanna?limit=5&local=FALSE&min_id=114856169696240008&only_media=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '289'
      x-ratelimit-reset: '2025-07-17T13:45:00.933986Z'
    body:
      string: "[{\"id\":\"114856169696240008\",\"created_at\":\"2025-07-15T07:54:23.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://mstdn.science/users/laborjournal/statuses/114856169522394793\",\"url\":\"https://mstdn.science/@laborjournal/114856169522394793\",\"replies_count\":0,\"reblogs_count\":2,\"favourites_count\":0,\"edited_at\":\"2025-07-15T07:55:30.000Z\",\"content\":\"\\u003cp\\u003eUnser
        Heft 7-8/2025 ist raus!\\u003c/p\\u003e\\u003cp\\u003eWie jeden Sommer mit
        starken Meinungen in eingeladenen Essays und Interviews – unter anderem zu:\\u003c/p\\u003e\\u003cp\\u003e-
        \\u003ca href=\\\"https://mstdn.science/tags/Wissenschaftsfreiheit\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eWissenschaftsfreiheit\\u003c/span\\u003e\\u003c/a\\u003e;\\u003cbr\\u003e-
        \[...]
