http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/custom_emojis
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2b5183402687c537b91a173229bca6f4"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '277'
      x-ratelimit-reset: '2025-07-17T13:45:00.332531Z'
    body:
      string: '[{"shortcode":"ablobcatattention","url":"https://f2.tchncs.de/custom_emojis/images/000/366/118/original/478da8cf034113b6.png","static_url":"https://f2.tchncs.de/custom_emojis/images/000/366/118/static/478da8cf034113b6.png","visible_in_picker":true,"category":"blobcat"},{"shortcode":"ablobcatbongo","url":"https://f2.tchncs.de/custom_emojis/images/000/366/119/original/3927d17fc925ad3a.png","static_url":"https://f2.tchncs.de/custom_emojis/images/000/366/119/static/3927d17fc925ad3a.png","visible_in_picker":true,"category":"blobcat"},{"shortcode":"ablobcatcoffee","url":"https://f2.tchncs.de/custom_emojis/images/000/366/193/original/4e41916a4b8d617f.png","static_url":"https://f2.tchncs.de/custom_emojis/images/000/366/193/static/4e41916a4b8d617f.png","visi[...]
