http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/blocks?limit=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"abfa243bf11bd8fb66272f2437758210"
      link: <https://social.tchncs.de/api/v1/blocks?limit=3&since_id=46265>; rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '293'
      x-ratelimit-reset: '2022-11-09T09:55:00.533540Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"32487","username":"rfortunes","acct":"rfortunes@mamot.fr","display_name":"RFortunes","locked":false,"bot":true,"discoverable":false,"group":false,"created_at":"2017-04-16T00:00:00.000Z","note":"\u003cp\u003eA
        collection of fortunes from the R community. Bot built from Achim Zeileis''  R
        package \"fortunes\". Nothing official. Updated twice a day.\u003c/p\u003e","url":"https://mamot.fr/@rfortunes","avatar":"https://f2.tchncs.de/accounts/avatars/000/032/487/original/5f8fcf6a2e13e97f.png","avatar_static":"https://f2.tchncs.de/accounts/avatars/000/032/487/original/5f8fcf6a2e13e97f.png","header":"https://social.tchncs.de/headers/original/missing.png","header_static":"https://social.tchncs.de/headers/original/missing.png","followers_count":94,"following_count":0,"statuses_count":4029,"last_status_at":"2022-11-09","emojis":[],"fields":[{"name":"Built
        by","value":"\u003cspan class=\"h-card\"\u003e\u003ca href=\"https://mamot.fr/@koantig\"
        class=\"u-url mention\" rel=\"nofollow noopener noreferrer\" target=\"_blank\"\u003e@\u003cspan\u003ekoantig\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e","verified_at":null},{"name":"Written
        in","value":"Go","verified_at":null}]}]'
  recorded_at: 2022-11-09 09:52:00 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
