http_interactions:
- request:
    method: GET
    uri: https://instances.social/api/1.0/instances/list?count=20&sort_by=users&sort_order=desc
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"764f-eXrfu6OZH5yAk4COsynoTZkVZL0"
    body:
      string: '{"instances":[{"id":"59067231bf4623585ed68d91","name":"mastodon.social","added_at":null,"updated_at":"2025-07-17T13:30:24.300Z","checked_at":"2025-07-17T13:30:24.300Z","uptime":1,"up":true,"dead":false,"version":null,"ipv6":true,"https_score":100,"https_rank":"A+","obs_score":125,"obs_rank":"A+","users":"2808365","statuses":"138756673","connections":"88552","open_registrations":true,"info":{"short_description":"The
        original server operated by the Mastodon gGmbH non-profit","full_description":"<p>Please
        mind that the <a href=\"mailto:staff@mastodon.social\">staff@mastodon.social</a>
        e-mail is for inquiries related to the operation of the mastodon.social server
        specifically. If your account is on another server, <strong>we will not be
        able to assist you</strong>. For inquiries not related specifically to the
        operation of this server, such as press inquiries about Mastodon gGmbH, please
        contact <a href=\"mailto:press@joinmastodon.org\">press@joinmastodon.org</a>.
        Additional addresses:</p>\n\n<ul>\n<li>Legal, GDPR, DMCA: <a href=\"mailto:legal@mastodon.social\">legal@mastodon.social</a></li>\n<li>Appeals:
        <a href=\"mailto:moderation@mastodon.social\">moderation@mastodon.social</a></li>\n</ul>\n\n<h2>Funding</h2>\n\n<p>This
        server is crowdfunded by <a href=\"https://patreon.com/mastodon\">Patreon
        donations</a>. For a list of sponsors, see <a href=\"https://joinmastodon.org/sponsors\">joinmastodon.org</a>.</p>\n\n<h2>Reporting
        and moderation</h2>\n\n<p>When reporting accounts, please make sure to include
        at least a few posts that show rule-breaking behaviour, when applicable. If
        there is any additional context that might help make a decision, please also
        include it in the comment. This is especially important when the content is
        in a language nobody on the moderation team speaks.</p>\n\n<p>We usually handle
        reports within 24 hours. Please mind that you are not notified when a report
        you have made has led to a punitive action, and that not all punitive actions
        are externally visible. For first time offenses, we may opt to delete offending
        content, escalating to harsher measures on repeat offenses.</p>\n\n<p>We have
        a team of paid moderators. If you would like to become a moderator, get in
        touch with us through the e-mail address above.</p>\n\n<h2>Impressum</h2>\n\n<p>Mastodon
        gGmbH<br>\nMühlenstraße 8a<br>\n14167 Berlin<br>\nGermany</p>\n\n<p>E-Mail-Adresse:
        hello@joinmastodon.org</p>\n\n<p>Vertretungsberechtigt: Eugen Rochko (Geschäftsführer)</p>\n\n<p>Umsatzsteuer
        Identifikationsnummer (USt-ID): DE344258260</p>\n\n<p>Handelsregister<br>\nGeführt
        bei: Amtsgericht Charlottenburg<br>\nNummer: HRB 230086 B</p>\n","topic":"Mastodon","languages":["en"],"other_languages_accepted":true,"federates_with":null,"prohibited_content":["nudity_nocw","pornography_nocw","illegalContentLinks","spam","advertising"],"categories":[]},"thumbnail":"https://files.mastodon.social/site_uploads/files/000/000/001/@1x/57c12f441d083cde.png","thumbnail_proxy":"https://camo.instances.social/3eb87e258204c00f81a82a5b8fa573ab905df112/68747470733a2f2f66696c65732e6d6173746f646f6e2e736f6369616c2f736974655f75706c6f6164732f66696c65732f3030302f3030302f3030312f4031782f353763313266343431643038336364652e706e67","active_users":147066,"email":"staff@mastodon.social","admin":"Mastodon"},{"id":"6811543e812b7be01489ed10","name":"postgres.big.sound-city.dk","added_at":"2025-04-29T22:35:42.946Z","updated_at":"2025-07-17T13:55:28.778Z","checked_at":"2025-07-17T13:55:28.778Z","uptime":1,"up":true,"dead":false,"version":null,"ipv6":false,"https_score":10,"https_rank":"E
        ","obs_score":null,"obs_rank":null,"users":"2011536","statuses":"0","connections":"155","open_registrations":false,"info":{"short_description":null,"full_description":null,"topic":"postgres.big.soun[...]
