http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/timelines/public?local=TRUE&remote=FALSE&only_media=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '284'
      x-ratelimit-reset: '2025-07-17T20:05:00.914800Z'
      link: <https://fosstodon.org/api/v1/timelines/public?limit=10&local=TRUE&max_id=114870316316166788&only_media=FALSE&remote=FALSE>;
        rel="next", <https://fosstodon.org/api/v1/timelines/public?limit=10&local=TRUE&min_id=114870359866949025&only_media=FALSE&remote=FALSE>;
        rel="prev"
      etag: W/"5c4b7b016063dd4732fd7a3a1bb1aa43"
    body:
      string: "[{\"id\":\"114870359866949025\",\"created_at\":\"2025-07-17T20:03:10.741Z\",\"in_reply_to_id\":\"114870341462245939\",\"in_reply_to_account_id\":\"109319291946357203\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/MisterHW/statuses/114870359866949025\",\"url\":\"https://fosstodon.org/@MisterHW/114870359866949025\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eNot
        as extreme but still on-point for the little circuit I\\u0026#39;m working
        on:\\u003c/p\\u003e\\u003cp\\u003eNHUMH1X - V_EBO=10V\\u003c/p\\u003e\\u003cp\\u003echeap,
        more pedestrian. \\u003c/p\\u003e\\u003cp\\u003e\\u003ca href=\\\"https://assets.nexperia.com/documents/data-sheet/NHUMH11_1_2_SER.pdf\\\"
        target=\\\"_blank\\\" rel=\\\"nofollow noopener\\\" translate=\\\"no\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"ellipsis\\\"\\u003eassets.nexperia.com/documents/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003edata-sheet/NHUMH11_1_2_SER.pdf\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"application\":null,\"account\":{\"id\":\"109319291946357203\",\"username\":\"MisterHW\",\"acct\":\"MisterHW\",\"display_name\":\"Helge
        Wurst\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"indexable\":false,\"group\":false,\"created_at\":\"2022-11-10T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eStudied
        physics, now into power electronics and RF. PCB design with KiCad, mechanical
        design with FreeCAD. C/C++, Python to breathe life into things. Likes FEM,
        FDTD.\\u003c/p\\u003e\",\"url\":\"https://fosstodon.org/@MisterHW\",\"uri\":\"https://fosstodon.org/users/MisterHW\",\"avatar\":\"https://fosstodon.org/avatars/original/missing.png\",\"avatar_static\":\"https://fosstodon.org/avatars/original/missing.png\",\"header\":\"https://fosstodon.org/headers/original/missing.png\",\"header_static\":\"https://fosstodon.org/headers/original/missing.png\",\"followers_count\":114,\"following_count\":37,\"statuses_count\":1748,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"noindex\":true,\"emojis\":[],\"roles\":[],\"fields\":[{\"name\":\"github\",\"value\":\"\\u003ca
        href=\\\"https://github.com/MisterHW\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egithub.com/MisterHW\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null}]},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114870356175589097\",\"created_at\":\"2025-07-17T20:02:14.416Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/dneaves/statuses/114870356175589097\",\"url\":\"https://fosstodon.org/@dneaves/114870356175589097\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eDo
        we think I\\u0026#39;ll die if I drink the thicc coke?\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"application\":{\"name\":\"Buffer\",\"website\":\"https://buffer.com\"},\"account\":{\"id\":\"238062\",\"username\":\"dneaves\",\"acct\":\"dneaves\",\"display_name\":\"Dave\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":false,\"group\":false,\"created_at\":\"2020-05-22T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e31
        he/him\\u003cbr /\\u003e\U0001F47E Game Player\\u003cbr /\\u003e\U0001F3B2
        Dice Jailor\\u003cbr /\\u003e\U0001F4BB Functional Typer\\u003cbr /\\u003e\U0001F4F9
        Content Creator\\u003cbr /\[...]
