http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/statuses/109294719267373593/reblogged_by
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"64fe8e9f992d112454abcef1004ead6b"
      link: <https://mastodon.social/api/v1/statuses/109294719267373593/reblogged_by?max_id=109307998069569064>;
        rel="next", <https://mastodon.social/api/v1/statuses/109294719267373593/reblogged_by?since_id=109308916453228732>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '295'
      x-ratelimit-reset: '2022-11-08T15:40:00.745942Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109258710919700001\",\"username\":\"yappydagger\",\"acct\":\"yappydagger\",\"display_name\":\"Thee
        AV\U0001F56F️FU Alito\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2022-10-30T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e\U0001F47B
        of ∆V                          \\u003cbr /\\u003e                      \\u003cbr
        /\\u003e\\u003ca href=\\\"https://mastodon.social/tags/FuqUrRacism\\\" class=\\\"mention
        hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eFuqUrRacism\\u003c/span\\u003e\\u003c/a\\u003e
        \ \\u003ca href=\\\"https://mastodon.social/tags/VotingRights\\\" class=\\\"mention
        hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eVotingRights\\u003c/span\\u003e\\u003c/a\\u003e\\u003cbr
        /\\u003e\\u003ca href=\\\"https://mastodon.social/tags/DontTreadOnMeWithUrReligion\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eDontTreadOnMeWithUrReligion\\u003c/span\\u003e\\u003c/a\\u003e\\u003cbr
        /\\u003e\\u003ca href=\\\"https://mastodon.social/tags/FuckOffRussianWarship\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eFuckOffRussianWarship\\u003c/span\\u003e\\u003c/a\\u003e
        \\u003cbr /\\u003e\\u003ca href=\\\"https://mastodon.social/tags/GOPThrewACoup\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eGOPThrewACoup\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@yappydagger\",\"avatar\":\"https://files.mastodon.social/accounts/avatars/109/258/710/919/700/001/original/db391a6773f9f9ce.jpg\",\"avatar_static\":\"https://files.mastodon.social/accounts/avatars/109/258/710/919/700/001/original/db391a6773f9f9ce.jpg\",\"header\":\"https://static-cdn.mastodon.social/headers/original/missing.png\",\"header_static\":\"https://static-cdn.mastodon.social/headers/original/missing.png\",\"followers_count\":3,\"following_count\":25,\"statuses_count\":82,\"last_status_at\":\"2022-11-08\",\"noindex\":false,\"emojis\":[],\"fields\":[]},{\"id\":\"109298374026784828\",\"username\":\"cdarwin\",\"acct\":\"cdarwin@c.im\",\"display_name\":\"Chuck
        Darwin\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2022-11-06T00:00:00.000Z\",\"note\":\"\",\"url\":\"https://c.im/@cdarwin\",\"avatar\":\"https://static-cdn.mastodon.social/avatars/original/missing.png\",\"avatar_static\":\"https://static-cdn.mastodon.social/avatars/original/missing.png\",\"header\":\"https://static-cdn.mastodon.soci[...]
