http_interactions:
- request:
    method: GET
    uri: https://mastodon.social/api/v1/statuses/109294719267373593
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T13:45:00.758609Z'
      x-ratelimit-remaining: '295'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"2a54259720456d87ffd52013bf48ebd6"
    body:
      string: "{\"id\":\"109294719267373593\",\"created_at\":\"2022-11-06T03:24:27.042Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/austinkocher/statuses/109294719267373593\",\"url\":\"https://mastodon.social/@austinkocher/109294719267373593\",\"replies_count\":105,\"reblogs_count\":2073,\"favourites_count\":3236,\"edited_at\":null,\"content\":\"\\u003cp\\u003eMastodon
        will update to 4.0 soon! Here are the most exciting new features (in addition
        to fixes \\u0026amp; changes):\\u003c/p\\u003e\\u003cp\\u003e- ability to
        follow hashtags\\u003cbr /\\u003e- ability to filter by language\\u003cbr
        /\\u003e- ability to translate posts \\u003cbr /\\u003e- ability to post HEIC
        files (i.e. your iPhone’s native photo format)\\u003cbr /\\u003e- define user
        roles (big deal for admins)\\u003cbr /\\u003[...]
