http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"39bfa886e8b5a5430b3f8c144b729b93"
      link: <https://mastodon.social/api/v1/timelines/public?limit=20&local=FALSE&max_id=109308112750409630&only_media=FALSE&remote=FALSE>;
        rel="next", <https://mastodon.social/api/v1/timelines/public?limit=20&local=FALSE&min_id=109308114070435630&only_media=FALSE&remote=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-08T12:15:00.932342Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109308114070435630\",\"created_at\":\"2022-11-08T12:10:54.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://infosec.exchange/users/securescientist/statuses/109308114023332115\",\"url\":\"https://infosec.exchange/@securescientist/109308114023332115\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003estill
        waiting on our \\u003ca href=\\\"https://infosec.exchange/tags/chi2023\\\"
        class=\\\"mention hashtag\\\" rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003echi2023\\u003c/span\\u003e\\u003c/a\\u003e
        reviews. First author's email address is no longer active, and reviews are
        not available on the online system. This was quite a surprise. Also confusing
        that paper submission notifications are sent to all authors, but reviews aren't.\\u003c/p\\u003e\",\"reblog\":null,\"account\":{\"id\":\"109293921241692605\",\"username\":\"securescientist\",\"acct\":\"securescientist@infosec.exchange\",\"display_name\":\"Luca\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2022-11-05T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eFaculty
        @TUEindhoven, the Netherlands \U0001F1F3\U0001F1F1. I study threats, mostly
        of the cyber kind. \\u003ca href=\\\"https://lallodi.github.io\\\" rel=\\\"nofollow
        noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003elallodi.github.io\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e
        :verified:\\u003c/p\\u003e\",\"url\":\"https://infosec.exchange/@securescientist\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/293/921/241/692/605/original/7ac1c213d314dc01.png\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/109/293/921/241/692/605/original/7ac1c213d314dc01.png\",\"header\":\"https://files.mastodon.social/cache/accounts/headers/109/293/921/241/692/605/original/ef18389dca700c80.jpeg\",\"header_static\":\"https://files.mastodon.social/cache/accounts/headers/109/293/921/241/692/605/original/ef18389dca700c80.jpeg\",\"followers_count\":31,\"following_count\":21,\"statuses_count\":34,\"last_status_at\":\"2022-11-08\",\"emojis\":[{\"shortcode\":\"verified\",\"url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/044/115/original/9804b0017e30a97a.png\",\"static_url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/044/115/static/9804b0017e30a97a.png\",\"visible_in_picker\":true}],\"fields\":[{\"name\":\"Academic
        webpage\",\"value\":\"\\u003ca href=\\\"https://lallodi.github.io\\\" rel=\\\"nofollow
        noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003elallodi.github.io\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null}]},\"media_attachments\":[],\"mentions\":[],\"tags\":[{\"name\":\"CHI2023\",\"url\":\"https://mastodon.social/tags/CHI2023\"}],\"emojis\":[],\"card\":null,\"poll\":null},{\"id\":\"109308113912813570\",\"created_at\":\"2022-11-08T12:10:49.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.beer/users/thomas/statuses/109308113685083684\",\"url\":\"https://mastodon.beer/@thomas/109308113685083684\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eWelcone,
        \\u003cspan[...]
