http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/statuses/109294719267373593
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"53d670b5ea7e86354fba083e78935fb5"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-08T15:30:00.108687Z'
    body:
      encoding: ''
      file: no
      string: "{\"id\":\"109294719267373593\",\"created_at\":\"2022-11-06T03:24:27.042Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/austinkocher/statuses/109294719267373593\",\"url\":\"https://mastodon.social/@austinkocher/109294719267373593\",\"replies_count\":106,\"reblogs_count\":2095,\"favourites_count\":3130,\"edited_at\":null,\"content\":\"\\u003cp\\u003eMastodon
        will update to 4.0 soon! Here are the most exciting new features (in addition
        to fixes \\u0026amp; changes):\\u003c/p\\u003e\\u003cp\\u003e- ability to
        follow hashtags\\u003cbr /\\u003e- ability to filter by language\\u003cbr
        /\\u003e- ability to translate posts \\u003cbr /\\u003e- ability to post HEIC
        files (i.e. your iPhone’s native photo format)\\u003cbr /\\u003e- define user
        roles (big deal for admins)\\u003cbr /\\u003[...]
