http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/polls/105976
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"90a7e66eba6a5d01700b89897b8d145c"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '294'
      x-ratelimit-reset: '2025-07-17T13:45:00.294170Z'
    body:
      string: '{"id":"105976","expires_at":"2022-11-08T08:26:07.510Z","expired":true,"multiple":false,"votes_count":4,"voters_count":4,"options":[{"title":"This
        neighbour''s black cat","votes_count":3},{"title":"Megaman","votes_count":1}],"emojis":[]}'
  recorded_at: 2025-07-17 13:44:12
recorded_with: VCR-vcr/1.7.1.93
