http_interactions:
- request:
    method: GET
    uri: https://mastodon.social/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T20:05:00.923550Z'
      x-ratelimit-remaining: '297'
      link: <https://mastodon.social/api/v1/timelines/public?limit=20&local=FALSE&max_id=114870361500887110&only_media=FALSE&remote=FALSE>;
        rel="next", <https://mastodon.social/api/v1/timelines/public?limit=20&local=FALSE&min_id=114870361973436726&only_media=FALSE&remote=FALSE>;
        rel="prev"
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"ece8a497800077e5cfd471aca3fc8f41"
    body:
      string: "[{\"id\":\"114870361973436726\",\"created_at\":\"2025-07-17T20:03:39.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://weatherby2378.social/users/Michael/statuses/114870361736604310\",\"url\":\"https://weatherby2378.social/@Michael/114870361736604310\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eNatüürlich.\\u003c/p\\u003e\\u003cp\\u003e\\\"The
        UK and Germany have agreed a plan to create a new, direct rail link between
        London and Berlin as part of a wide-ranging treaty.\\\"\\u003c/p\\u003e\\u003cp\\u003e\\u003ca
        href=\\\"https://www.bbc.com/news/articles/cq6m10g7e35o\\\" rel=\\\"nofollow
        noopener\\\" translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan class=\\\"ellipsis\\\"\\u003ebbc.com/news/articles/cq6m10g7\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ee35o\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"reblog\":null,\"account\":{\"id\":\"109269839767548632\",\"username\":\"Michael\",\"acct\":\"Michael@weatherby2378.social\",\"display_name\":\"Michael
        \U0001F438\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2022-11-01T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eDE:
        \\u003ca href=\\\"https://weatherby2378.social/tags/Lokf%C3%BChrer\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eLokführer\\u003c/span\\u003e\\u003c/a\\u003e,
        also viel \\u003ca href=\\\"https://weatherby2378.social/tags/Bahn\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eBahn\\u003c/span\\u003e\\u003c/a\\u003e,
    [...]
