http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/statuses/109298295023649405
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e1acb600f1551f21a2478e500729d178"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '290'
      x-ratelimit-reset: '2025-07-17T13:45:00.667831Z'
    body:
      string: '{"id":"109298295023649405","created_at":"2022-11-06T18:33:47.000Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://mstdn.social/users/jmadelman/statuses/109298294953381855","url":"https://mstdn.social/@jmadelman/109298294953381855","replies_count":0,"reblogs_count":1,"favourites_count":0,"edited_at":null,"content":"\u003cp\u003eHighly
        recommend John Warner’s newsletter generally and specifically this week. The
        key quote for his thinking through outrage and its effects;\u003c/p\u003e\u003cp\u003e“Being
        specifically outraged at Emily Oster when what I’m truly upset about is a
        deeper sickness in the American culture that validates the economic style
        of thinking is a route to self-imiseration. I don’t wish Emily Oster harm.
        I long for a different world.”\u003c/p\u003e\u003cp\u003e\u003ca href=\"https://open.substack.com/pub/biblioracle/p/the-problem-of-outrage\"
        rel=\"nofollow noopener\" target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"ellipsis\"\u003eopen.substack.com/pub/bibliora\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003ecle/p/the-problem-of-outrage\u003c/span\u003e\u003c/a\u003e\u003c/p\u003e","reblog":null,"account":{"id":"109282938265283551","username":"jmadelman","acct":"jmadelman@mstdn.social","display_name":"Joseph
        Adelman","locked":false,"bot":false,"discoverable":false,"indexable":false,"group":false,"created_at":"2022-04-25T00:00:00.000Z","note":"\u003cp\u003eHistorian
        of politics, business, media. Author of Revolutionary Networks. He/him. \u003ca
        href=\"https://jhupbooks.press.jhu.edu/content/revolutionary-networks\" rel=\"nofollow
        noopener\" target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"ellipsis\"\u003ejhupbooks.press.jhu.edu/conten\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003et/revolutionary-networks\u003c/span\u003e\u003c/a\u003e\u003c/p\u003e","url":"https://mstdn.social/@jmadelman","uri":"https://mstdn.social/users/jmadelman","avatar":"https://f2.tchncs.de/cache/accounts/avatars/109/282/938/265/283/551/original/0775fcdeec1a7603.jpeg","avatar_static":"https://f2.tchncs.de/cache/accounts/avatars/109/282/938/265/283/551/original/0775fcdeec1a7603.jpeg","header":"https://f2.tchncs.de/cache/accounts/headers/109/282/938/265/283/551/original/94727770fc7a669c.jpeg","header_static":"https://f2.tchncs.de/cache/accounts/headers/109/282/938/265/283/551/original/94727770fc7a669c.jpeg","followers_count":32,"following_count":125,"statuses_count":25,"last_status_at":"2022-11-16","hide_collections":false,"moved":{"id":"109377813423374689","username":"jmadelman","acct":"jmadelman@historians.social","display_name":"Joseph
        M. Adelman","locked":false,"bot":false,"discoverable":true,"indexable":false,"group":false,"created_at":"2022-11-20T00:00:00.000Z","note":"\u003cp\u003eHistorian
        of politics, business, media. Author of Revolutionary Networks. He/him. \u003ca
        href=\"https://historians.social/tags/histodons\" class=\"mention hashtag\"
        rel=\"nofollow noopener\" target=\"_blan[...]
