http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/mutes?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '282'
      x-ratelimit-reset: '2025-07-17T13:45:00.500941Z'
      link: <https://fosstodon.org/api/v1/mutes?limit=3&since_id=132521>; rel="prev"
      etag: W/"8f97551667e404a112ae8feaea208adb"
    body:
      string: '[{"id":"111219914870194960","username":"adityadahiya","acct":"adityadahiya@mastodon.social","display_name":"Aditya
        Dahiya","locked":false,"bot":false,"discoverable":false,"indexable":false,"group":false,"created_at":"2023-10-12T00:00:00.000Z","note":"\u003cp\u003eData
        Viz enthusiast. Study Health financing. Harvard, Fulbright and AIIMS alumnus.
        IAS.\u003c/p\u003e\u003cp\u003eViews are mine!\u003c/p\u003e","url":"https://mastodon.social/@adityadahiya","uri":"https://mastodon.social/users/adityadahiya","avatar":"https://cdn.fosstodon.org/cache/accounts/avatars/111/219/914/870/194/960/original/6638243964b12c85.jpg","avatar_static":"https://cdn.fosstodon.org/cache/accounts/avatars/111/219/914/870/194/960/original/6638243964b12c85.jpg","header":"https://cdn.fosstodon.org/cache/accounts/headers/111/219/914/870/194/960/original/acdf4c3af8f7708e.jpg","header_static":"https://cdn.fosstodon.org/cache/accounts/headers/111/219/914/870/194/960/original/acdf4c3af8f7708e.jpg","followers_count":90,"following_count":21,"statuses_count":124,"last_status_at":"2025-05-11","hide_collections":false,"mute_expires_at":null,"emojis":[],"fields":[{"name":"Website","value":"\u003ca
        href=\"https://aditya-dahiya.github.io/\" rel=\"nofollow noopener\" translate=\"no\"
        target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003eaditya-dahiya.github.io/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"Twitter
        (X)","value":"\u003ca href=\"https://twitter.com/AdityaDahiyaIAS\" rel=\"nofollow
        noopener\" translate=\"no\" target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003etwitter.com/AdityaDahiyaIAS\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"GitHub","value":"\u003ca
        href=\"https://github.com/Aditya-Dahiya\" target=\"_blank[...]
