http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/accounts/109281650341067731/statuses?limit=20&exclude_reblogs=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a444d4a4a81fce8cc8ec3b86f68c8d93"
      link: <https://social.tchncs.de/api/v1/accounts/109281650341067731/statuses?max_id=109285625663774938>;
        rel="next", <https://social.tchncs.de/api/v1/accounts/109281650341067731/statuses?min_id=109309878898870348>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-09T09:25:00.766170Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"109309878898870348","created_at":"2022-11-08T19:39:44.565Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":true,"spoiler_text":"sudo
        read","visibility":"public","language":"en","uri":"https://social.tchncs.de/users/chainsawriot/statuses/109309878898870348","url":"https://social.tchncs.de/@chainsawriot/109309878898870348","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"pinned":false,"content":"\u003cp\u003eSpeed\u003c/p\u003e","reblog":null,"application":null,"account":{"id":"109281650341067731","username":"chainsawriot","acct":"chainsawriot","display_name":"chainsawriot","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-11-03T00:00:00.000Z","note":"\u003cp\u003e\u003ca
        href=\"http://www.chainsawriot.com\" target=\"_blank\" rel=\"nofollow noopener
        noreferrer\"\u003e\u003cspan class=\"invisible\"\u003ehttp://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003echainsawriot.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e\u003c/p\u003e","url":"https://social.tchncs.de/@chainsawriot","avatar":"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png","avatar_static":"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png","header":"https://social.tchncs.de/headers/original/missing.png","header_static":"https://social.tchncs.de/headers/original/missing.png","followers_count":51,"following_count":37,"statuses_count":23,"last_status_at":"2022-11-08","emojis":[],"fields":[{"name":"Stack","value":"Linux,
        emacs, stumpwm, R, git, Firefox","verified_at":null},{"name":"Research Interests","value":"I
        don’t know","verified_at":null}]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null},{"id":"109308533230734679","created_at":"2022-11-08T13:57:31.299Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://social.tchncs.de/users/chainsawriot/statuses/109308533230734679","url":"https://social.tchncs.de/@chainsawriot/109308533230734679","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"pinned":fa[...]
