http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/timelines/home?local=TRUE&limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '294'
      x-ratelimit-reset: '2025-07-17T15:30:00.943584Z'
      link: <https://fosstodon.org/api/v1/timelines/home?limit=5&local=TRUE&max_id=114868957979186552>;
        rel="next", <https://fosstodon.org/api/v1/timelines/home?limit=5&local=TRUE&min_id=114869166204750572>;
        rel="prev"
      etag: W/"702da5dd6721732df2fc9c785e507158"
    body:
      string: "[{\"id\":\"114869166204750572\",\"created_at\":\"2025-07-17T14:59:35.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://corteximplant.com/users/donnagen/statuses/114869166140148790\",\"url\":\"https://corteximplant.com/@donnagen/114869166140148790\",\"replies_count\":1,\"reblogs_count\":1,\"favourites_count\":1,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eWas
        looking for an \\u003ca href=\\\"https://corteximplant.com/tags/rstats\\\"
        class=\\\"mention hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003erstats\\u003c/span\\u003e\\u003c/a\\u003e
        package and stumbled on \\u003cspan class=\\\"h-card\\\" translate=\\\"no\\\"\\u003e\\u003ca
        href=\\\"https://fosstodon.org/@schochastics\\\" class=\\\"u-url mention\\\"
        rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e@\\u003cspan\\u003eschochastics\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e's
        \\u003ca href=\\\"https://corteximplant.com/tags/rtoot\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003ertoot\\u003c/span\\u003e\\u003c/a\\u003e
        package for getting R to interact with Mastodon. \\u003c/p\\u003e\\u003cp\\u003eIt's
        not my field, but this definitely sparks joy :maxheadroom:\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"account\":{\"id\":\"111749904359511073\",\"username\":\"donnagen\",\"acct\":\"donnagen@corteximplant.com\",\"display_name\":\"Donnagen
        :hehehmuhar:\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"indexable\":false,\"group\":false,\"created_at\":\"2024-01-09T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eDreaming
        of fully automated luxury gay space communism :trek_cerritos: :DS9: preparing
        for full corpo cyberpunk dystopia :ablobglitch:\\u003c/p\\u003e\\u003cp\\u003eCurrently
        a wildlife researcher.\\u003c/p\\u003e\",\"url\":\"https://corteximplant.com/@donnagen\",\"uri\":\"https://corteximplant.com/users/donnagen\",\"avatar\":\"https://cdn.fosstodon.org/cache/accounts/avatars/111/749/904/359/511/073/original/8bde169009703996.png\",\"avatar_static\":\"https://cdn.fosstodon.org/cache/accounts/avatars/111/749/904/359/511/073/original/8bde169009703996.png\",\"header\":\"https://cdn.fosstodon.org/cache/accounts/headers/111/749/904/359/511/073/original/e859c069b591aa56.png\",\"header_static\":\"https://cdn.fosstodon.org/cache/accounts/headers/111/749/904/359/511/073/original/e859c069b591aa56.png\",\"followers_count\":93,\"following_count\":292,\"statuses_count\":324,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"emojis\":[{\"shortcode\":\"trek_cerritos\",\"url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/001/141/768/original/059b6998106fa367.png\",\"static_url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/001/141/768/static/059b6998106fa367.png\",\"visible_in_picker\":true},{\"shortcode\":\"DS9\",\"url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/001/112/450/original/ec61e8da748c93a1.png\",\"static_url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/001/112/450/static/ec61e8da748c93a1.png\",\"visible_in_picker\":true},{\"shortcode\":\"ablobglitch\",\"url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/000/892/934/original/b57beb79ddf48d90.gif\",\"static_url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/000/892/934/static/b57beb79ddf48d90.png\",\"visible_in_picker\":true},{\"shortcode\":\"hehehmuhar\",\"url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/000/772/451/original/6b209156ce2f2780.png\",\"static_url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/000/772/451/static/6b209156ce2f2780.png\",\"visible_in_picker\":true},{\"shortcode\":\"neocat_book\",\"url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/000/940/139/original/aef5c47dceeee30f.png\",\"static_url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/000/940/139/static/aef5c47dceeee30f.png\",\"visible_in_picker\":true},{\"shortcode\":\"totentanz\",\"url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/000/945/919/original/0873116b62f55859.png\",\"static_url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/000/945/919/static/0873116b62f55859.png\",\"visible_in_picker\":true}],\"fields\":[{\"name\":\"Pronouns\",\"value\":\"he/him,
        they/them\",\"verified_at\":null},{\"name\":\":neocat_book:\",\"value\":\"\\u003ca
        href=\\\"https://openlibrary.org/people/donnagen\\\" rel=\\\"nofollow noopener\\\"
        translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003eopenlibrary.org/people/donnagen\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\":totentanz:\",\"value\":\"\\u003ca
        href=\\\"https://totentanz.club/u/donnagen/\\\" rel=\\\"nofollow noopener\\\"
        translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003etotentanz.club/u/donnagen/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"Where
        in the world is Don Sandiego\",\"value\":\"\\u003ca href=\\\"https://uplink.obeythesystem.com/?user=@donnagen\\\"
        rel=\\\"nofollow noopener\\\" translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"ellipsis\\\"\\u003euplink.obeythesystem.com/?user\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e=@donnagen\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null}]},\"media_attachments\":[],\"mentions\":[{\"id\":\"109302436954721982\",\"username\":\"schochastics\",\"url\":\"https://fosstodon.org/@schochastics\",\"acct\":\"schochastics\"}],\"tags\":[{\"name\":\"rstats\",\"url\":\"https://fosstodon.org/tags/rstats\"},{\"name\":\"rtoot\",\"url\":\"https://fosstodon.org/tags/rtoot\"}],\"emojis\":[{\"shortcode\":\"maxheadroom\",\"url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/001/047/907/original/3a1d74bbb30e2ce2.png\",\"static_url\":\"https://cdn.fosstodon.org/cache/custom_emojis/images/001/047/907/static/3a1d74bbb30e2ce2.png\",\"visible_in_picker\":true}],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114869144097749491\",\"created_at\":\"2025-07-17T14:53:54.917Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://bsky.brid.gy/convert/ap/at://did:plc:hmk4f5yf3ohtsvw32sbtwvk3/app.bsky.feed.post/3lu66quubp22m\",\"url\":\"https://fed.brid.gy/r/https://bsky.app/profile/did:plc:hmk4f5yf3ohtsvw32sbtwvk3/post/3lu66quubp22m\",\"replies_count\":1,\"reblogs_count\":1,\"favouri[...]
