http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/statuses/109303266941599451/favourited_by
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e718142b9f947087658eeb38912bc8b6"
      link: <https://social.tchncs.de/api/v1/statuses/109303266941599451/favourited_by?since_id=3461529>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '295'
      x-ratelimit-reset: '2025-07-17T13:45:00.214642Z'
    body:
      string: "[{\"id\":\"109285743115111924\",\"username\":\"mattdray\",\"acct\":\"mattdray@fosstodon.org\",\"display_name\":\"Matt
        Dray\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2022-11-02T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e\\u003ca
        href=\\\"https://fosstodon.org/tags/RStats\\\" class=\\\"mention hashtag\\\"
        rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eRStats\\u003c/span\\u003e\\u003c/a\\u003e
        :rstats: in the public sector. And for fun.\\u003cbr\\u003ePosts autodelete
        after a couple of weeks.\\u003c/p\\u003e\",\"url\":\"https://fosstodon.org/@mattdray\",\"uri\":\"https://fosstodon.org/users/mattdray\",\"avatar\":\"https://f2.tchncs.de/cache/accounts/avatars/109/285/743/115/111/924/original/aeb46b4f22a60d2e.jpg\",\"avatar_static\":\"https://f2.tchncs.de/cache/accounts/avatars/109/285/743/115/111/924/original/aeb46b4f22a60d2e.jpg\",\"header\":\"https://f2.tchncs.de/cache/accounts/headers/109/285/743/115/111/924/original/0f173edd74b58fbc.png\",\"header_static\":\"https://f2.tchncs.de/cache/accounts/headers/109/285/743/115/111/924/original/0f173edd74b58fbc.png\",\"followers_count\":556,\"following_count\":240,\"statuses_count\":2,\"last_status_at\":\"2025-02-25\",\"hide_collections\":false,\"emojis\":[{\"shortcode\":\"rstats\",\"url\":\"https://f2.tchncs.de/cache/custom_emojis/images/000/033/328/original/68310045ec58e8b8.png\",\"static_url\":\"https://f2.tchncs.de/cache/custom_emojis/images/000/033/328/static/68310045ec58e8b8.png\",\"visible_in_picker\":true}],\"fields\":[{\"name\":\"Personal
        site\",\"value\":\"\\u003ca href=\\\"https://www.matt-dray.com/\\\" rel=\\\"nofollow
        noopener\\\" translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003ematt-dray.com/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"Blog\",\"value\":\"\\u003ca
        href=\\\"https://www.rostrum.blog/\\\" rel=\\\"nofollow noopener\\\" translate=\\\"no\\\"
        target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003erostrum.blog/\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"GitHub\",\"value\":\"\\u003ca
        href=\\\"https://githu[...]
