http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/accounts/109302436954721982/following?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '289'
      x-ratelimit-reset: '2025-07-17T13:45:00.620834Z'
      link: <https://fosstodon.org/api/v1/accounts/109302436954721982/following?limit=3&max_id=4797750>;
        rel="next", <https://fosstodon.org/api/v1/accounts/109302436954721982/following?limit=3&since_id=4964709>;
        rel="prev"
      etag: W/"f15609b8c18e251adcb6916faa0ee779"
    body:
      string: '[{"id":"114406365954828751","username":"yabellini","acct":"yabellini@rstats.me","display_name":"Yani
        Bellini Saibene","locked":false,"bot":false,"discoverable":false,"indexable":false,"group":false,"created_at":"2025-04-26T00:00:00.000Z","note":"\u003cp\u003eI
        share my experience teaching computational skills and building welcoming communities
        of practice for programming scientists | \u003ca href=\"https://rstats.me/tags/rOpenSci\"
        class=\"mention hashtag\" rel=\"nofollow noopener\" target=\"_blank\"\u003e#\u003cspan\u003erOpenSci\u003c/span\u003e\u003c/a\u003e
        Community Manager | \u2028\u003ca href=\"https://rstats.me/tags/RLadies\"
        class=\"mention hashtag\" rel=\"nofollow noopener\" target=\"_blank\"\u003e#\u003cspan\u003eRLadies\u003c/span\u003e\u003c/a\u003e
        Project Lead | 30 Years in Education | 24 Years as Researcher | Spanglish\u003c/p\u003e","url":"https://rstats.me/@yabellini","uri":"https://rstats.me/users/yabellini","avatar":"https://cdn.fosstodon.org/cache/accounts/avatars/114/406/365/954/828/751/original/00ceb4152f341142.jpeg","avatar_static":"https://cdn.fosstodon.org/cache/accounts/avatars/114/406/365/954/828/751/original/00ceb4152f341142.jpeg","header":"https://cdn.fosstodon.org/cache/accounts/headers/114/406/365/954/828/751/original/52054f5fa8c7539f.png","header_static":"https://cdn.fosstodon.org/cache/accounts/headers/114/406/365/954/828/751/original/52054f5fa8c7539f.png","followers_count":1646,"following_count":353,"statuses_count":265,"last_status_at":"2025-07-17","hide_collections":false,"emojis":[],"fields":[{"name":"Personal
        Site","value":"yabellini.netlify.app/","verified_at":null},{"name":"GitHub
        Profile","value":"\u003ca href=\"https://github.com/yabellini/\" target=\"_blank\"
        rel=\"nofollow noopener\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/yabellini/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2025-07-07T03:23:00.915+00:00"},{"name":"rOpenSci","value":"\u003ca
        href=\"https://ropensci.org/about\" t[...]
