http_interactions:
- request:
    method: get
    uri: https://fosstodon.org/api/v1/lists/7351/accounts?limit=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0212755cc6e08d4f2e4a1e243edd6a0d"
      link: <https://fosstodon.org/api/v1/lists/7351/accounts?limit=2&max_id=109290786298388981>;
        rel="next", <https://fosstodon.org/api/v1/lists/7351/accounts?limit=2&since_id=109337044562642770>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2023-07-02T20:00:00.600067Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"109337044562642770","username":"chainsawriot","acct":"chainsawriot@emacs.ch","display_name":"chainsawriot","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-11-13T00:00:00.000Z","note":"","url":"https://emacs.ch/@chainsawriot","avatar":"https://cdn.fosstodon.org/cache/accounts/avatars/109/337/044/562/642/770/original/2bac632b1ac10a90.jpg","avatar_static":"https://cdn.fosstodon.org/cache/accounts/avatars/109/337/044/562/642/770/original/2bac632b1ac10a90.jpg","header":"https://fosstodon.org/headers/original/missing.png","header_static":"https://fosstodon.org/headers/original/missing.png","followers_count":364,"following_count":149,"statuses_count":687,"last_status_at":"2023-07-01","emojis":[{"shortcode":"emacs","url":"https://cdn.fosstodon.org/cache/custom_emojis/images/000/767/981/original/9438886e34f6815a.png","static_url":"https://cdn.fosstodon.org/cache/custom_emojis/images/000/767/981/static/9438886e34f6815a.png","visible_in_picker":true}],"fields":[{"name":"Stack","value":":emacs:,
        R, i3, linux, firefox","verified_at":null},{"name":"Research Interests","value":"Keine
        Ahnung","verified_at":null},{"name":"Web","value":"\u003ca href=\"https://chainsawriot.com/about/\"
        rel=\"nofollow noopener noreferrer\" target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003echainsawriot.com/about/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2023-05-15T17:54:13.262+00:00"}]},{"id":"1092907862983[...]
