http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/statuses/114026814291152535/context
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2025-07-17T18:10:00.239630Z'
      etag: W/"10c1f35988ccbaae2ba0b52cad102d96"
    body:
      string: "{\"ancestors\":[],\"descendants\":[{\"id\":\"114027213608365869\",\"created_at\":\"2025-02-18T22:19:59.834Z\",\"in_reply_to_id\":\"114026814291152535\",\"in_reply_to_account_id\":\"109302436954721982\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/erc_bk/statuses/114027213608365869\",\"url\":\"https://fosstodon.org/@erc_bk/114027213608365869\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":1,\"edited_at\":null,\"favourited\":true,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003e\\u003cspan
        class=\\\"h-card\\\" translate=\\\"no\\\"\\u003e\\u003ca href=\\\"https://fosstodon.org/@schochastics\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003eschochastics\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        In the readme, it should be `quarto add schochastics/quarto-url-peek`\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"application\":{\"name\":\"Statuzer\",\"website\":\"https://statuzer.com\"},\"account\":{\"id\":\"109327486032962698\",\"username\":\"erc_bk\",\"acct\":\"erc_bk\",\"display_name\":\"Eric
        Book\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2022-11-11T00:00:00.000Z\",\"note\":\"\\u003cp\\u003ePathologically
        curious about most things, but this space is mostly focused on data science
        and engineering.\\u003cbr /\\u003e\\u003ca href=\\\"https://fosstodon.org/tags/tfr\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003etfr\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"url\":\"https://fosstodon.org/@erc_bk\",\"uri\":\"https://fosstodon.org/users/erc_bk\",\"avatar\":\"https://cdn.fosstodon.org/accounts/avatars/109/327/486/032/962/698/original/c3d3908be42a3e34.png\",\"avatar_static\":\"https://cdn.fosstodon.org/accounts/avatars/109/327/486/032/962/698/original/c3d3908be42a3e34.png\",\"header\":\"https://fosstodon.org/headers/original/missing.png\",\"header_static\":\"https://fosstodon.org/headers/original/missing.png\",\"followers_count\":121,\"following_count\":363,\"statuses_count\":1545,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"noindex\":true,\"emojis\":[],\"roles\":[],\"fields\":[{\"name\":\"Website\",\"value\":\"\\u003ca
        href=\\\"https://ericbook.netlify.app/about.html\\\" target=\\\"_blank\\\"
        rel=\\\"nofollow noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003eericbook.netlify.app/about.html\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"Github\",\"value\":\"\\u003ca
        href=\\\"https://github.com/ercbk\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egithub.com/ercbk\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2023-07-18T21:34:01.096+00:00\"}]},\"media_attachments\":[],\"mentions\":[{\"id\":\"109302436954721982\",\"username\":\"schochastics\",\"url\":\"https://fosstodon.org/@schochastics\",\"acct\":\"schochastics\"}],\"tags\":[],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114055560713759881\",\"created_at\":\"2025-02-23T22:29:02.336Z\",\"in_reply_to_id\":\"114026814291152535\",\"in_reply_to_account_id\":\"109302436954721982\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/MickaelCanouil/statuses/114055560713759881\",\"url\":\"https://fosstodon.org/@MickaelCanouil/114055560713759881\",\"replies_count\":1,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"fav[...]
