http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/directory?local=FALSE&offset=0&order=active&limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"75d81514a813fed569877bb26b5acd85"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '296'
      x-ratelimit-reset: '2022-11-09T11:10:00.303639Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109297804324749751\",\"username\":\"AissataDiallo\",\"acct\":\"AissataDiallo@piaille.fr\",\"display_name\":\"Aïssata
        Diallo :mastodon:\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2022-11-06T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e\\u003ca
        href=\\\"https://piaille.fr/tags/Justicesociale\\\" class=\\\"mention hashtag\\\"
        rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eJusticesociale\\u003c/span\\u003e\\u003c/a\\u003e
        \\u003ca href=\\\"https://piaille.fr/tags/Climat\\\" class=\\\"mention hashtag\\\"
        rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eClimat\\u003c/span\\u003e\\u003c/a\\u003e
        \\u003ca href=\\\"https://piaille.fr/tags/Droitsdesfemmes\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eDroitsdesfemmes\\u003c/span\\u003e\\u003c/a\\u003e
        \\u003ca href=\\\"https://piaille.fr/tags/Ecologie\\\" class=\\\"mention hashtag\\\"
        rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eEcologie\\u003c/span\\u003e\\u003c/a\\u003e
        \\u003ca href=\\\"https://piaille.fr/tags/VSS\\\" class=\\\"mention hashtag\\\"
        rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eVSS\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"url\":\"https://piaille.fr/@AissataDiallo\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/297/804/324/749/751/original/97a112b2ce07d3e0.jpeg\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/109/297/804/324/749/751/original/97a112b2ce07d3e0.jpeg\",\"header\":\"https://files.mastodon.social/cache/accounts/headers/109/297/804/324/749/751/original/9a9ec4a60417bc97.jpeg\",\"header_static\":\"https://files.mastodon.social/cache/accounts/headers/109/297/804/324/749/751/original/9a9ec4a60417bc97.jpeg\",\"followers_count\":37,\"following_count\":36,\"statuses_count\":26,\"last_status_at\":\"2022-11-09\",\"emojis\":[{\"shortcode\":\"mastodon\",\"url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/440/997/original/bb15957aefaa12ca.png\",\"static_url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/440/997/static/bb15957aefaa12ca.png\",\"visible_in_picker\":true}],\"fields\":[]},{\"id\":\"959877\",\"username\":\"Deepsealioness\",\"acct\":\"Deepsealioness\",\"display_name\":\"‏محترمہ
        پربھا ✅\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2019-11-05T00:00:00.000Z\",\"note\":\"\\u003cp\\u003el’m
        here to make you uncomfortable, the same one your mom warned you about.\\u003c/p\\u003e\\u003cp\\u003eUnapologetic,
        Unconventional, Not your typical girl next door. I Bite\\u003c/p\\u003e\\u003cp\\u003eHaters
    [...]
