http_interactions:
- request:
    method: get
    uri: https://api.index.community/api/instances?sortField=userCount&sortDirection=desc&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: "{\"instances\":[{\"description\":\"Server run by the main developers
        of the project <img alt=\\\"\U0001F418\\\" src=\\\"https://mastodon.social/emoji/1f418.svg\\\"
        /> It is not focused on any particular niche interest - everyone is welcome
        as long as you follow our code of conduct!\",\"insularity\":0.0,\"name\":\"mastodon.social\",\"statusCount\":30833830,\"statusesPerDay\":86.32724723566923,\"statusesPerUserPerDay\":1.5285624757316676e-4,\"type\":\"mastodon\",\"userCount\":564761,\"version\":\"3.4.1\"},{\"description\":\"\",\"insularity\":null,\"name\":\"joindiaspora.com\",\"statusCount\":2947739,\"statusesPerDay\":null,\"statusesPerUserPerDay\":null,\"type\":\"diaspora\",\"userCount\":316346,\"version\":\"1.0.0-dev-p86674b41\"},{\"description\":\"\U0001F3A8
        Freely share all types of art. This instance welcomes any depiction expressed
        as a piece of fiction in subject or setting. Re-posting is discouraged.<br
        /><br />\\r\\n✅ Uncensored 2D drawings &amp; 3D models<br />\\r\\n✅ Zero guidelines
        on fictional characters<br />\\r\\n❌ No real life photographic pornography<br
        />\\r\\n❌ <a href=\\\"https://baraag.net/about/more\\\">No illegal content*</a><br
        /><br />\\r\\n\\r\\n\U0001F51E Preview the local timeline of this instance
        <a href=\\\"https://tusktowall.darthvid.com/?instance=baraag.net\\\">here</a><br
        />\\r\\nBy viewing any content at baraag.net, you agree to the <a[...]
