http_interactions:
- request:
    method: get
    uri: https://instances.social/api/1.0/instances/list?count=20&sort_by=users&sort_order=desc
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<INSTANCES.SOCIAL TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5dd9-akViB3/lQXsKt1nRhnnSf8QPMFc"
    body:
      encoding: ''
      file: no
      string: "{\"instances\":[{\"id\":\"59067231bf4623585ed68d91\",\"name\":\"mastodon.social\",\"added_at\":null,\"updated_at\":\"2022-12-14T12:05:26.380Z\",\"checked_at\":\"2022-12-14T12:05:26.380Z\",\"uptime\":1,\"up\":true,\"dead\":false,\"version\":\"4.0.2\",\"ipv6\":false,\"https_score\":5,\"https_rank\":\"F
        \",\"obs_score\":120,\"obs_rank\":\"A+\",\"users\":\"900962\",\"statuses\":\"45129761\",\"connections\":\"44832\",\"open_registrations\":true,\"info\":{\"short_description\":\"General-purpose
        server run by the lead developer of Mastodon\",\"full_description\":\"This
        is just one part of the network, run by the main developers of the project
        \U0001F418 It is not focused on any particular niche interest - everyone is
        welcome as long as you follow our code of conduct!\",\"topic\":null,\"languages\":[\"en\"],\"other_languages_accepted\":true,\"federates_with\":null,\"prohibited_content\":[\"nudity_nocw\",\"pornography_nocw\",\"illegalContentLinks\",\"spam\",\"advertising\"],\"categories\":[]},\"thumbnail\":\"https://files.mastodon.social/site_uploads/files/000/000/001/@1x/57c12f441d083cde.png\",\"thumbnail_proxy\":\"https://camo.instances.social/3eb87e258204c00f81a82a5b8fa573ab905df112/68747470733a2f2f66696c65732e6d6173746f646f6e2e736f6369616c2f736974655f75706c6f6164732f66696c65732f3030302f3030302f3030312f4031782f353763313266343431643038336364652e706e67\",\"active_users\":95139,\"email\":\"staff@mastodon.social\",\"admin\":\"Gargron\"},{\"id\":\"58f0c31c762338151ee6d7e9\",\"name\":\"pawoo.net\",\"added_at\":\"2017-04-14T12:39:56.134Z\",\"updated_at\":\"2022-12-14T12:17:12.441Z\",\"checked_at\":\"2022-12-14T12:17:12.441Z\",\"uptime\":1,\"up\":true,\"dead\":false,\"version\":\"3.3.3\",\"ipv6\":false,\"https_score\":5,\"https_rank\":\"F
        \",\"obs_score\":80,\"obs_rank\":\"B+\",\"users\":\"793030\",\"statuses\":\"67798290\",\"connections\":\"25313\",\"open_registrations\":true,\"info\":null,\"thumbnail\":\"http[...]
