http_interactions:
- request:
    method: GET
    uri: https://mastodon.social/api/v1/directory?local=FALSE&offset=0&order=active&limit=3
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T13:45:00.488232Z'
      x-ratelimit-remaining: '288'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"8d3c9f4cd39c8b54527871776393b138"
    body:
      string: "[{\"id\":\"109631482021914792\",\"username\":\"t3n\",\"acct\":\"t3n@t3n.social\",\"display_name\":\"t3n
        – digital pioneers\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":false,\"group\":false,\"created_at\":\"2023-01-04T00:00:00.000Z\",\"note\":\"\\u003cp\\u003et3n,
        das Magazin und die Plattform für digitale Zukunft, beleuchtet online und
        im vierteljährlich erscheinenden Printmagazin aktuelle Entwicklungen und Trends
        im Digital Business. Die Redaktion liefert nutzwertige und relevante Inhalte
        für eine einzigartige und engagierte Community von digitalen Pionier:innen.
        \\u003ca href=\\\"https://t3n.de/impressum\\\" rel=\\\"nofollow noopener\\\"
        translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003et3n.de/impressum\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e
        \\u0026amp; \\u003ca href=\\\"https://t3n.de/datenschutz\\\" rel=\\\"nofollow
        noopener\\\" translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003et3n.de/datenschutz\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"url\":\"https://t3n.social/@t3n\",\"uri\":\"https://t3n.social/users/t3n\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/631/482/021/914/792/original/2e492970e99fa066.png\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/109/631/482/021/914/792/original/2e492970e99fa066.png\",\"header\":\"https://files.mastodon.social/cache/accounts/headers/109/631/482/021/914/792/original/9688751c3ef0431d.png\",\"header_static\":\"https://files.mastodon.social/cache/accounts/headers/109/631/482/021/914/792/original/9688751c3ef0431d.png\",\"followers_count\":5192,\"following_count\":26,\"statuses_count\":11096,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"emojis\":[],\"fields\":[{\"name\":\"Verifizierung\",\"value\":\"\\u003ca
        href=\\\"https://t3n.de/social-media/\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003et3n.de/social-media/\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2025-07-16T18:39:54.632+00:00\"}]},{\"id\":\"109372836864302519\",\"username\":\"bgruening\",\"acct\":\"bgruening@fosstodon.org\",\"display_name\":\"Bjoern
        Gruening\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2022-11-19T00:00:00.000Z\",\"note\":\"\",\"url\":\"https://fosstodon.org/@bgruening\",\"uri\":\"https://fosstodon.org/users/bgruening\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/372/836/864/[...]
