http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/polls/684128
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '296'
      x-ratelimit-reset: '2025-07-17T20:05:00.163705Z'
      etag: W/"4d04299955b114a506e4b735a89f1f7e"
    body:
      string: '{"id":"684128","expires_at":"2025-05-10T08:10:18.291Z","expired":true,"multiple":false,"votes_count":25,"voters_count":25,"voted":false,"own_votes":[],"options":[{"title":"8","votes_count":2},{"title":"16","votes_count":2},{"title":"64","votes_count":5},{"title":"bigger!
        (Please reply!)","votes_count":16}],"emojis":[]}'
  recorded_at: 2025-07-17 20:00:56
recorded_with: VCR-vcr/1.7.1.93
