http_interactions:
- request:
    method: GET
    uri: https://mastodon.social/api/v1/statuses/109294719267373593/favourited_by
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T13:45:00.678379Z'
      x-ratelimit-remaining: '298'
      link: <https://mastodon.social/api/v1/statuses/109294719267373593/favourited_by?max_id=48110189>;
        rel="next", <https://mastodon.social/api/v1/statuses/109294719267373593/favourited_by?since_id=91315851>;
        rel="prev"
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"b93ac8a2db4f5ca15aeab24daf35c95f"
    body:
      string: "[{\"id\":\"110537611513485745\",\"username\":\"jason432\",\"acct\":\"jason432\",\"display_name\":\"Jason
        Connor\",\"locked\":false,\"bot\":false,\"discoverable\":null,\"indexable\":false,\"group\":false,\"created_at\":\"2023-06-13T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eJohn
        12:15 ✝️\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@jason432\",\"uri\":\"https://mastodon.social/users/jason432\",\"avatar\":\"https://files.mastodon.social/accounts/avatars/110/537/611/513/485/745/original/9eea619ab0fca096.jpg\",\"avatar_static\":\"https://files.mastodon.social/accounts/avatars/110/537/611/513/485/745/original/9eea619ab0fca096.jpg\",\"header\":\"https://files.mastodon.social/accounts/headers/110/537/611/513/485/745/original/7d399ba8aab2b25b.jpg\",\"header_static\":\"https://files.mastodon.social/accounts/headers/110/537/611/513/485/745/original/7d399ba8aab2b25b.jpg\",\"followers_count\":2,\"following_count\":38,\"statuses_count\":7,\"last_status_at\":\"2023-06-13\",\"hide_collections\":null,\"noindex\":false,\"emojis\":[],\"roles\":[],\"fields\":[]},{\"id\":\"109575603902444006\",\"username\":\"cumulonimbus\",\"acct\":\"cumulonimbus@infosec.exchange\",\"display_name\":\"Cumulonimbus\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2022-12-25T00:00:00.000Z\",\"note\":\"\\u003cp\\u003esocial
        scientist⸺analyst\\u003cbr\\u003e●\\u003cbr\\u003epredominantly occupied with
        the Russo-Ukrainian war\\u003cbr\\u003e●\\u003cbr\\u003eboosting random stuff
        of personal interest such as Central \\u0026amp; Eastern European politics,
        visual art or occasionally shitposts\\u003cbr\\u003e●\\u003cbr\\u003eboosts
        ≠ endorsements\\u003c/p\\u003e\",\"url\":\"https://infosec.exchange/@cumulonimbus\",\"uri\":\"https://infosec.exchange/users/cumulonimbus\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/575/603/902/444/006/original/b174e36ec0514a5f.jpg\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/109/575/603/902/444/006/original/b174e36ec0514a5f.jpg\",\"header\":\"https://files.mastodon.social/cache/accounts/headers/109/575/603/902/444/006/original/9c11c41d5c741ccd.jpg\",\"header_static\":\"https://files.mastodon.social/cache/accounts/headers/109/575/603/902/444/006/original/9c11c41d5c741ccd.jpg\",\"followers_count\":490,\"following_count\":1720,\"statuses_count\":18297,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"emojis\":[],\"fields\":[{\"name\":\"keen
        to boost content re\",\"value\":\"\U0001F1E6\U0001F1F2 \U0001F1E6\U0001F1FF
        \U0001F1E7\U0001F1FE \U0001F1EC\U0001F1EA \U0001F1F0\U0001F1FF \U0001F1F0\U0001F1EC
        \U0001F1F7\U0001F1FA \U0001F1F9\U0001F1EF \U0001F1F9\U0001F1F2 \U0001F1FA\U0001F1E6
        \U0001F1FA\U0001F1FF\",\"verified_at\":null},{\"name\":\"languages\",\"value\":\"DEU
        ENG FRA RUS UKR\",\"verified_at\":null}]},{\"id\":\"109445076174948824\",\"username\":\"EricHorwath\",\"acct\":\"EricHorwath@hachyderm.io\",\"display_name\":\"Eric
        Horwath\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"indexable\":false,\"group\":false,\"created_at\":\"2022-12-02T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e:kubernetes:
        :go: :rust: :python_logo: :prometheus_logo: :debian_logo: :iterm2_logo: :vim:
        \   \\u003cbr\\u003eAll views are my own.\\u003cbr\\u003elikes cycling \U0001F6B2
        and old phones \U0001F4F1\\u003cbr\\u003eborn at 355 ppm\\u003c/p\\u003e\",\"url\":\"https://hachyderm.io/@EricHorwath\",\"uri\":\"https://hachyderm.io/users/EricHorwath\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/445/076/174/948/824/original/8bf8f98735beee41.jpg\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/109/445/076/174/948/824/original/8bf8f98735beee41.jpg\",\"header\":\"https://mastodon.social/headers/original/missing.png\",\"header_static\":\"https://mastodon.social/headers/original/missing.png\",\"followers_count\":285,\"following_count\":1937,\"statuses_count\":304,\"last_status_at\":\"2025-07-13\",\"hide_collections\":false,\"emojis\":[{\"shortcode\":\"kubernetes\",\"url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/443/995/original/124010867fcceb8a.png\",\"static_url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/443/995/static/124010867fcceb8a.png\",\"visible_in_picker\":true},{\"shortcode\":\"go\",\"url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/468/608/original/1a54eb8b8f2ea4c1.png\",\"static_url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/468/608/static/1a54eb8b8f2ea4c1.png\",\"visible_in_picker\":true},{\"shortcode\":\"rust\",\"url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/441/977/original/a35b51b421b9cf59.png\",\"static_url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/441/[...]
