http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/accounts/109281650341067731/followers?limit=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"547467e6539ec7892401ce1860d094ef"
      link: <https://social.tchncs.de/api/v1/accounts/109281650341067731/followers?limit=3&max_id=712203>;
        rel="next", <https://social.tchncs.de/api/v1/accounts/109281650341067731/followers?limit=3&since_id=714347>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2022-11-09T09:40:00.468032Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"109309787901673319","username":"QrdKnpfr","acct":"QrdKnpfr@mastodon.online","display_name":"Curd
        Knüpfer","locked":false,"bot":false,"discoverable":true,"group":false,"created_at":"2022-11-03T00:00:00.000Z","note":"\u003cp\u003eAssistant
        professor of political science \u003cbr\u003e\u003ca href=\"https://twitter.com/jfkinstitutefub\"
        rel=\"nofollow noopener noreferrer\" target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003etwitter.com/jfkinstitutefub\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e
        focussed on digital and right-wing media. \u003cbr\u003e\u003ca href=\"https://twitter[...]
