http_interactions:
- request:
    method: GET
    uri: https://mastodon.social/api/v1/statuses/109294719267373593/reblogged_by
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T13:45:00.914542Z'
      x-ratelimit-remaining: '296'
      link: <https://mastodon.social/api/v1/statuses/109294719267373593/reblogged_by?max_id=109336920912856332>;
        rel="next", <https://mastodon.social/api/v1/statuses/109294719267373593/reblogged_by?since_id=109460226107531237>;
        rel="prev"
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"0840b9e72595506ce6034da24d5d4d5a"
    body:
      string: "[{\"id\":\"109445076174948824\",\"username\":\"EricHorwath\",\"acct\":\"EricHorwath@hachyderm.io\",\"display_name\":\"Eric
        Horwath\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"indexable\":false,\"group\":false,\"created_at\":\"2022-12-02T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e:kubernetes:
        :go: :rust: :python_logo: :prometheus_logo: :debian_logo: :iterm2_logo: :vim:
        \   \\u003cbr\\u003eAll views are my own.\\u003cbr\\u003elikes cycling \U0001F6B2
        and old phones \U0001F4F1\\u003cbr\\u003eborn at 355 ppm\\u003c/p\\u003e\",\"url\":\"https://hachyderm.io/@EricHorwath\",\"uri\":\"https://hachyderm.io/users/EricHorwath\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/445/076/174/948/824/original/8bf8f98735beee41.jpg\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/109/445/076/174/948/824/original/8bf8f98735beee41.jpg\",\"header\":\"https://mastodon.social/headers/original/missing.png\",\"header_static\":\"https://mastodon.social/headers/original/missing.png\",\"followers_count\":285,\"following_count\":1937,\"statuses_count\":304,\"last_status_at\":\"2025-07-13\",\"hide_collections\":false,\"emojis\":[{\"shortcode\":\"kubernetes\",\"url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/443/995/original/124010867fcceb8a.png\",\"static_url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/443/995/static/124010867fcceb8a.png\",\"visible_in_picker\":true},{\"shortcode\":\"go\",\"url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/468/608/original/1a54eb8b8f2ea4c1.png\",\"static_url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/468/608/static/1a54eb8b8f2ea4c1.png\",\"visible_in_picker\":true},{\"shortcode\":\"rust\",\"url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/441/977/original/a35b51b421b9cf59.png\",\"static_url\":\"https://files.mastodon.social/cache/custom_emojis/images/000/441/[...]
