http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/instance/activity
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"48f9e15db111fda109826f630f73d6cd"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '279'
      x-ratelimit-reset: '2025-07-17T13:45:00.216312Z'
    body:
      string: '[{"week":"1752749754","statuses":"1173","logins":"841","registrations":"0"},{"week":"1752144954","statuses":"20083","logins":"2969","registrations":"11"},{"week":"1751540154","statuses":"20457","logins":"2995","registrations":"13"},{"week":"1750935354","statuses":"21323","logins":"2984","registrations":"12"},{"week":"1750330554","statuses":"20952","logins":"2992","registrations":"12"},{"week":"1749725754","statuses":"21099","logins":"2968","registrations":"8"},{"week":"1749120954","statuses":"21625","logins":"2989","registrations":"16"},{"week":"1748516154","statuses":"19930","logins":"2975","registrations":"11"},{"week":"1747911354","statuses":"20898","logins":"2987","registrations":"9"},{"week":"1747306554","statuses":"19905","logins":"3015","registrations":"10"},{"week":"1746701754","statuses":"18259","logins":"2969","registrations":"8"},{"week":"1746096954","statuses":"21654","logins":"2996","registrations":"17"}]'
  recorded_at: 2025-07-17 13:44:25
recorded_with: VCR-vcr/1.7.1.93
