http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"34f378e253a781ed55fcdce02995b586"
      link: <https://social.tchncs.de/api/v1/timelines/public?limit=20&local=FALSE&max_id=109308022683455217&only_media=FALSE&remote=FALSE>;
        rel="next", <https://social.tchncs.de/api/v1/timelines/public?limit=20&local=FALSE&min_id=109308024717987455&only_media=FALSE&remote=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2022-11-08T11:50:00.042696Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109308024717987455\",\"created_at\":\"2022-11-08T11:48:10.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"nl\",\"uri\":\"https://mastodon.online/users/apache_be/statuses/109308024636465400\",\"url\":\"https://mastodon.online/@apache_be/109308024636465400\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eNu
        de \\u003ca href=\\\"https://mastodon.online/tags/TwitterMigration\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eTwitterMigration\\u003c/span\\u003e\\u003c/a\\u003e
        echt onder stoom komt, zetten we graag dit stuk van \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca
        href=\\\"https://todon.nl/@jnwlrvn\\\" class=\\\"u-url mention\\\" rel=\\\"nofollow
        noopener norefe[...]
