http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/trends?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      deprecation: '@1648598400'
      etag: W/"dc0aa7f5af32a700b5065b1527fe7c21"
      link: <https://social.tchncs.de/api/v1/trends/tags?limit=10&offset=10>; rel="next"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '274'
      x-ratelimit-reset: '2025-07-17T13:45:00.692358Z'
    body:
      string: '[{"id":"5845218","name":"mascotabookorplay","url":"https://social.tchncs.de/tags/mascotabookorplay","history":[{"day":"1752710400","accounts":"37","uses":"70"},{"day":"1752624000","accounts":"0","uses":"0"},{"day":"1752537600","accounts":"0","uses":"0"},{"day":"1752451200","accounts":"0","uses":"0"},{"day":"1752364800","accounts":"0","uses":"0"},{"day":"1752278400","accounts":"0","uses":"0"},{"day":"1752192000","accounts":"0","uses":"0"}]},{"id":"93766","name":"worldemojiday","url":"https://social.tchncs.de/tags/worldemojiday","history":[{"day":"1752710400","accounts":"23","uses":"24"},{"day":"1752624000","accounts":"0","uses":"0"},{"day":"175253[...]
