http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/bookmarks?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '288'
      x-ratelimit-reset: '2025-07-17T13:45:00.704211Z'
      link: <https://fosstodon.org/api/v1/bookmarks?limit=3&max_id=446947>; rel="next",
        <https://fosstodon.org/api/v1/bookmarks?limit=3&min_id=472716>; rel="prev"
      etag: W/"a50e575ff9856ea1d4d4a2a65e054f73"
    body:
      string: "[{\"id\":\"113347064048858843\",\"created_at\":\"2024-10-21T19:29:01.175Z\",\"in_reply_to_id\":\"113346983802471255\",\"in_reply_to_account_id\":\"110933492719362385\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/yjunechoe/statuses/113347064048858843\",\"url\":\"https://fosstodon.org/@yjunechoe/113347064048858843\",\"replies_count\":1,\"reblogs_count\":1,\"favourites_count\":6,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":true,\"content\":\"\\u003cp\\u003e\\u003cspan
        class=\\\"h-card\\\" translate=\\\"no\\\"\\u003e\\u003ca href=\\\"https://fosstodon.org/@josi\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003ejosi\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        \U0001F92A\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"application\":null,\"account\":{\"id\":\"109275192003234679\",\"username\":\"yjunechoe\",\"acct\":\"yjunechoe\",\"display_name\":\"June
        Choe\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2022-11-02T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eLinguistics
        PhD. Researching psycholinguistics, language acquisition, and pragmatics.
        Sometimes writing R packages (Creator: ggtrace, jlmerclusterperm | Author:
        openalexR, pointblank).\\u003c/p\\u003e\\u003cp\\u003eMostly here for :rstats:
        \\u003ca href=\\\"https://fosstodon.org/tags/rstats\\\" class=\\\"mention
        hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003erstats\\u003c/span\\u003e\\u003c/a\\u003e,
        :julia: \\u003ca href=\\\"https://fosstodon.org/tags/JuliaLang\\\" class=\\\"mention
        hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eJuliaLang\\u003c/span\\u003e\\u003c/a\\u003e,
        and \U0001F4CA \\u003ca href=\\\"https://fosstodon.org/tags/dataviz\\\" class=\\\"mention
        hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003edataviz\\u003c/span\\u003e\\u003c/a\\u003e.
        Interested in statistical computing \\u0026amp; graphics, metaprogramming,
        and data stuff. I\\u0026#39;m also active on the \\u003cspan class=\\\"h-card\\\"
        translate=\\\"no\\\"\\u003e\\u003ca href=\\\"https://fosstodon.org/@R4DSCommunity\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003eR4DSCommunity\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        slack.\\u003c/p\\u003e\",\"url\":\"https://fosstodon.org/@yjunechoe\",\"uri\":\"https://fosstodon.org/users/yjunechoe\",\"avatar\":\"https://cdn.fosstodon.org/accounts/avatars/109/275/192/003/234/679/original/b94ded1579150a4b.jpg\",\"avatar_static\":\"https://cdn.fosstodon.org/accounts/avatars/109/275/192/003/234/679/original/b94ded1579150a4b.jpg\",\"header\":\"https://cdn.fosstodon.org/accounts/headers/109/275/192/003/234/679/original/8ea01652dc396620.png\",\"header_static\":\"https://cdn.fosstodon.org/accounts/headers/109/275/192/003/234/679/original/8ea01652dc396620.png\",\"followers_count\":477,\"following_count\":426,\"statuses_count\":1490,\"last_status_at\":\"2025-07-08\",\"hide_collections\":false,\"noindex\":false,\"emojis\":[{\"shortcode\":\"rstats\",\"url\":\"https://cdn.fosstodon.org/custom_emojis/images/000/030/098/original/R_logo.png\",\"static_url\":\"https://cdn.fosstodon.org/custom_emojis/images/000/030/098/static/R_logo.png\",\"visible_in_picker\":true},{\"shortcode\":\"julia\",\"url\":\"https://cdn.fosstodon.org/custom_emojis/images/000/756/368/original/7dffb6866cc72795.png\",\"static_url\":\"https://cdn.fosstodon.org/custom_emojis/images/000/756/368/static/7dffb6866cc72795.png\",\"visible_in_picker\":true}],\"roles\":[],\"fields\":[{\"name\":\"website\",\"value\":\"\\u003ca
        href=\\\"https://yjunechoe.github.io/\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003eyjunechoe.github.io/\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2022-11-14T03:28:11.171+00:00\"},{\"name\":\"github\",\"value\":\"\\u003ca
        href=\\\"https://github.com/yjunechoe\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egithub.com/yjunechoe\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2023-06-12T17:37:01.400+00:00\"},{\"name\":\"linkedin\",\"value\":\"\\u003ca
        href=\\\"https://www.linkedin.com/in/yjunechoe/\\\" target=\\\"_blank\\\"
        rel=\\\"nofollow noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003elinkedin.com/in/yjunechoe/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"twitter\",\"value\":\"\\u003ca
        href=\\\"https://twitter.com/yjunechoe\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003etwitter.com/yjunechoe\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null}]},\"media_attachments\":[{\"id\":\"113347061411296448\",\"type\":\"image\",\"url\":\"https://cdn.fosstodon.org/media_attachments/files/113/347/061/411/296/448/original/3b554816137f47fd.png\",\"preview_url\":\"https://cdn.fosstodon.org/media_attachments/files/113/347/061/411/296/448/small/3b554816137f47fd.png\",\"remote_url\":null,\"preview_remote_url\":null,\"text_url\":null,\"meta\":{\"focus\":{\"x\":-0.56,\"y\":-0.02},\"original\":{\"width\":1692,\"height\":640,\"size\":\"1692x640\",\"aspect\":2.64375},\"small\":{\"width\":780,\"height\":295,\"size\":\"780x295\",\"aspect\":2.6440677966101696}},\"description\":\"#
        A benchmark comparing `solve()` and its stripped `.Internal()` code\\nx \\u003c-
        matrix(runif(1e6), 1e3, 1e3)\\nsummary(microbenchmark::microbenchmark(\\n
        \ solve(x),\\n  .Internal(La_solve(x, diag(x), .Machine$double.eps))\\n))[,
        c(\\\"expr\\\", \\\"min\\\", \\\"mean\\\", \\\"max\\\")]\\n#\\u003e                                                   expr
        \    min     mean     max\\n#\\u003e 1                                             solve(x)
        24.8767 37.31213 71.4984\\n#\\u003e 2 .Internal(La_solve(x, diag(x), .Machine$double.eps))
        \ 9.3462 14.00704 46.6313\",\"blurhash\":\"UWCs:WkC%Nj[xvj[ayfQ_4jaWAj[xuayayj[\"}],\"mentions\":[{\"id\":\"110933492719362385\",\"username\":\"josi\",\"url\":\"https://fosstodon.org/@josi\",\"acct\":\"josi\"}],\"tags\":[],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"113086666078279943\",\"created_at\":\"2024-09-05T19:46:23.468Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/coolbutuseless/statuses/113086666078279943\",\"url\":\"https://fosstodon.org/@coolbutuseless/113086666078279943\",\"replies_count\":1,\"reblogs_count\":1,\"favourites_count\":10,\"edited_at\":\"2024-09-05T19:48:19.149Z\",\"favourited\":t[...]
