http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/polls/105976
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cb8757d90c9313c9f83d55ff02fe053d"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-09T08:50:00.583461Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"105976","expires_at":"2022-11-08T08:26:07.510Z","expired":true,"multiple":false,"votes_count":4,"voters_count":4,"voted":true,"own_votes":[],"options":[{"title":"This
        neighbour''s black cat","votes_count":3},{"title":"Megaman","votes_count":1}],"emojis":[]}'
  recorded_at: 2022-11-09 08:46:14 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
