http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/polls/286799
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9ab1e8d5d75527ccc937b8a4a5ac456b"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '297'
      x-ratelimit-reset: '2022-11-09T08:50:00.168989Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"286799","expires_at":"2022-11-09T19:54:55.599Z","expired":false,"multiple":false,"votes_count":64,"voters_count":64,"options":[{"title":"small
        telescope approach (d33% of orig paper)","votes_count":10},{"title":"lower
        CI of original effect","votes_count":7},{"title":"precision based (width of
        CI for new effect)","votes_count":4},{"title":"Smallest Effect Size of Interest
        (SESOI)","votes_count":43}],"emojis":[]}'
  recorded_at: 2022-11-09 08:46:15 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
