http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/accounts/109302436954721982/statuses?limit=20&exclude_reblogs=FALSE
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2025-07-17T13:55:00.950500Z'
      link: <https://fosstodon.org/api/v1/accounts/109302436954721982/statuses?exclude_reblogs=FALSE&limit=20&max_id=113191408914362368>;
        rel="next", <https://fosstodon.org/api/v1/accounts/109302436954721982/statuses?exclude_reblogs=FALSE&limit=20&min_id=114739545367952761>;
        rel="prev"
      etag: W/"7ba0fb8e2524e66223152fc87a0217ba"
    body:
      string: "[{\"id\":\"114739545367952761\",\"created_at\":\"2025-06-24T17:35:19.898Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":\"109338370155563030\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"unlisted\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/schochastics/statuses/114739545367952761\",\"url\":\"https://fosstodon.org/@schochastics/114739545367952761\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":1,\"edited_at\":null,\"content\":\"\\u003cp\\u003e\\u003cspan
        class=\\\"h-card\\\" translate=\\\"no\\\"\\u003e\\u003ca href=\\\"https://hcommons.social/@petejones\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003epetejones\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        I am not too familiar with \\u0026quot;domain law\\u0026quot; but I assume
        that chances are extremely low that this might become an issue.\\u003c/p\\u003e\",\"reblog\":null,\"application\":{\"name\":\"Tusky\",\"website\":\"https://tusky.app\"},\"account\":{\"id\":\"109302436954721982\",\"username\":\"schochastics\",\"acct\":\"schochastics\",\"display_name\":\"David
        Schoch\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":false,\"group\":false,\"created_at\":\"2022-11-07T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eData
        Scientist/DevOps Engineer at cynkra | \\u003ca href=\\\"https://fosstodon.org/tags/Rstats\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eRstats\\u003c/span\\u003e\\u003c/a\\u003e
        enthusiast\\u003c/p\\u003e\",\"url\":\"https://fosstodon.org/@schochastics\",\"uri\":\"https://fosstodon.org/users/schochastics\",\"avatar\":\"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/9f0f6bfb096f5451.png\",\"avatar_static\":\"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/9f0f6bfb096f5451.png\",\"header\":\"https://fosstodon.org/headers/original/missing.png\",\"header_static\":\"https://fosstodon.org/headers/original/missing.png\",\"followers_count\":1036,\"following_count\":138,\"statuses_count\":280,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"noindex\":false,\"emojis\":[],\"roles\":[],\"fields\":[{\"name\":\"Personal
        Webpage\",\"value\":\"\\u003ca href=\\\"https://www.mr.schochastics.net/\\\"
        target=\\\"_blank\\\" rel=\\\"nofollow noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003emr.schochastics.net/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2022-11-24T06:24:48.497+00:00\"},{\"name\":\"Github\",\"value\":\"\\u003ca
        href=\\\"https://github.com/schochastics\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egithub.com/schochastics\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2024-05-04T19:57:14.688+00:00\"},{\"name\":\"Side
        project\",\"value\":\"\\u003ca href=\\\"http://worldclubratings.com\\\" target=\\\"_blank\\\"
        rel=\\\"nofollow noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttp://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003eworldclubratings.com\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null}]},\"media_attachments\":[],\"mentions\":[{\"id\":\"109338370155563030\",\"username\":\"petejones\",\"url\":\"https://hcommons.social/@petejones\",\"acct\":\"petejones@hcommons.social\"}],\"tags\":[],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114739438456077967\",\"created_at\":\"2025-06-24T17:08:08.551Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":\"109338370155563030\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"unlisted\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/schochastics/statuses/114739438456077967\",\"url\":\"https://fosstodon.org/@schochastics/114739438456077967\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u[...]
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/accounts/109302436954721982/statuses?limit=20&exclude_reblogs=FALSE&max_id=113191408914362368
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '275'
      x-ratelimit-reset: '2025-07-17T14:00:00.139906Z'
      link: <https://fosstodon.org/api/v1/accounts/109302436954721982/statuses?exclude_reblogs=FALSE&limit=20&max_id=1129792932[...]
[...]
