http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d58140cca8297d0f011be428734639c4"
      link: <https://mastodon.social/api/v1/timelines/public?limit=20&local=FALSE&max_id=109308100383342769&only_media=FALSE&remote=FALSE>;
        rel="next", <https://mastodon.social/api/v1/timelines/public?limit=20&local=FALSE&min_id=109308100947304382&only_media=FALSE&remote=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-08T12:10:00.496491Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109308100947304382\",\"created_at\":\"2022-11-08T12:07:35.200Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/dwolfe/statuses/109308100947304382\",\"url\":\"https://mastodon.social/@dwolfe/109308100947304382\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eExactly
        \                                    \\u003ca href=\\\"https://www.nytimes.com/2022/11/08/opinion/midterms-republicans-election-denialism.html?smid=nytcore-ios-share\\u0026amp;referringSource=articleShare\\\"
        target=\\\"_blank\\\" rel=\\\"nofollow noopener noreferrer\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan class=\\\"ellipsis\\\"\\u003enytimes.com/2022/11/08/opinion\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e/midterms-republicans-election-denialism.html?smid=nytcore-ios-share\\u0026amp;referringSource=articleShare\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"reblog\":null,\"application\":{\"name\":\"Mastodon
        for iOS\",\"website\":\"https://app.joinmastodon.org/ios\"},\"account\":{\"id\":\"109259646343383266\",\"username\":\"dwolfe\",\"acct\":\"dwolfe\",\"display_name\":\"Douglas
        Wolfe\",\"locked\":false,\"bot\":false,\"discoverable\":null,\"group\":false,\"created_at\":\"2022-10-30T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eI’m
        not lost but I don’t know where I am.\\u2028Pro: Democracy\\u003cbr /\\u003ePaintings
        and Drawings here: \\u003ca href=\\\"https://www.douglaswolfe.com/\\\" target=\\\"_blank\\\"
        rel=\\\"nofollow noopener noreferrer\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003edouglaswolfe.com/\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@dwolfe\",\"avatar\":\"https://files.mastodon.social/accounts/avatars/109/259/646/343/383/266/original/4f1d177afd62d9a5.png\",\"avatar_static\":\"https://files.mastodon.social/accounts/avatars/109/259/646/343/383/266/original/4f1d177afd62d9a5.png\",\"header\":\"https://static-cdn.mastodon.social/headers/original/missing.png\",\"header_static\":\"https://static-cdn.mastodon.social/headers/original/missing.png\",\"followers_count\":3,\"following_count\":41,\"statuses_count\":3,\"last_status_at\":\"2022-11-08\",\"noindex\":false,\"emojis\":[],\"fields\":[]},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[],\"card\":null,\"poll\":null},{\"id\":\"109308100930964413\",\"created_at\":\"2022-11-08T12:06:00.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":true,\"spoiler_text\":\"Chat
        the mic, with no care. Test my style, if you dare.\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://botsin.space/users/scooterquote/statuses/109308094751286149\",\"url\":\"https://botsin.space/@scooterquote/109308094751286149\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"ed[...]
