http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/timelines/list/7351?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2025-07-17T15:35:00.256344Z'
      link: <https://fosstodon.org/api/v1/timelines/list/7351?limit=5&max_id=111006900179541067>;
        rel="next", <https://fosstodon.org/api/v1/timelines/list/7351?limit=5&min_id=112484057205414223>;
        rel="prev"
      etag: W/"04bbb11998530dc4a38947a45c982a3a"
    body:
      string: '[{"id":"112484057205414223","created_at":"2024-05-22T09:35:01.792Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://fosstodon.org/users/JBGruber/statuses/112484057205414223","url":"https://fosstodon.org/@JBGruber/112484057205414223","replies_count":1,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"content":"\u003cp\u003e@chainsawriot@emacs.ch
        the main problem I hoped to solve was borking my system with nvidia driver
        updates about twice a year. I have a nice hook that makes a snapshot before
        every update and can just roll back. But not much use when the partition itself
        is not stable and boring. So I\u0026#39;m now looking how to make roll backs
        easier with ext4...\u003c/p\u003e","filtered":[],"reblog":null,"application":{"name":"Tusky","website":"https://tusky.app"},"account":{"id":"109290786298388981","username":"JBGruber","acct":"JBGruber","display_name":"Johannes
        B. Gruber","locked":false,"bot":false,"discoverable":true,"indexable":false,"group":false,"created_at":"2022-11-05T00:00:00.000Z","note":"\u003cp\u003ePostdoc
        researcher\u003cbr /\u003e@ Vrije Universiteit Amsterdam and the OPTED project
        | previously @ European New School of Digital Studies (ENS) | PhD from University
        of Glasgow | I study media framing of protest and develop tools for research
        | text analysis + \u003ca href=\"https://fosstodon.org/tags/rstats\" class=\"mention
        hashtag\" rel=\"tag\"\u003e#\u003cspan\u003erstats\u003c/span\u003e\u003c/a\u003e
        enthusiast\u003c/p\u003e","url":"https://fosstodon.org/@JBGruber","uri":"https://fosstodon.org/users/JBGruber","avatar":"https://cdn.fosstodon.org/accounts/avatars/109/290/786/298/388/981/original/d36c2a0d6134bec5.jpg","avatar_static":"https://cdn.fosstodon.org/accounts/avatars/109/290/786/298/388/981/original/d36c2a0d6134bec5.jpg","header":"https://cdn.fosstodon.org/accounts/headers/109/290/786/298/388/981/original/de9bed082c024112.jpeg","header_static":"https://cdn.fosstodon.org/accounts/headers/109/290/786/298/388/981/original/de9bed082c024112.jpeg","followers_count":549,"following_count":240,"statuses_count":111,"last_status_at":"2024-05-27","hide_collections":false,"noindex":true,"emojis":[],"roles":[],"fields":[{"name":"Website","value":"\u003ca
        href=\"https://www.johannesbgruber.eu/\" target=\"_blank\" rel=\"nofollow
        noopener me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003ejohannesbgruber.eu/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"GitHub","value":"\u003ca
        href=\"https://github.com/JBGruber\" target=\"_blank\" rel=\"nofollow noopener
        me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/JBGruber\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"quote":null,"card":null,"poll":null},{"id":"112483321320234937","created_at":"2024-05-22T06:27:53.073Z","in_reply_to_id":"112483316668274156","in_reply_to_account_id":"109290786298388981","sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://fosstodon.org/users/JBGruber/statuses/112483321320234937","url":"https://fosstodon.org/@JBGruber/112483321320234937","replies_count":1,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked"[...]
