http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/timelines/list/2507?limit=5
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cb3cef3fcf724ce96784b5c93821eef8"
      link: <https://social.tchncs.de/api/v1/timelines/list/2507?limit=5&max_id=109304458335277781>;
        rel="next", <https://social.tchncs.de/api/v1/timelines/list/2507?limit=5&min_id=109308572154618455>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-08T16:45:00.978134Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109308572154618455\",\"created_at\":\"2022-11-08T14:07:24.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":null,\"uri\":\"https://fediscience.org/users/JohannesBreuer/statuses/109308572093118756/activity\",\"url\":null,\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\",\"reblog\":{\"id\":\"109308171289653678\",\"created_at\":\"2022-11-08T12:25:24.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://scholar.social/users/olivia/statuses/109308171045526646\",\"url\":\"https://scholar.social/@olivia/109308171045526646\",\"replies_count\":3,\"reblogs_count\":15,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"b[...]
