http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/instance
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      deprecation: '@1668384000'
      etag: W/"965cf24d8eae05ac1453a31270be737a"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '281'
      x-ratelimit-reset: '2025-07-17T13:45:00.211928Z'
    body:
      string: "{\"uri\":\"social.tchncs.de\",\"title\":\"Mastodon\",\"short_description\":\"A
        friendly server from Germany – which tends to attract techy people, but welcomes
        everybody. This is one of the oldest Mastodon instances.\",\"description\":\"One
        of the first Mastodon instances, there is no specific topic we're into, just
        enjoy your time!\",\"email\":\"milan@tchncs.de\",\"version\":\"4.4.1\",\"urls\":{\"streaming_api\":\"wss://social.tchncs.de\"},\"stats\":{\"user_count\":22960,\"status_count\":3689159,\"domain_count\":58850},\"thumbnail\":\"https://f2.tchncs.de/site_uploads/files/000/000/009/@1x/02fafff6fb176331.png\",\"languages\":[\"en\"],\"registrations\":true,\"approval_required\":true,\"invites_enabled\":true,\"configuration\":{\"accounts\":{\"max_featured_tags\":10},\"statuses\":{\"max_characters\":800,\"max_media_attachments\":4,\"characters_reserved_per_url\":23},\"media_attachments\":{\"supported_mime_types\":[\"image/jpeg\",\"image/png\",\"image/gif\",\"image/heic\",\"image/heif\",\"image/webp\",\"image/avif\",\"video/webm\",\"video/mp4\",\"video/quicktime\",\"video/ogg\",\"audio/wave\",\"audio/wav\",\"audio/x-wav\",\"audio/x-pn-wave\",\"audio/vnd.wave\",\"audio/ogg\",\"audio/vorbis\",\"audio/mpeg\",\"audio/mp3\",\"audio/webm\",\"audio/flac\",\"audio/aac\",\"audio/m4a\",\"audio/x-m4a\",\"audio/mp4\",\"audio/3gpp\",\"video/x-ms-asf\"],\"image_size_limit\":16777216,\"image_matrix_limit\":33177600,\"video_size_limit\":103809024,\"video_frame_rate_limit\":120,\"video_matrix_limit\":8294400},\"polls\":{\"max_options\":4,\"max_characters_per_option\":50,\"min_expiration\":300,\"max_expiration\":2629746}},\"contact_account\":{\"id\":\"1833\",\"username\":\"milan\",\"acct\":\"milan\",\"display_name\":\"Milan\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2017-01-26T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eAutodidactic
        sysadmin (which kinda escalated of the recent years) and sometimes the guy
        with a camera.\\u003cbr /\\u003eI run \\u003ca href=\\\"https://social.tchncs.de/tags/tchncs\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003etchncs\\u003c/span\\u003e\\u003c/a\\u003e
        :tchncs: among other things.\\u003c/p\\u003e\\u003cp\\u003e:archlinux: :debian:
        :apple_inc: :hostsharing: :lxc: :ansible: :onewheelpintxy: \U0001F463\U0001F6B4\U0001F4F7
        :b90gruene: :volt:\\u003c/p\\u003e\\u003cp\\u003eIf I don\\u0026#39;t answer,
        it is most likely nothing personal but poor time and task management –\\u0026gt;
        please ask again.\\u003c/p\\u003e\",\"url\":\"https://social.tchncs.de/@milan\",\"uri\":\"https://social.tchncs.de/users/milan\",\"avatar\":\"https://f2.tchncs.de/accounts/avatars/000/001/833/original/c504474d6a70ecde.jpg\",\"avatar_static\":\"https://f2.tchncs.de/accounts/avatars/000/001/833/original/c504474d6a70ecde.jpg\",\"header\":\"https://f2.tchncs.de/accounts/headers/000/001/833/original/3ed599979f1fee1b.jpg\",\"header_static\":\"https://f2.tchncs.de/accounts/headers/000/001/833/original/3ed599979f1fee1b.jpg\",\"followers_count\":8946,\"following_count\":488,\"statuses_count\":34775,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"noindex\":false,\"emojis\":[{\"shortcode\":\"tchncs\",\"url\":\"https://f2.tchncs.de/custom_emojis/images/000/806/883/original/0dbd59d326b6cbb3.png\",\"static_url\":\"https://f2.tchncs.de/custom_emojis/images/000/806/883/static/0dbd59d326b6cbb3.png\",\"visible_in_picker\":true},{\"shortcode\":\"archlinux\",\"url\":\"https://f2.tchncs.de/custom_emojis/images/000/001/244/original/c6d5301ff3b22b81.png\",\"static_url\":\"https://f2.tchncs.de/custom_emojis/images/000/001/244/static/c6d5301ff3b22b81.png\",\"visible_in_picker\":true},{\"shortcode\":\"debian\",\"url\":\"https://f2.tchncs.de/custom_emojis/images/000/001/246/original/debian.png\",\"static_url\":\"https://f2.tchncs.de/custom_emojis/images/000/001/246/static/debian.png\",\"visible_in_picker\":true},{\"shortc[...]
