http_interactions:
- request:
    method: GET
    uri: https://mastodon.social/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T13:45:00.602376Z'
      x-ratelimit-remaining: '293'
      link: <https://mastodon.social/api/v1/timelines/public?limit=20&local=FALSE&max_id=114868869673576135&only_media=FALSE&remote=FALSE>;
        rel="next", <https://mastodon.social/api/v1/timelines/public?limit=20&local=FALSE&min_id=114868869878831313&only_media=FALSE&remote=FALSE>;
        rel="prev"
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"1e798377df948b46c0184cd163c7898d"
    body:
      string: "[{\"id\":\"114868869878831313\",\"created_at\":\"2025-07-17T13:44:13.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://masto.ai/users/euractiv/statuses/114868869736881589\",\"url\":\"https://masto.ai/@euractiv/114868869736881589\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eBrussels’
        new tobacco tax plan sparks clash between industry and NGOs \\u003ca href=\\\"https://www.euractiv.com/section/health-consumers/news/brussels-new-tobacco-tax-plan-sparks-clash-between-industry-and-ngos/?utm_source=mastodon\\u0026amp;utm_medium=dlvr.it\\\"
        rel=\\\"nofollow noopener\\\" translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan class=\\\"ellipsis\\\"\\u003eeuractiv.com/section/health-co\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ensumers/news/brussels-new-tobacco-tax-plan-sparks-clash-between-industry-and-ngos/?utm_source=mastodon\\u0026amp;utm_medium=dlvr.it\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"reblog\":null,\"account\":{\"id\":\"109303490240846321\",\"username\":\"euractiv\",\"acct\":\"euractiv@masto.ai\",\"display_name\":\"Euractiv\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":false,\"group\":false,\"created_at\":\"2022-11-07T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eIndependent,
        multilingual, pan-European, \\u0026amp; constructive. We build the European
        public sphere.\\u003c/p\\u003e\\u003cp\\u003eGet us in your inbox: \\u003ca
        href=\\\"https://euractiv.com/newsletters\\\" rel=\\\"nofollow noopener\\\"
        translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003eeuractiv.com/newsletters\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"url\":\"https://masto.ai/@euractiv\",\"uri\":\"https://masto.ai/users/euractiv\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/303/490/240/846/321/original/565cb3e70da84870.png\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/109/303/490/240/846/321/original/565cb3e70da84870.png\",\"header\":\"https://files.mastodon.social/cache/accounts/headers/109/303/490/240/846/321/original/d0859c9c0ad4f1e5.png\",\"header_static\":\"https://files.mastodon.social/cache/accounts/headers/109/303/490/240/846/321/original/d0859c9c0ad4f1e5.png\",\"followers_count\":2826,\"following_count\":16,\"statuses_count\":26168,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"emojis\":[],\"fields\":[]},\"media_attachments\":[{\"id\":\"114868869850653645\",\"type\":\"image\",\"url\":\"https://files.mastodon.social/cache/media_attachments/files/114/868/869/850/653/645/original/0a31b9676ea62caa.jpeg\",\"preview_url\":\"https://files.mastodon.social/cache/media_attachments/files/114/868/869/850/653/645/small/0a31b9676ea62caa.jpeg\",\"remote_url\":\"https://s3.masto.ai/media_attachments/files/114/868/869/304/357/681/original/418887d962f7f5f2.jpeg\",\"preview_remote_url\":null,\"text_url\":null,\"meta\":{\"original\":{\"width\":1024,\"height\":683,\"size\":\"1024x683\",\"aspect\":1.499267935578331},\"small\":{\"width\":588,\"height\":392,\"size\":\"588x392\",\"aspect\":1.5}},\"description\":null,\"blurhash\":\"UEF62$xt?wxtX4WEM{t7.8oei_R+nhtRkWRj\"}],\"mentions\":[],\"tags\":[],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114868869872516055\",\"created_at\":\"2025-07-17T13:44:09.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://channels.im/users/rawchili/statuses/114868869500036982\",\"url\":\"https://channels.im/@rawchili/114868869500036982\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eRanking
        Vanderbilt f[...]
