http_interactions:
- request:
    method: GET
    uri: https://mastodon.social/api/v1/statuses/109294719267373593/context
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T18:05:00.269179Z'
      x-ratelimit-remaining: '299'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"64213a5495148c3afa1e218b49311df2"
    body:
      string: "{\"ancestors\":[],\"descendants\":[{\"id\":\"109294767623508949\",\"created_at\":\"2022-11-06T03:36:44.808Z\",\"in_reply_to_id\":\"109294719267373593\",\"in_reply_to_account_id\":\"109246333737365889\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/austinkocher/statuses/109294767623508949\",\"url\":\"https://mastodon.social/@austinkocher/109294767623508949\",\"replies_count\":0,\"reblogs_count\":18,\"favourites_count\":23,\"edited_at\":null,\"content\":\"\\u003cp\\u003eThe
        best way to keep this development going and to get features added is to support
        the team. I \\u003ca href=\\\"https://mastodon.social/tags/SupportMastodon\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eSupportMastodon\\u003c/span\\u003e\\u003c/a\\u003e
        at $10 a month, but you can choose less or more. See my post below with link
        to \\u003ca href=\\\"https://mastodon.social/tags/Patreon\\\" class=\\\"mention
 [...]
