http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/lists/7351
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '274'
      x-ratelimit-reset: '2025-07-17T13:45:00.152500Z'
      etag: W/"22d44f0a0c891b3e356da433a7f54585"
    body:
      string: '{"id":"7351","title":"rtoot devs","replies_policy":"list","exclusive":false}'
  recorded_at: 2025-07-17 13:44:26
recorded_with: VCR-vcr/1.7.1.93
