http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/timelines/public?local=TRUE&remote=FALSE&only_media=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bdbf5e3f6f34d44bedb6e9e8097c88b5"
      link: <https://social.tchncs.de/api/v1/timelines/public?limit=10&local=TRUE&max_id=114868745427538673&only_media=FALSE&remote=FALSE>;
        rel="next", <https://social.tchncs.de/api/v1/timelines/public?limit=10&local=TRUE&min_id=114868843230938241&only_media=FALSE&remote=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '282'
      x-ratelimit-reset: '2025-07-17T13:45:00.089422Z'
    body:
      string: "[{\"id\":\"114868843230938241\",\"created_at\":\"2025-07-17T13:37:28.714Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://social.tchncs.de/users/Haydar/statuses/114868843230938241\",\"url\":\"https://social.tchncs.de/@Haydar/114868843230938241\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":1,\"edited_at\":null,\"content\":\"\\u003cp\\u003eSo,
        jetzt Ruhe hier. \\u003ca href=\\\"https://social.tchncs.de/tags/StarTrek\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eStarTrek\\u003c/span\\u003e\\u003c/a\\u003e
        \\u003ca href=\\\"https://social.tchncs.de/tags/strangenewworlds\\\" class=\\\"mention
        hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003estrangenewworlds\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"reblog\":null,\"application\":{\"name\":\"Tusky\",\"website\":\"https://tusky.app\"},\"account\":{\"id\":\"14939\",\"username\":\"Haydar\",\"acct\":\"Haydar\",\"display_name\":\"Senioradmin\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2017-04-06T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eFree
        Software, Free Society, No Borders.\\u003cbr /\\u003ePosts in deutsch, english.
        Aprendo \\u003ca href=\\\"https://social.tchncs.de/tags/espa%C3%B1ol\\\" class=\\\"mention
        hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eespañol\\u003c/span\\u003e\\u003c/a\\u003e.
        \\u003cbr /\\u003eWeitere Themen: \\u003ca href=\\\"https://social.tchncs.de/tags/ITSec\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eITSec\\[...]
