http_interactions:
- request:
    method: get
    uri: https://api.index.community/api/instances?sortField=userCount&sortDirection=desc&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: "{\"instances\":[{\"description\":\"Server run by the main developers
        of the project <img alt=\\\"\U0001F418\\\" src=\\\"https://mastodon.social/emoji/1f418.svg\\\"
        /> It is not focused on any particular niche interest - everyone is welcome
        as long as you follow our code of conduct!\",\"insularity\":0.0,\"name\":\"mastodon.social\",\"statusCount\":30833830,\"statusesPerDay\":86.32724723566923,\"statusesPerUserPerDay\":1.5285624757316676e-4,\"type\":\"mastodon\",\"userCount\":564761,\"version\":\"3.4.1\"},{\"description\":\"\",\"insularity\":null,\"name\":\"joindiaspora.com\",\"statusCount\":2947739,\"statusesPerDay\":null,\"statusesPerUserPerDay\":null,\"type\":\"diaspora\",\"userCount\":316346,\"version\":\"1.0.0-dev-p86674b41\"},{\"description\":\"\U0001F3A8
        Freely share all types of art. This instance welcomes any depiction expressed
        as a piece of fiction in subject or setting. Re-posting is discouraged.<br
        /><br />\\r\\n✅ Uncensored 2D drawings &amp; 3D models<br />\\r\\n✅ Zero guidelines
        on fictional characters<br />\\r\\n❌ No real life photographic pornography<br
        />\\r\\n❌ <a href=\\\"https://baraag.net/about/more\\\">No illegal content*</a><br
        /><br />\\r\\n\\r\\n\U0001F51E Preview the local timeline of this instance
        <a href=\\\"https://tusktowall.darthvid.com/?instance=baraag.net\\\">here</a><br
        />\\r\\nBy viewing any content at baraag.net, you agree to the <a[...]
- request:
    method: get
    uri: https://api.index.community/api/instances?sortField=userCount&sortDirection=desc&page=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"instances":[{"description":"Just another Mastodon Site hosted in
        the UK, by individuals in the UK.","insularity":0.3603082851637765,"name":"mastodonapp.uk","statusCount":41040,"statusesPerDay":3094.2837306179126,"statusesPerUserPerDay":0.10569352816702803,"type":"mastodon","userCount":29276,"version":"3.5.3"},{"description":"A
        Mastodon server friendly towards anti-fascists, members of the LGBTQ+ community,
        hackers, and the like.","insularity":0.34934497816593885,"name":"mastodon.lol","statusCount":332775,"statusesPerDay":2557.065142282807,"statusesPerUserPerDay":0.09179584801417313,"type":"mastodon","userCount":27856,"version":"3.5.3"},{"description":"Mastodon.<em>ART</em>
        — a place for creativity of all kinds, from illustration, visual, 3D, coding,
        gamedev, photography, musical, written, performance art, and on! Make .ART
        your new fediverse home; in addition to your works-in-progress, daily random
        &amp; fun banter, commentary &amp; cited fair-use posts/art/reviews of others''
        art is welcome too. 20,000+ artists here welcome you to y(our) ad free &amp;
        open source decentralized creative social life. Please <[...]
