http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/timelines/tag/ichbinhanna?local=FALSE&only_media=FALSE&limit=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b9b2014da789fdb2f645d2e4886d2a69"
      link: <https://mastodon.social/api/v1/timelines/tag/ichbinhanna?limit=5&local=FALSE&max_id=109302354165120279&only_media=FALSE>;
        rel="next", <https://mastodon.social/api/v1/timelines/tag/ichbinhanna?limit=5&local=FALSE&min_id=109307661613791619&only_media=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-08T16:35:00.271793Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109307661613791619\",\"created_at\":\"2022-11-08T10:15:51.486Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://mastodon.social/users/amreibahr/statuses/109307661613791619\",\"url\":\"https://mastodon.social/@amreibahr/109307661613791619\",\"replies_count\":0,\"reblogs_count\":4,\"favourites_count\":18,\"edited_at\":null,\"content\":\"\\u003cp\\u003eIch
        habe es satt, mich ständig bewähren zu müssen. Pausenlos soll ich abliefern.
        Es geht nicht allein darum, bewertet zu werden. Es geht darum, dass an all
        diesen Bewertungen die eigene berufliche Existenz hängt. In anderen Branchen
        ist ein weniger produktiver Tag nicht mehr als das: Ein Tag, an dem man nicht
        so viel schafft wie geplant. Aber wehe \\u003ca href=\\\"https://mastodon.social/tags/IchBinHanna\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eIchBinHanna\\u003c/span\\u003e\\u003c/a\\u003e
        hat so einen Tag. Dann geht das Gedankenkarussell los. Das schlechte Gewissen.
        Die Existenzangst. Jahrelang. Immer. Ermüdend. Zermürbend.\\u003c/p\\u003e\",\"reblog\":null,\"application\":{\"name\":\"Web\",\"website\":null},\"account\":{\"id\":\"109245508337104370\",\"username\":\"amreibahr\",\"acct\":\"amreibahr\",\"display_name\":\"Amrei
        Bahr\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2022-10-28T00:00:00.000Z\",\"note\":\"\\u003cp\\u003ePhilosophin
        | Ethik des Recyclings \\u0026amp; Kopierethik | Juniorprof an der Uni Stuttgart
        | \\u003ca href=\\\"https://mastodon.social/tags/WissKomm\\\" class=\\\"mention
        hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eWissKomm\\u003c/span\\u003e\\u003c/a\\u003e
        | hat mit Kristin Eichhorn und Sebastian Kubon \\u003ca href=\\\"https://mastodon.social/tags/IchBinHanna\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eIchBinHanna\\u003c/span\\u003e\\u003c/a\\u003e
        initiiert\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@amreibahr\",\"avatar\":\"https://files.mastodon.social/accounts/avatars/109/245/508/337/104/370/original/5f5b0a271ce52a51.jpg\",\"avatar_static\":\"https://files.mastodon.social/accounts/avatars/109/245/508/337/104/370/original/5f5b0a271ce52a51.jpg\",\"header\":\"https://files.mastodon.social/accounts/headers/109/245/508/337/104/370/original/7b07d620427e9fc2.jpg\",\"header_static\":\"https://files.mastodon.social/accounts/headers/109/245/508/337/104/370/original/7b07d620427e9fc2.jpg\",\"followers_count\":546,\"following_count\":107,\"statuses_count\":50,\"last_status_at\":\"2022-11-08\",\"noindex\":false,\"emojis\":[],\"fields\":[]},\"media_attachments\":[],\"mentions\":[],\"tags\":[{\"name\":\"IchbinHanna\",\"url\":\"https://mastodon.social/tags/IchbinHanna\"}],\"emojis\":[],\"card\":null,\"poll\":null},{\"id\":\"109304314810517257\",\"created_at\":\"2022-11-07T20:04:43.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mas.to/users/CathleenSarti/statuses/109304314822684850\",\"url\":\"https://mas.to/@CathleenSarti/109304314822684850\",\"replies_count\":0,\"reblogs_count\":6,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eQuick
        \\u003ca href=[...]
