http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/statuses/109294719267373593/favourited_by
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"51afd65e17ef7437875f84b4550b344c"
      link: <https://mastodon.social/api/v1/statuses/109294719267373593/favourited_by?max_id=45712995>;
        rel="next", <https://mastodon.social/api/v1/statuses/109294719267373593/favourited_by?since_id=45760283>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2022-11-08T15:45:00.355920Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109287209441005390\",\"username\":\"msuppity\",\"acct\":\"msuppity@mastodon.lol\",\"display_name\":\"Ms.
        Uppity\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2022-11-04T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eBerlin.
        I hate the living. I love the reference. Pro vaxx, pro choice, pro love.\\u003c/p\\u003e\",\"url\":\"https://mastodon.lol/@msuppity\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/287/209/441/005/390/original/9648fa402a998b16.jpg\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/109/287/209/441/005/390/original/9648fa402a998b16.jpg\",\"header\":\"https://files.mastodon.social/cache/accounts/headers/109/287/209/441/005/390/original/7868e76104784dbe.jpg\",\"header_static\":\"https://files.mastodon.social/cache/accounts/headers/109/287/209/441/005/390/original/7868e76104784dbe.jpg\",\"followers_count\":10,\"following_count\":20,\"statuses_count\":13,\"last_status_at\":\"2022-11-08\",\"emojis\":[],\"fields\":[{\"name\":\"Twitter\",\"value\":\"\\u003ca
        href=\\\"https://twitter.com/tlcoles\\\" rel=\\\"nofollow noopener noreferrer\\\"
        target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003etwitter.com/tlcoles\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null}]},{\"id\":\"109291038171338205\",\"username\":\"NadineHere\",\"acct\":\"NadineHere@mastodon.green\",\"display_name\":\"Nadine\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2022-11-05T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e\U0001F1EC\U0001F1E7\U0001F1E9\U0001F1EA\U0001F1EA\U0001F1FA
        mature education student \\u0026amp; web dev working in \U0001F1F1\U0001F1FA
        \\u2028Passions: \\u003ca href=\\\"https://mastodon.green/tags/cycling\\[...]
