http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/accounts/relationships?id%5B%5D=109281650341067731
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8a778d86809295dd4884adab2929cf7b"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '296'
      x-ratelimit-reset: '2022-11-09T09:50:00.721984Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"109281650341067731","following":false,"showing_reblogs":false,"notifying":false,"followed_by":false,"blocking":false,"blocked_by":false,"muting":false,"muting_notifications":false,"requested":false,"domain_blocking":false,"endorsed":false,"note":""}]'
  recorded_at: 2022-11-09 09:47:40 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
