http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/timelines/tag/rstats?local=FALSE&only_media=FALSE&limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '289'
      x-ratelimit-reset: '2025-07-17T20:05:00.029798Z'
      link: <https://fosstodon.org/api/v1/timelines/tag/rstats?limit=5&local=FALSE&max_id=114869144097749491&only_media=FALSE>;
        rel="next", <https://fosstodon.org/api/v1/timelines/tag/rstats?limit=5&local=FALSE&min_id=114870142263126875&only_media=FALSE>;
        rel="prev"
      etag: W/"777ae1a71070d32c6851cbe0e68ed301"
    body:
      string: "[{\"id\":\"114870142263126875\",\"created_at\":\"2025-07-17T19:07:48.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://rstats.me/users/simonpcouch/statuses/114870142137562212\",\"url\":\"https://rstats.me/@simonpcouch/114870142137562212\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":1,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eAfter
        a month or so of not using Claude Code much to write R code, I recently returned
        to using the tool most days. Giving coding assistants the ability to peruse
        \\u003ca href=\\\"https://rstats.me/tags/rstats\\\" class=\\\"mention hashtag\\\"
        rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003erstats\\u003c/span\\u003e\\u003c/a\\u003e
        package documentation via MCP is so, so helpful: \\u003ca href=\\\"https://www.simonpcouch.com/blog/2025-07-17-claude-code-2/\\\"
        rel=\\\"nofollow noopener\\\" translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan class=\\\"ellipsis\\\"\\u003esimonpcouch.com/blog/2025-07-1\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e7-claude-code-2/\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"account\":{\"id\":\"114377281268186618\",\"username\":\"simonpcouch\",\"acct\":\"simonpcouch@rstats.me\",\"display_name\":\"Simon
        P. Couch\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"indexable\":false,\"group\":false,\"created_at\":\"2025-04-20T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e\\u003ca
        href=\\\"https://rstats.me/tags/rstats\\\" class=\\\"mention hashtag\\\" rel=\\\"nofollow
        noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003erstats\\u003c/span\\u003e\\u003c/a\\u003e,
        data science, LLMs\\u003c/p\\u003e\\u003cp\\u003erecently moved to this server
        from fosstodon.org\\u003c/p\\u003e\",\"url\":\"https://rstats.me/@simonpcouch\",\"uri\":\"https://rstats.me/users/simonpcouch\",\"avatar\":\"https://cdn.fosstodon.org/cache/accounts/avatars/114/377/281/268/186/618/original/44358f3b9fad00ec.png\",\"avatar_static\":\"https://cdn.fosstodon.org/cache/accounts/avatars/114/377/281/268/186/618/original/44358f3b9fad00ec.png\",\"header\":\"https://fosstodon.org/headers/original/missing.png\",\"header_static\":\"https://fosstodon.org/headers/original/missing.png\",\"followers_count\":656,\"following_count\":128,\"statuses_count\":41,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"emojis\":[],\"fields\":[{\"name\":\"Website\",\"value\":\"simonpcouch.com\",\"verified_at\":null},{\"name\":\"GitHub\",\"value\":\"github.com/simonpcouch\",\"verified_at\":null}]},\"media_attachments\":[{\"id\":\"114870142190466178\",\"type\":\"image\",\"url\":\"https://cdn.fosstodon.org/cache/media_attachments/files/114/870/142/190/466/178/original/4f8d8f71bb873ba5.png\",\"preview_url\":\"https://cdn.fosstodon.org/cache/media_attachments/files/114/870/142/190/466/178/small/4f8d8f71bb873ba5.png\",\"remote_url\":\"https://cdn.masto.host/rstatsme/media_attachments/files/114/870/141/353/414/564/original/551bfb1ff2cfa086.png\",\"preview_remote_url\":null,\"text_url\":null,\"meta\":{\"focus\":{\"x\":0.0,\"y\":0.0},\"original\":{\"width\":1273,\"height\":687,\"size\":\"1273x687\",\"aspect\":1.8529839883551673},\"small\":{\"width\":653,\"height\":352,\"size\":\"653x352\",\"aspect\":1.8551136363636365}},\"description\":\"A
        screenshot of a Claude Code terminal. The top reads 'read-up is running...'
        and three tool calls fetching the documentation for related packages are shown
        below.\",\"blurhash\":\"U8RD1VV@^+-;~qIAM|x]_2aeNGj[%Mt7xaRj\"}],\"mentions\":[],\"tags\":[{\"name\":\"rstats\",\"url\":\"https://fosstodon.org/tags/rstats\"}],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114869631729644574\",\"created_at\":\"2025-07-17T16:57:57.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/useR_conf/statuses/114869631572884594\",\"url\":\"https://mastodon.social/@useR_conf/114869631572884594\",\"replies_count\":0,\"reblogs_count\":6,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"mute[...]
