http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"92db8ef5481005333990c825208b63f5"
      link: <https://social.tchncs.de/api/v1/timelines/public?limit=20&local=FALSE&max_id=114868868622261900&only_media=FALSE&remote=FALSE>;
        rel="next", <https://social.tchncs.de/api/v1/timelines/public?limit=20&local=FALSE&min_id=114868869745180536&only_media=FALSE&remote=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '284'
      x-ratelimit-reset: '2025-07-17T13:45:00.648714Z'
    body:
      string: "[{\"id\":\"114868869745180536\",\"created_at\":\"2025-07-17T13:44:12.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://det.social/users/murielmuraene/statuses/114868869689993646\",\"url\":\"https://det.social/@murielmuraene/114868869689993646\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eKurze
        Info an alle: \\u003cbr\\u003eIn sechs Wochen steht wieder Lebkuchen im Supermarkt!
        \\u003cbr\\u003eDanke für Ihre Aufmerksamkeit.\\u003c/p\\u003e\",\"reblog\":null,\"account\":{\"id\":\"109116425182194240\",\"username\":\"murielmuraene\",\"acct\":\"murielmuraene@det.social\",\"display_name\":\"Muriel
        Muraene\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":false,\"group\":false,\"created_at\":\"2022-10-05T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eAlle
        Tassen im Schrank☕\U0001F375\\u003c/p\\u003e\",\"url\":\"https://det.social/@murielmuraene\",\"uri\":\"https://det.social/users/murielmuraene\",\"avatar\":\"https://f2.tchncs.de/cache/accounts/avatars/109/116/425/182/194/240/original/4ba542abfefc1a4f.png\",\"avatar_static\":\"https://f2.tchncs.de/cache/accounts/avatars/109/116/425/182/194/240/original/4ba542abfefc1a4f.png\",\"header\":\"https://f2.tchncs.de/cache/accounts/headers/109/116/425/182/194/240/original/aaae7ecb45fab492.png\",\"header_static\":\"https://f2.tchncs.de/cache/accounts/headers/109/116/425/182/194/240/original/aaae7ecb45fab492.png\",\"followers_count\":528,\"following_count\":772,\"statuses_count\":125,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"emojis\":[],\"fields\":[]},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114868869624278309\",\"created_at\":\"2025-07-17T13:36:49.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://flipboard.com/users/GQ_Germany/statuses/b9ekytPuStCgK6Jc41nbfg:a:2335458592\",\"url\":\"https://flipboard.com/@gq_germany/gq-germany-ntofuchlz/-/a-b9ekytPuStCgK6Jc41nbfg%3Aa%3A2335458592-%2F0\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,[...]
