http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/favourites?limit=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"12c9c658c7903cfeb8b87f2b07ea1183"
      link: <https://social.tchncs.de/api/v1/favourites?limit=3&max_id=3430852>; rel="next",
        <https://social.tchncs.de/api/v1/favourites?limit=3&min_id=3463277>; rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '293'
      x-ratelimit-reset: '2022-11-09T09:50:00.563920Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"109308788247441838","created_at":"2022-11-08T15:02:18.000Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://mastodon.hk/users/jackysee/statuses/109308787952470562","url":"https://mastodon.hk/@jackysee/109308787952470562","replies_count":0,"reblogs_count":0,"favourites_count":1,"edited_at":null,"favourited":true,"reblogged":false,"muted":false,"bookmarked":false,"content":"\u003cp\u003e小影舊文重推
        \u003ca href=\"https://medium.com/@siuying/mastodon-6d4e8070d6f0\" rel=\"nofollow
        noopener noreferrer\" target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"ellipsis\"\u003emedium.com/@siuying/mastodon-6\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003ed4e8070d6f0\u003c/span\u003e\u003c/a\u003e\u003c/p\u003e","reblog":null,"account":{"id":"360056","username":"jackysee","acct":"jackysee@mastodon.hk","display_name":"JackySee","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2017-04-10T00:00:00.000Z","note":"","url":"https://mastodon.hk/@jackysee","avatar":"https://f2.tchncs.de/cache/accounts/avatars/000/360/056/original/868adeb11dfbb009.jpg","avatar_static":"https://f2.tchncs.de/cache/accounts/avatars/000/360/056/original/868adeb11dfbb009.jpg","header":"https://social.tchncs.de/headers/original/missing.png","header_static":"https://social.tchncs.de/headers/original/missing.png","followers_count":37,"following_count":25,"statuses_count":957,"last_status_at":"2022-11-09","emojis":[],"fields":[{"name":"網絡暴民Jacky''s
        Blog","value":"\u003ca href=\"https://jacky.seezone.net\" rel=\"nofollow noopener
        noreferrer\" target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003ejacky.seezone.net\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"card":{"url":"https://medium.com/@siuying/mastodon-6d4e8070d6f0","title":"Mastodon
        - siuying - Medium","description":"Twitter 最大的問題是 Twitter 這公司，他們的策略和方向基本上是跟用戶作對的。我還記得他們移除了超強的
        Twitter iPad app 換成現在「統一」的垃圾、他們的 Dick Bar 、他們的 100000 個 auth token 限制來毒殺第三方軟件，他們近年最大的創新居然是
        140 字不計 mention 和 url。。。 最近火紅起來的 Mastodon 我覺得是…","type":"link","author_name":"siuying","author_url":"https://medium.com/@siuying","provider_name":"Medium","provider_url":"","html":"","width":400,"height":353,"image":"https://f2.tchncs.de/cache/preview_cards/images/000/553/619/original/0c804ee07b6bd509.jpeg","embed_url":"","blurhash":"USO;k|,z5MetKMOt%1bJOIw?XBjXn5W-V[j?"},"poll":null},{"id":"109302489979440843","created_at":"2022-11-07T12:20:36.000Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://mastodon.social/users/schochastics/statuses/109302489838361522","url":"https://mastodon.social/@schochastics/109302489838361522","replies_count":0,"reblogs_count":0,"favourites_count":1,"edited_at":null,"favourited":true,"reblogged":false,"muted":false,"bookmarked":false,"content":"\u0[...]
