http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/bookmarks?limit=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5898a4c3d9f2a3f78d06ac184b536886"
      link: <https://social.tchncs.de/api/v1/bookmarks?limit=3&min_id=105845>; rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '294'
      x-ratelimit-reset: '2022-11-09T09:50:00.002252Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"109311107005551725","created_at":"2022-11-09T00:51:58.000Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://social.coop/users/groceryheist/statuses/109311106658881153","url":"https://social.coop/@groceryheist/109311106658881153","replies_count":1,"reblogs_count":5,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":true,"content":"\u003cp\u003eWhy
        do people participate in overlapping online communities?\u003c/p\u003e\u003cp\u003eMy
        \u003cspan class=\"h-card\"\u003e\u003ca href=\"https://hci.social/@cscw\"
        class=\"u-url mention\" rel=\"nofollow noopener noreferrer\" target=\"_blank\"\u003e@\u003cspan\u003ecscw\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e  paper
        presented today in the \"Online Communities and Inclusivity\" session explores
        this question through an interviews with Reddit users who contribute to several
        online communities with related topics.\u003c/p\u003e\u003cp\u003eI want to
        start by thanking and giving credit to my collaborators:\u003cbr\u003e\u003cspan
        class=\"h-card\"\u003e\u003ca href=\"https://hci.social/@healspersecond\"
        class=\"u-url mention\" rel=\"nofollow noopener noreferrer\" target=\"_blank\"\u003e@\u003cspan\u003ehealspersecond\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e,\u003cbr\u003eNicole
        McGinnis, Isabella Brown, Laura (Alia) Levi, and \u003cspan class=\"h-card\"\u003e\u003ca
        href=\"https://social.coop/@mako\" class=\"u-url mention\" rel=\"nofollow
        noopener noreferrer\" target=\"_blank\"\u003e@\u003cspan\u003emako\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e.\u003c/p\u003e","reblog":null,"account":{"id":"91877","username":"groceryheist","acct":"groceryheist@social.coop","display_name":"Nathan
        TeBlunthuis","locked":false,"bot":false,"discoverable":true,"group":false,"created_at":"2018-04-13T00:00:00.000Z","note":"\u003cp\u003e\u003c/p\u003e","url":"https://social.coop/@groceryheist","avatar":"https://f2.tchncs.de/cache/accounts/avatars/000/091/877/original/77a46c04cdc69ff7.jpg","avatar_static":"https://f2.tchncs.de/cache/accounts/avatars/000/091/877/original/77a46c04cdc69ff7.jpg","header":"https://social.tchncs.de/headers/original/missing.png","header_static":"https://social.tchncs.de/headers/original/missing.png","followers_count":137,"following_count":310,"statuses_count":220,"last_status_at":"2022-11-09","emojis":[],"fields":[{"name":"homepage","value":"\u003ca
        href=\"https://teblunthuis.cc\" rel=\"nofollow noopener noreferrer\" target=\"_blank\"\u003e\u003cspan
        class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan class=\"\"\u003eteblunthuis.cc\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2022-11-07T19:56:33.720+00:00"}]},"media_attachments":[],"mentions":[{"id":"109283322995858776","username":"cscw","url":"https://hci.social/@cscw","acct":"cscw@hci.social"},{"id":"109311106775893061","username":"healspersecond","url":"https://hci.social/@healspersecond","acct":"healspersecond@hci.social"},{"id":"59224","username":"mako","url":"https://social.coop/@mako","acct":"mako@social.coop"}],"tags":[],"emojis":[],"card":null,"poll":null}]'
  recorded_at: 2022-11-09 09:48:39 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
