http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/directory?local=FALSE&offset=0&order=active&limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a9e12e6b0e717fc0dc638c620cbd272f"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '292'
      x-ratelimit-reset: '2022-11-09T10:40:00.352578Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"109281623035321972","username":"nonsequitur","acct":"nonsequitur@mastodon.ie","display_name":"Stíofán
        MacThomáis","locked":false,"bot":false,"discoverable":true,"group":false,"created_at":"2022-04-26T00:00:00.000Z","note":"\u003cp\u003eThere''s
        no place like ::1\u003c/p\u003e","url":"https://mastodon.ie/@nonsequitur","avatar":"https://f2.tchncs.de/cache/accounts/avatars/109/281/623/035/321/972/original/4f1f3be00c9077a0.png","avatar_static":"https://f2.tchncs.de/cache/accounts/avatars/109/281/623/035/321/972/original/4f1f3be00c9077a0.png","header":"https://f2.tchncs.de/cache/accounts/headers/109/281/623/035/321/972/original/dc2e843f5ab26bbd.jpg","header_static":"https://f2.tchncs.de/cache/accounts/headers/109/281/623/035/321/972/original/dc2e843f5ab26bbd.jpg","followers_count":125,"following_count":162,"statuses_count":337,"last_status_at":"2022-11-09","emojis":[],"fields":[]},{"id":"109279950079019042","username":"MattCrumpFun","acct":"MattCrumpFun@bbs.crumplab.com","display_name":"Matt
        Crump (fun stuff)","locked":false,"bot":false,"discoverable":true,"group":false,"created_at":"2022-11-02T00:00:00.000Z","note":"\u003cp\u003eSharing
        visual things, mostly \u003ca href=\"https://bbs.crumplab.com/tags/drawing\"
        class=\"mention hashtag\" rel=\"nofollow noopener noreferrer\" target=\"_blank\"\u003e#\u003cspan\u003edrawing\u003c/span\u003e\u003c[...]
