http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/accounts/109281650341067731/statuses?limit=20&exclude_reblogs=FALSE
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6bc85011d0333407e8d13f2ddd9cbc27"
      link: <https://social.tchncs.de/api/v1/accounts/109281650341067731/statuses?exclude_reblogs=FALSE&limit=20&max_id=109315118407397095>;
        rel="next", <https://social.tchncs.de/api/v1/accounts/109281650341067731/statuses?exclude_reblogs=FALSE&limit=20&min_id=109335864066683251>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '297'
      x-ratelimit-reset: '2022-11-21T16:20:00.937143Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109335864066683251\",\"created_at\":\"2022-11-13T09:48:06.759Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":true,\"spoiler_text\":\"guilty
        pleasure\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://social.tchncs.de/users/chainsawriot/statuses/109335864066683251\",\"url\":\"https://social.tchncs.de/@chainsawriot/109335864066683251\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eFor
        all the lists of whatever (e.g. scholars on Mastodon), I am always interested
        in seeing what/who gets left out rather than what/who on the list.\\u003c/p\\u003e\",\"reblog\":null,\"application\":null,\"account\":{\"id\":\"109281650341067731\",\"username\":\"chainsawriot\",\"acct\":\"chainsawriot\",\"display_name\":\"chainsawriot\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2022-11-03T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e\\u003ca
        href=\\\"http://www.chainsawriot.com\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener noreferrer\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttp://www.\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003echainsawriot.com\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"url\":\"https://social.tchncs.de/@chainsawriot\",\"avatar\":\"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png\",\"avatar_static\":\"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png\",\"header\":\"https://social.tchncs.de/headers/original/missing.png\",\"header_static\":\"https://social.tchncs.de/headers/original/missing.png\",\"followers_count\":0,\"following_count\":48,\"statuses_count\":43,\"last_status_at\":\"2022-11-13\",\"noindex\":false,\"moved\":{\"id\":\"109337044561295054\",\"username\":\"chainsawriot\",\"acct\":\"chainsawriot@emacs.ch\",\"display_name\":\"chainsawriot\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2022-11-13T00:00:00.000Z\",\"note\":\"\",\"url\":\"https://emacs.ch/@chainsawriot\",\"avatar\":\"https://f2.tchncs.de/cache/accounts/avatars/109/337/044/561/295/054/original/e6a073c6f562aa00.jpg\",\"avatar_static\":\"https://f2.tchncs.de/cache/accounts/avatars/109/337/044/561/295/054/original/e6a073c6f562aa00.jpg\",\"header\":\"https://social.tchncs.de/headers/original/missing.png\",\"header_static\":\"https://social.tchncs.de/headers/original/missing.png\",\"followers_count\":90,\"following_count\":56,\"statuses_count\":59,\"last_status_at\":\"2022-11-21\",\"emojis\":[{\"shortcode\":\"emacs\",\"url\":\"https://f2.tchncs.de/cache/custom_emojis/images/000/726/401/original/3c7f91a4930e8b86.png\",\"static_url\":\"https://f2.tchncs.de/cache/custom_emojis/images/000/726/401/static/3c7f91a4930e8b86.png\",\"visible_in_picker\":true}],\"fields\":[{\"name\":\"Stack\",\"value\":\":emacs:,
        R, stumpwm, linux, firefox\",\"verified_at\":null},{\"name\":\"Research Interests\",\"value\":\"Keine
        Ahnung\",\"verified_at\":null},{\"name\":\"Web\",\"value\":\"\\u003ca href=\\\"https://chainsawriot.com/about/\\\"
        rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003echainsawriot.com/about/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2022-11-14T12:28:53.302+00:00\"}]},\"emojis\":[],\"fields\":[{\"name\":\"Stack\",\"value\":\"Linux,
        emacs, stumpwm, R, git, Firefox\",\"verified_at\":null},{\"name\":\"Research
        Interests\",\"value\":\"I don’t know\",\"verified_at\":null}]},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[],\"card\":null,\"poll\":null},{\"id\":\"109333002065949660\",\"created_at\":\"2022-11-12T21:40:16.096Z\",\"in_reply_to_id\":\"109332950244519108\",\"in_reply_to_account_id\":\"109281650341067731\",\"sensitive\":true,\"spoiler_text\":\"Die
        deutsche Sprache\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://social.tchncs.de/users/chainsawriot/statuses/109333002065949660\",\"url\":\"https://social.tchncs.de/@chainsawriot/109333002065949660\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count[...]
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/accounts/109281650341067731/statuses?limit=20&exclude_reblogs=FALSE&max_id=109315118407397095
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e8a4dcd8bd30e6b1b6bfca7dc3629218"
      link: <https://social.tchncs.de/api/[...]
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/accounts/109281650341067731/statuses?limit=20&exclude_reblogs=FALSE&max_id=109285625663774938
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9f83c27f2c0f0edfb418ef59075dc97d"
      link: <https://social.tchncs.de/api/v1/accounts/109281650341067731/statuses?exclude_reblogs=FALSE&limit=20&min_id=109284888045970411>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '295'
      x-ratelimit-reset: '2022-11-21T16:20:00.501292Z'
    body:
      encoding: ''
      file: no
      string: '[{"id":"109284888045970411","created_at":"2022-11-04T09:44:14.420Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://social.tchncs.de/users/chainsawriot/statuses/109284888045970411","url":"https://social.tchncs.de/@chainsawriot/109284888045970411","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"content":"\u003cp\u003eKopfschmerzen
        im Urlaub tun mehr weh.\u003c/p\u003e","reblog":null,"application":{"name":"Mastodon
        for iOS","website":"https://app.joinmastodon.org/ios"},"account":{"id":"109281650341067731","username":"chainsawriot","acct":"chainsawriot","display_name":"chainsawriot","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-11-03T00:00:00.000Z","note":"\u003cp\u003e\u003ca
        href=\"http://www.chainsawriot.com\" target=\"_blank\" rel=\"nofollow noopener
        noreferrer\"\u003e\u003cspan class=\"invisible\"\u003ehttp://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003echains[...]
