http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/accounts/109281650341067731/following?limit=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2bd056b367c3cbbec219ba6a2dd5e581"
      link: <https://social.tchncs.de/api/v1/accounts/109281650341067731/following?limit=3&max_id=710025>;
        rel="next", <https://social.tchncs.de/api/v1/accounts/109281650341067731/following?limit=3&since_id=714434>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '295'
      x-ratelimit-reset: '2022-11-09T09:40:00.264502Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109302428446630618\",\"username\":\"reutersinstitute\",\"acct\":\"reutersinstitute@mas.to\",\"display_name\":\"Reuters
        Institute\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2022-11-07T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eOur
        mission is to explore the future of journalism worldwide. \\u003c/p\\u003e\\u003cp\\u003e
        \\u2029\U0001F4EC Sign up for our weekly newsletter \\u003ca href=\\\"https://politics.us4.list-manage.com/subscribe?u=60081b78294f9bbf995e9bcf8\\u0026amp;id=0a8e38824f\\\"
        rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"ellipsis\\\"\\u003epolit[...]
