http_interactions:
- request:
    method: GET
    uri: https://social.tchncs.de/api/v1/statuses/109303266941599451/reblogged_by
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"22f7b9cb3da087cb6a9bc877caf839ca"
      link: <https://social.tchncs.de/api/v1/statuses/109303266941599451/reblogged_by?since_id=109303506835834713>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '292'
      x-ratelimit-reset: '2025-07-17T13:45:00.531826Z'
    body:
      string: '[{"id":"109302043397397028","username":"bastos","acct":"bastos@scholar.social","display_name":"Marco
        Bastos","locked":false,"bot":false,"discoverable":false,"indexable":false,"group":false,"created_at":"2018-12-20T00:00:00.000Z","note":"\u003cp\u003eAd
        Astra Fellow at University College Dublin’s School of Information and Communication
        Studies and Senior Lecturer at City, University of London. Computational methods,
        network science, and critical data studies.\u003c/p\u003e","url":"https://scholar.social/@bastos","uri":"https://scholar.social/users/bastos","avatar":"https://f2.tchncs.de/cache/accounts/avatars/109/302/043/397/397/028/original/9199bfa8061771b6.png","avatar_static":"https://f2.tchncs.de/cache/accounts/avatars/109/302/043/397/397/028/original/9199bfa8061771b6.png","header":"https://social.tchncs.de/headers/original/missing.png","header_static":"https://social.tchncs.de/headers/original/missing.png","followers_count":38,"following_count":105,"statuses_count":16,"last_status_at":"2023-12-05","hide_collections":false,"emojis":[],"fields":[{"name":"ucd","value":"\u003ca
        href=\"https://people.ucd.ie/marco.bastos\" rel=\"nofollow noopener\" target=\"_blank\"\u003e\u003cspan
        class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan class=\"\"\u003epeople.ucd.ie/marco.bastos\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"orcid","value":"\u003ca
        href=\"http://orcid.org/0000-0003-0480-1078\" rel=\"nofollow noopener\" target=\"_blank\"\u003e\u003cspan
        class=\"invisible\"\u003ehttp://\u003c/span\u003e\u003cspan class=\"\"\u003eorcid.org/0000-0003-0480-1078\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"twitter","value":"\u003ca
        href=\"https://twitter.com/toledobastos\" rel=\"nofollow noopener\" target=\"_blank\"\u003e\u003cspan
        class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan class=\"\"\u003etwitter.com/toledobastos\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"personal","value":"\u003ca
        href=\"http://www.toledobastos.com\" rel=\"nofollow noopener\" target=\"_blank\"\u003e\u003cspan
        class=\"invisible\"\u003ehttp://www.\u003c/span\u003e\u003cspan class=\"\"\u003etoledobastos.com\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]}]'
  recorded_at: 2025-07-17 13:44:13
recorded_with: VCR-vcr/1.7.1.93
