http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/lists/7351/accounts?limit=2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2025-07-17T14:05:00.371515Z'
      link: <https://fosstodon.org/api/v1/lists/7351/accounts?limit=2&since_id=109290786298388981>;
        rel="prev"
      etag: W/"3736f096b06c1de16bc8bbedef015b4a"
    body:
      string: '[{"id":"109290786298388981","username":"JBGruber","acct":"JBGruber","display_name":"Johannes
        B. Gruber","locked":false,"bot":false,"discoverable":true,"indexable":false,"group":false,"created_at":"2022-11-05T00:00:00.000Z","note":"\u003cp\u003ePostdoc
        researcher\u003cbr /\u003e@ Vrije Universiteit Amsterdam and the OPTED project
        | previously @ European New School of Digital Studies (ENS) | PhD from University
        of Glasgow | I study media framing of protest and develop tools for research
        | text analysis + \u003ca href=\"https://fosstodon.org/tags/rstats\" class=\"mention
        hashtag\" rel=\"tag\"\u003e#\u003cspan\u003erstats\u003c/span\u003e\u003c/a\u003e
        enthusiast\u003c/p\u003e","url":"https://fosstodon.org/@JBGruber","uri":"https://fosstodon.org/users/JBGruber","avatar":"https://cdn.fosstodon.org/accounts/avatars/109/290/786/298/388/981/original/d36c2a0d6134bec5.jpg","avatar_static":"https://cdn.fosstodon.org/accounts/avatars/109/290/786/298/388/981/original/d36c2a0d6134bec5.jpg","header":"https://cdn.fosstodon.org/accounts/headers/109/290/786/298/388/981/original/de9bed082c024112.jpeg","header_static":"https://cdn.fosstodon.org/accounts/headers/109/290/786/298/388/981/original/de9bed082c024112.jpeg","followers_count":549,"following_count":240,"statuses_count":111,"last_status_at":"2024-05-27","hide_collections":false,"noindex":true,"emojis":[],"roles":[],"fields":[{"name":"Website","value":"\u003ca
        href=\"https://www.johannesbgruber.eu/\" target=\"_blank\" rel=\"nofollow
        noopener me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003ejohannesbgruber.eu/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"GitHub","value":"\u003ca
        href=\"https://github.com/JBGruber\" target=\"_blank\" rel=\"nofollow noopener
        me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/JBGruber\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]}]'
  recorded_at: 2025-07-17 14:04:20
recorded_with: VCR-vcr/1.7.1.93
