http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/directory?local=FALSE&offset=0&order=active&limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8d65f6913a7db1ee690f677cff4e0de9"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2022-11-09T10:40:00.268828Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"1112628\",\"username\":\"usmank756\",\"acct\":\"usmank756@mstdn.nere9.help\",\"display_name\":\"あんこう＠不眠\",\"locked\":true,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2020-02-16T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eNo
        Music, No Life で No Ramen, No Lifeな平成から抜け出せないオタク。\\u003c/p\\u003e\\u003cp\\u003eトゥートは基本非公開。\\u003cbr\\u003e鍵はスパム避けですので、フォロリクお気軽にどうぞ。\\u003c/p\\u003e\\u003cp\\u003eHTL、LTL、FTLともにふぁぼ飛ばします。驚かせてしまったら申し訳ございません。\\u003c/p\\u003e\\u003cp\\u003eアイコンは「カスタムキャスト」で作成しました。\\u003c/p\\u003e\",\"url\":\"https://mstdn.nere9.help/@usmank756\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/001/112/628/original/f3d8122e5a2431f0.jpeg\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/001/112/628/original/f3d8122e5a2431f0.jpeg\",\"header\":\"https://static-cdn.mastodon.social/headers/original/missing.png\",\"header_static\":\"https://static-cdn.mastodon.social/headers/original/missing.png\",\"followers_count\":25,\"following_count\":31,\"statuses_count\":6141,\"last_status_at\":\"2022-11-09\",\"emojis\":[],\"fields\":[]},{\"id\":\"1261497\",\"username\":\"sussexsquad\",\"acct\":\"sussexsquad@botsin.space\",\"display_name\":\"SussexSquad\",\"locked\":false,\"bot\":true,\"discoverable\":true,\"group\":false,\"created_at\":\"2020-08-15T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eSussexSquad
        Informational Bot\\u003c/p\\u003e\\u003cp\\u003eFetch tweets looking for common
        hashtags, and toots them all\\u003c/p\\u003e\\u003cp\\u003eUsing:\\u003cbr\\u003e-
        a Raspberry Pi (\\u003ca href=\\\"https[...]
