http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/favourites?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '286'
      x-ratelimit-reset: '2025-07-17T13:45:00.967605Z'
      link: <https://fosstodon.org/api/v1/favourites?limit=3&max_id=11758506>; rel="next",
        <https://fosstodon.org/api/v1/favourites?limit=3&min_id=12555189>; rel="prev"
      etag: W/"1416b70fc1c17dfd4e93118c78f87adc"
    body:
      string: "[{\"id\":\"114620547872925392\",\"created_at\":\"2025-06-03T17:12:42.222Z\",\"in_reply_to_id\":\"114620457512351116\",\"in_reply_to_account_id\":\"109302436954721982\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/defuneste/statuses/114620547872925392\",\"url\":\"https://fosstodon.org/@defuneste/114620547872925392\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":2,\"edited_at\":null,\"favourited\":true,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003e\\u003cspan
        class=\\\"h-card\\\" translate=\\\"no\\\"\\u003e\\u003ca href=\\\"https://fosstodon.org/@schochastics\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003eschochastics\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        \\u003cspan class=\\\"h-card\\\" translate=\\\"no\\\"\\u003e\\u003ca href=\\\"https://mastodon.social/@maelle\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003emaelle\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        congratz that is the grant I am the most excited! \\u003c/p\\u003e\\u003cp\\u003e(excited
        about the other but this one more)\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"application\":null,\"account\":{\"id\":\"109235210338204021\",\"username\":\"defuneste\",\"acct\":\"defuneste\",\"display_name\":\"Olivier
        Leroy\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2022-10-26T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eI
        am a geographer interested in all things spatial and open science!\\u003c/p\\u003e\\u003cp\\u003ehe/him/homard\\u003c/p\\u003e\",\"url\":\"https://fosstodon.org/@defuneste\",\"uri\":\"https://fosstodon.org/users/defuneste\",\"avatar\":\"https://cdn.fosstodon.org/accounts/avatars/109/235/210/338/204/021/original/2a496c976587d0e9.jpg\",\"avatar_static\":\"https://cdn.fosstodon.org/accounts/avatars/109/235/210/338/204/021/original/2a496c976587d0e9.jpg\",\"header\":\"https://fosstodon.org/headers/original/missing.png\",\"header_static\":\"https://fosstodon.org/headers/original/missing.png\",\"followers_count\":861,\"following_count\":984,\"statuses_count\":9795,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"noindex\":false,\"emojis\":[],\"roles\":[{\"id\":\"8\",\"name\":\"Supporter
        \U0001F4B0♥️\",\"color\":\"#4f7a28\"}],\"fields\":[{\"name\":\"Blog\",\"value\":\"\\u003ca
        href=\\\"https://branchtwigleaf.com/about.html\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003ebranchtwigleaf.com/about.html\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2024-08-17T02:05:11.457+00:00\"}]},\"media_attachments\":[],\"mentions\":[{\"id\":\"109302436954721982\",\"username\":\"schochastics\",\"url\":\"https://fosstodon.org/@schochastics\",\"acct\":\"schochastics\"},{\"id\":\"109269678296046700\",\"username\":\"maelle\",\"url\":\"https://mastodon.social/@maelle\",\"acct\":\"maelle@mastodon.social\"}],\"tags\":[],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114273878244544394\",\"created_at\":\"2025-04-03T11:50:01.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://datasci.social/users/EgorKotov/statuses/114273878143549427\",\"url\":\"https://datasci.social/@EgorKotov/114273878143549427\",\"replies_count\":0,\"reblogs_count\":1,\"favourites_count\":3,\"edited_at\":null,\"favourited\":true,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eA
        new experimental, but very simple \\u003ca href=\\\"https://datasci.social/tags/rstats\\\"
        class=\\\"mention hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003erstats\\u003c/span\\u003e\\u003c/a\\u003e
        package \\u003ca href=\\\"https://datasci.social/tags/rdocdump\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003erdocdump\\u003c/span\\u003e\\u003c/a\\u003e
        saves all package source code, documentation and vignettes into plain text
        file or into a string. Very useful for feeding into an LLM or tokenizing and
        setting up Retrieval-Augmented Generation workflow. Feel free to try it out.
        Caution: function names may change at some point! Get it here \\u003ca href=\\\"https://www.ekotov.pro/rdocdump/\\\"
        rel=\\\"nofollow noopener\\\" translate=\\\"no\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003eekotov.pro/rdocdump/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e \\u003c/p\\u003e\\u003cp\\u003eThis
        package was designed [...]
