http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/timelines/home?local=FALSE&limit=5
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"fb7e27d95128cd4570a14d19e0ba6cd1"
      link: <https://social.tchncs.de/api/v1/timelines/home?limit=5&local=FALSE&max_id=109308975511366427>;
        rel="next", <https://social.tchncs.de/api/v1/timelines/home?limit=5&local=FALSE&min_id=109309086279190433>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '290'
      x-ratelimit-reset: '2022-11-08T16:45:00.117000Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109309086279190433\",\"created_at\":\"2022-11-08T16:18:06.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":null,\"uri\":\"https://sciences.social/users/pmyteh/statuses/109309086053688167/activity\",\"url\":null,\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\",\"reblog\":{\"id\":\"109309073164087742\",\"created_at\":\"2022-11-08T16:14:50.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://sciences.social/users/JulianBrigstocke/statuses/109309073216177910\",\"url\":\"https://sciences.social/@JulianBrigstocke/109309073216177910\",\"replies_count\":0,\"reblogs_count\":1,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":fals[...]
