http_interactions:
- request:
    method: GET
    uri: https://mastodon.social/api/v1/polls/286799
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T07:50:00.402274Z'
      x-ratelimit-remaining: '297'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"0bc1f7be7f501240cabd9253a17325de"
    body:
      string: '{"id":"286799","expires_at":"2022-11-09T19:54:55.599Z","expired":true,"multiple":false,"votes_count":70,"voters_count":70,"options":[{"title":"small
        telescope approach (d33% of orig paper)","votes_count":12},{"title":"lower
        CI of original effect","votes_count":7},{"title":"precision based (width of
        CI for new effect)","votes_count":5},{"title":"Smallest Effect Size of Interest
        (SESOI)","votes_count":46}],"emojis":[]}'
  recorded_at: 2025-07-17 13:44:12
recorded_with: VCR-vcr/1.7.1.93
