http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/blocks?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '296'
      x-ratelimit-reset: '2025-07-17T13:50:00.481293Z'
      link: <https://fosstodon.org/api/v1/blocks?limit=3&since_id=150507>; rel="prev"
      etag: W/"41fb607e6d74751e8e3915d934dc84d4"
    body:
      string: '[{"id":"113199282924860515","username":"elonmusk","acct":"elonmusk@x-activitypub-bridge.deno.dev","display_name":"Elon
        Musk","locked":false,"bot":false,"discoverable":true,"indexable":true,"group":false,"created_at":"2009-06-02T00:00:00.000Z","note":"\u003cp\u003e\u003c/p\u003e","url":"https://x-activitypub-bridge.deno.dev/users/44196397","uri":"https://x-activitypub-bridge.deno.dev/users/44196397","avatar":"https://fosstodon.org/avatars/original/missing.png","avatar_static":"https://fosstodon.org/avatars/original/missing.png","header":"https://fosstodon.org/headers/original/missing.png","header_static":"https://fosstodon.org/headers/original/missing.png","followers_count":199083157,"following_count":763,"statuses_count":1,"last_status_at":"2024-09-25","hide_collections":true,"emojis":[],"fields":[{"name":"Professional
        (Creator)","value":"N/A","verified_at":null},{"name":"X ActivityPub Bridge","value":"\u003ca
        href=\"https://github.com/c7e715d1b04b17683718fb1e8944cc28/XActivityPubBridge\"
        rel=\"nofollow noopener\" target=\"_blank\"\u003egithub.com/c7e715d1b04b17683718fb1e8944cc28/XActivityPubBridge\u003c/a\u003e","verified_at":null},{"name":"Original","value":"\u003ca
        href=\"https://x.com/intent/user?screen_name=elonmusk\" rel=\"nofollow noopener\"
        target=\"_blank\"\u003e@elonmusk\u003c/a\u003e","verified_at":null}]}]'
  recorded_at: 2025-07-17 13:48:08
recorded_with: VCR-vcr/1.7.1.93
