http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/trends?limit=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b8f54da69adec25baa71a938b01d7d69"
      link: <https://social.tchncs.de/api/v1/trends/tags?limit=10&offset=10>; rel="next"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '294'
      x-ratelimit-reset: '2022-11-09T10:40:00.068295Z'
    body:
      encoding: ''
      file: no
      string: '[{"name":"mytopshelf","url":"https://social.tchncs.de/tags/mytopshelf","history":[{"day":"1667952000","accounts":"17","uses":"21"},{"day":"1667865600","accounts":"48","uses":"50"},{"day":"1667779200","accounts":"0","uses":"0"},{"day":"1667692800","accounts":"0","uses":"0"},{"day":"1667606400","accounts":"0","uses":"0"},{"day":"1667520000","accounts":"0","uses":"0"},{"day":"1667433600","accounts":"0","uses":"0"}]},{"name":"keinvergessen","url":"https://social.tchncs.de/tags/keinvergessen","history":[{"day":"1667952000","accounts":"18","uses":"18"},{"day":"1667865600","accounts":"1","uses":"1"},{"day":"1667779200","acco[...]
