http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/custom_emojis
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e266a36f080ddc32e3ccee3ecb0297e7"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '295'
      x-ratelimit-reset: '2022-11-09T10:40:00.005702Z'
    body:
      encoding: ''
      file: no
      string: '[{"shortcode":"ablobcatattention","url":"https://f2.tchncs.de/custom_emojis/images/000/366/118/original/478da8cf034113b6.png","static_url":"https://f2.tchncs.de/custom_emojis/images/000/366/118/static/478da8cf034113b6.png","visible_in_picker":true,"category":"blobcat"},{"shortcode":"ablobcatbongo","url":"https://f2.tchncs.de/custom_emojis/images/000/366/119/original/3927d17fc925ad3a.png","static_url":"https://f2.tchncs.de/custom_emojis/images/000/366/119/static/3927d17fc925ad3a.png","visible_in_picker":true,"category":"blobcat"},{"shortcode":"ablobcatcoffee","url":"https://f2.tchncs.de/custom_emojis/images/000/366/193/original/4e41916a4b8d617f.png","static_url":"https://f2.tchncs.de/custom_emojis/images/000/366/193/static/4e41916a4b8[...]
