http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/statuses/114620457512351116/reblogged_by
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '280'
      x-ratelimit-reset: '2025-07-17T20:05:00.766935Z'
      link: <https://fosstodon.org/api/v1/statuses/114620457512351116/reblogged_by?since_id=114620741312613000>;
        rel="prev"
      etag: W/"9329f34f1bd74393fab6746f412044eb"
    body:
      string: "[{\"id\":\"109269678296046700\",\"username\":\"maelle\",\"acct\":\"maelle@mastodon.social\",\"display_name\":\"Maëlle
        Salmon\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2022-04-26T00:00:00.000Z\",\"note\":\"\\u003cp\\u003e\U0001F9F0
        \\u003ca href=\\\"https://mastodon.social/tags/Rstats\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eRstats\\u003c/span\\u003e\\u003c/a\\u003e
        / research software engineer. \\u003cbr\\u003e\U0001F5D2️ Blogger. \\u003cbr\\u003e\U0001F4E6
        Software review editor for \\u003cspan class=\\\"h-card\\\" translate=\\\"no\\\"\\u003e\\u003ca
        href=\\\"https://fosstodon.org/@ropensci\\\" class=\\\"u-url mention\\\" rel=\\\"nofollow
        noopener\\\" target=\\\"_blank\\\"\\u003e@\\u003cspan\\u003eropensci\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e.
        \\u003cbr\\u003e\U0001F49C \\u003ca href=\\\"https://mastodon.social/tags/RLadies\\\"
        class=\\\"mention hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eRLadies\\u003c/span\\u003e\\u003c/a\\u003e.
        \\u003cbr\\u003e\U0001F4C8 PhD in statistics.\\u003cbr\\u003e\U0001F34B Nancy,
        France (let's say this emoji is a bergamot orange).\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@maelle\",\"uri\":\"https://mastodon.social/users/maelle\",\"avatar\":\"https://cdn.fosstodon.org/cache/accounts/avatars/109/269/678/296/046/700/original/1f5f5628107ff662.jpg\",\"avatar_static\":\"https://cdn.fosstodon.org/cache/accounts/avatars/109/269/678/296/046/700/original/1f5f5628107ff662.jpg\",\"header\":\"https://cdn.fosstodon.org/cache/accounts/headers/109/269/678/296/046/700/original/f22fce4b216cbbd3.jpeg\",\"header_static\":\"https://cdn.fosstodon.org/cache/accounts/headers/109/269/678/296/046/700/original/f22fce4b216cbbd3.jpeg\",\"followers_count\":1757,\"following_count\":198,\"statuses_count\":2386,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"emojis\":[],\"fields\":[{\"name\":\"Home\",\"value\":\"\\u003ca
        href=\\\"https://masalmon.eu/\\\" target=\\\"_blank\\\" rel=\\\"nofollow noopener\\\"
        translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003emasalmon.eu/\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2025-07-17T16:19:18.064+00:00\"},{\"name\":\"GitHub\",\"value\":\"\\u003ca
        href=\\\"https://github.com/maelle\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egithub.com/maelle\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2025-07-17T16:19:18.921+00:00\"},{\"name\":\"[...]
