http_interactions:
- request:
    method: get
    uri: https://social.tchncs.de/api/v1/accounts/109281650341067731
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"69546f22c6dd04c3e152363ff856d929"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-08T18:40:00.531730Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"109281650341067731","username":"chainsawriot","acct":"chainsawriot","display_name":"chainsawriot","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-11-03T00:00:00.000Z","note":"\u003cp\u003e\u003ca
        href=\"http://www.chainsawriot.com\" target=\"_blank\" rel=\"nofollow noopener
        noreferrer\"\u003e\u003cspan class=\"invisible\"\u003ehttp://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003echainsawriot.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e\u003c/p\u003e","url":"https://social.tchncs.de/@chainsawriot","avatar":"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png","avatar_static":"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png","header":"https://social.tchncs.de/headers/original/missing.png","header_static":"https://social.tchncs.de/headers/original/missing.png","followers_count":44,"following_count":32,"statuses_count":22,"last_status_at":"2022-11-08","emojis":[],"fields":[{"name":"Stack","value":"Linux,
        emacs, stumpwm, R, git, Firefox","verified_at":null},{"name":"Research Interests","value":"I
        don’t know","verified_at":null}]}'
  recorded_at: 2022-11-08 18:35:31 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
