http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/timelines/tag/ichbinhanna?local=FALSE&only_media=FALSE&limit=40
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"54dae06c5045326884521f0906a78d24"
      link: <https://mastodon.social/api/v1/timelines/tag/ichbinhanna?limit=40&local=FALSE&max_id=109381239922445751&only_media=FALSE>;
        rel="next", <https://mastodon.social/api/v1/timelines/tag/ichbinhanna?limit=40&local=FALSE&min_id=109428122620972369&only_media=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '295'
      x-ratelimit-reset: '2022-11-29T18:10:00.247977Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109428122620972369\",\"created_at\":\"2022-11-29T16:50:32.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://archaeo.social/users/hoelschmichel/statuses/109428122076393540\",\"url\":\"https://archaeo.social/@hoelschmichel/109428122076393540\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eEs
        gibt einen neuen Bericht zur Lage des wissenschaftlichen Nachwuchses in der
        deutschsprachigen Katholischen Theologie\\u003cbr\\u003e \\u003ca href=\\\"https://nbi.sankt-georgen.de/forschung/forschung/frankfurter-arbeitspapiere/zur-lage-des-wissenschaftlichen-nachwuchses-in-der-deutschsprachigen-katholischen-theologie-annex-zum-bericht-im-auftrag-der-deutschen-bischofskonferenz\\\"
        rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"ellipsis\\\"\\u003enbi.sankt-georgen.de/forschung\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e/forschung/frankfurter-arbeitspapiere/zur-lage-des-wissenschaftlichen-nachwuchses-in-der-deutschsprachigen-katholischen-theologie-annex-zum-bericht-im-auftrag-der-deutschen-bischofskonferenz\\u003c/span\\u003e\\u003c/a\\u003e
        \\u003ca href=\\\"https://archaeo.social/tags/ichbinhanna\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eichbinhanna\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"reblog\":null,\"account\":{\"id\":\"109342706288197303\",\"username\":\"hoelschmichel\",\"acct\":\"hoelschmichel@archaeo.social\",\"display_name\":\"Michael
        Hölscher\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2022-11-14T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eUnterwegs
        in der Welt der Bibel | Religion \\u0026amp; antike Kulturen | WissKomm \\u0026amp;
        Medien\\u003c/p\\u003e\",\"url\":\"https://archaeo.social/@hoelschmichel\",\"avatar\":\"https://files.mastodon.social/cache/accounts/avatars/109/342/706/288/197/303/original/bce664421281b71c.png\",\"avatar_static\":\"https://files.mastodon.social/cache/accounts/avatars/109/342/706/288/197/303/original/bce664421281b71c.png\",\"header\":\"https://files.mastodon.social/cache/accounts/headers/109/342/706/288/197/303/original/3993f5a9c7f157d9.jpeg\",\"header_static\":\"https://files.mastodon.social/cache/accounts/headers/109/342/706/288/197/303/original/3993f5a9c7f157d9.jpeg\",\"followers_count\":32,\"following_count\":51,\"statuses_count\":10,\"last_status_at\":\"2022-11-29\",\"emojis\":[],\"fields\":[{\"name\":\"Homepage\",\"value\":\"\\u003ca
        href=\\\"https://hoelschermichael.de/\\\" rel=\\\"nofollow noopener noreferrer\\\"
        target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003ehoelschermichael.de/\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"ORCiD\",\"value\":\"\\u003ca
        href=\\\"https://orcid.org/0000-0001-7125-8410\\\" rel=\\\"nofollow noopener
        noreferrer\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003eorcid.org/0000-0001-7125-8410\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null},{\"name\":\"Blog\",\"value\":\"\\u003ca
        href=\\\"https://grammata.hypotheses.org/\\\" rel=\\\"nofollow noopener noreferrer\\\"
        target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egrammata.hypotheses.org/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null}]},\"media_attachments\":[],\"mentions\":[],\"tags\":[{\"name\":\"IchbinHanna\",\"url\":\"https://mastodon.social/tags/IchbinHanna\"}],\"emojis\":[],\"card\":{\"url\":\"https://nbi.sankt-georgen.de/forschung/forschung/frankfurter-arbeitspapiere/zur-lage-des-wissenschaftlichen-nachwuchses-in-der-deutschsprachigen-katholischen-theologie-annex-zum-bericht-im-auftrag-der-deutschen-bischofskonferenz\",\"title\":\"Zur
        Lage des wissenschaftlichen Nachwuchses in der deutschsprachigen Katholischen
        Theologie. Annex zum Bericht im Auftrag der Deutschen Bischofskonferenz\",\"description\":\"Das
        Nell-Breuning-Institut für Wirtschafts- und Gesellschaftsethik ist ein Institut
        der Phil.-Theol. Hochschule Sankt Georgen in Frankfurt am Main.\",\"type\":\"link\",\"author_name\":\"\",\"author_url\":\"\",\"provider_name\":\"Oswald
        von Nell-Breuning-Institut für Wirtschafts- und Gesellschaftsethik\",\"provider_url\":\"\",\"html\":\"\",\"width\":0,\"height\":0,\"image\":null,\"embed_url\":\"\",\"blurhash\":null},\"poll\":null},{\"id\":\"109427572402506243\",\"created_at\":\"2022-11-29T14:30:44.000Z\",\"in_reply_to_id\":\"109427561246833844\",\"in_reply_to_account_id\":\"109364328529554080\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://mastodon.lol/users/pinginamupfel/statuses/109427572350212435\",\"url\":\"https://mastodon.lol/@pinginamupfel/109427572350212435\",\"replies_count\":1,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content[...]
- request:
    method: get
    uri: https://mastodon.social/api/v1/timelines/tag/ichbinhanna?local=FALSE&only_media=FALSE&limit=40&max_id=109381239922445751
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"77448c9d2eccbf27374b56855d829575"
      link: <https://mastodon.social/api/v1/tim[...]
[...]
