http_interactions:
- request:
    method: GET
    uri: https://mastodon.social/api/v1/timelines/tag/ichbinhanna?local=FALSE&only_media=FALSE&limit=40
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T13:45:00.399976Z'
      x-ratelimit-remaining: '292'
      link: <https://mastodon.social/api/v1/timelines/tag/ichbinhanna?limit=40&local=FALSE&max_id=114630169307317488&only_media=FALSE>;
        rel="next", <https://mastodon.social/api/v1/timelines/tag/ichbinhanna?limit=40&local=FALSE&min_id=114856169736898681&only_media=FALSE>;
        rel="prev"
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"249677c4e49d4ab4a8cb42e613330851"
    body:
      string: "[{\"id\":\"114856169736898681\",\"created_at\":\"2025-07-15T07:54:23.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://mstdn.science/users/laborjournal/statuses/114856169522394793\",\"url\":\"https://mstdn.science/@laborjournal/114856169522394793\",\"replies_count\":0,\"reblogs_count\":2,\"favourites_count\":1,\"edited_at\":\"2025-07-15T07:55:30.000Z\",\"content\":\"\\u003cp\\u003eUnser
        Heft 7-8/2025 ist raus!\\u003c/p\\u003e\\u003cp\\u003eWie jeden Sommer mit
        starken Meinungen in eingeladenen Essays und Interviews – unter anderem zu:\\u003c/p\\u003e\\u003cp\\u003e-
        \\u003ca href=\\\"https://mstdn.science/tags/Wissenschaftsfreiheit\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eWissenschaftsfreiheit\\u003c/span\\u003e\\u003c/a\\u003e;\\u003cbr\\u003e-
        \[...]
- request:
    method: GET
    uri: https://mastodon.social/api/v1/timelines/tag/ichbinhanna?local=FALSE&only_media=FALSE&limit=40&max_id=114630169307317488
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T13:45:00.998258Z'
      x-ratelimit-remaining: '291'
      link: <https://mastodon.social/api/v1/timelines/tag/ichbinhanna?limit=40&local=FALSE&max_id=114347272189573465&only_media=FALSE>;
        rel="next", <https://mastodon.social/api/v1/timelines/tag/ichbinhann[...]
- request:
    method: GET
    uri: https://mastodon.social/api/v1/timelines/tag/ichbinhanna?local=FALSE&only_media=FALSE&limit=40&max_id=114347272189573465
  response:
    status: 200
    headers:
      x-ratelimit-reset: '2025-07-17T13:45:00.510201Z'
      x-ratelimit-remaining: '290'
      link: <https://mastodon.social/api/v1/timelines/tag/ichbinhanna?limit=40&local=FALSE&max_id=113958523521356248&only_media=FALSE>;
        rel="next", <https://mastodon.social/api/v1/timelines/tag/ichbinhanna?limit=40&local=FALSE&min_id=114347262471463480&only_media=FALSE>;
        rel="prev"
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      etag: W/"edc4c3141835bb8bbf23bba815252485"
    body:
      string: "[{\"id\":\"114347262471463480\",\"created_at\":\"2025-04-16T10:52:35.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"de\",\"uri\":\"https://fedihum.org/users/hermes_datenkompetenzzentrum/statuses/114347262332349648\",\"url\":\"https://fedihum.org/@hermes_datenkompetenzzentrum/114347262332349648\",\"replies_count\":0,\"reblogs_count\":6,\"favourites_count\":1,\"edited_at\":null,\"content\":\"\\u003cp\\u003e\U0001F50D
        Netzwerktreffen: „Das Wissenschaftszeitvertragsgesetz und die wissenschaftliche
        Karriere als Doktorandin/Doktorand“ \U0001F50D\\u003c/p\\u003e\\u003cp\\u003e\U0001F5D3
        Wann: 7. Mai 2025 | \U0001F553 16:00 – 17:30 Uhr\\u003cbr\\u003e\U0001F4BB
        Wo: Zoom\\u003cbr\\u003e\U0001F469‍⚖️ Mit: Dr. Ulrike Preißler, Justitiarin
        beim Deutschen Hochschulverband\\u003cbr\\u003e\U0001F539 Befristeter Vertrag?
        \U0001F539 Elternzeit oder Krankheit?\\u003c/p\\u003e\\u003cp\\u003eDr. Ulrike
        Preißler erklärt verständlich und praxisnah, worauf es ankommt.\\u003c/p\\u003e\\u003cp\\u003e\U0001F449
        Hier informieren und beitreten: \\u003ca href=\\\"https://hermes-hub.de/vernetzen/promotionsnetzwerk/\\\"
        rel=\\\"nofollow n[...]
[...]
