http_interactions:
- request:
    method: post
    uri: https://social.tchncs.de/api/v1/media
    body:
      encoding: ''
      string: file=list(path = "/home/chainsawriot/dev/rtoot/tests/testdata/logo.png",
        type = "image/png")
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cd62bbd5d1ac6a86fa6928a6c32ef62d"
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '29'
      x-ratelimit-reset: '2022-11-09T18:30:00.359514Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"109315168102981884","type":"image","url":"https://f2.tchncs.de/media_attachments/files/109/315/168/102/981/884/original/29c796286484ffc6.png","preview_url":"https://f2.tchncs.de/media_attachments/files/109/315/168/102/981/884/small/29c796286484ffc6.png","remote_url":null,"preview_remote_url":null,"text_url":null,"meta":{"original":{"width":50,"height":58,"size":"50x58","aspect":0.8620689655172413},"small":{"width":50,"height":58,"size":"50x58","aspect":0.8620689655172413}},"description":null,"blurhash":"UeMt8Wt7S$t7RPayt7fQ0Kay4TRj-;j[M{fQ"}'
  recorded_at: 2022-11-09 18:04:52 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
- request:
    method: post
    uri: https://social.tchncs.de/api/v1/statuses
    body:
      encoding: ''
      string: status=jetzt testen,media_ids[]=109315168102981884,sensitive=false,visibility=unlisted,language=de
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"88f886a57619e6ab4ffd95c7bf45ea70"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2022-11-09T18:05:00.112072Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"109315168149548284","created_at":"2022-11-09T18:04:52.131Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"unlisted","language":"de","uri":"https://social.tchncs.de/users/chainsawriot/statuses/109315168149548284","url":"https://social.tchncs.de/@chainsawriot/109315168149548284","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"pinned":false,"content":"\u003cp\u003ejetzt
        testen\u003c/p\u003e","reblog":null,"application":{"name":"rtoot package","website":null},"account":{"id":"109281650341067731","username":"chainsawriot","acct":"chainsawriot","display_name":"chainsawriot","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-11-03T00:00:00.000Z","note":"\u003cp\u003e\u003ca
        href=\"http://www.chainsawriot.com\" target=\"_blank\" rel=\"nofollow noopener
        noreferrer\"\u003e\u003cspan class=\"invisible\"\u003ehttp://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003echainsawriot.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e\u003c/p\u003e","url":"https://social.tchncs.de/@chainsawriot","avatar":"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png","avatar_static":"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png","header":"https://social.tchncs.de/headers/original/missing.png","header_static":"https://social.tchncs.de/headers/original/missing.png","followers_count":54,"following_count":40,"statuses_count":25,"last_status_at":"2022-11-09","emojis":[],"fields":[{"name":"Stack","value":"Linux,
        emacs, stumpwm, R, git, Firefox","verified_at":null},{"name":"Research Interests","value":"I
        don’t know","verified_at":null}]},"media_attachments":[{"id":"109315168102981884","type":"image","url":"https://f2.tchncs.de/media_attachments/files/109/315/168/102/981/884/original/29c796286484ffc6.png","preview_url":"https://f2.tchncs.de/media_attachments/files/109/315/168/102/981/884/small/29c796286484ffc6.png","remote_url":null,"preview_remote_url":null,"text_url":null,"meta":{"original":{"width":50,"height":58,"size":"50x58","aspect":0.8620689655172413},"small":{"width":50,"height":58,"size":"50x58","aspect":0.8620689655172413}},"description":null,"blurhash":"UeMt8Wt7S$t7RPayt7fQ0Kay4TRj-;j[M{fQ"}],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null}'
  recorded_at: 2022-11-09 18:04:52 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
