http_interactions:
- request:
    method: POST
    uri: https://fosstodon.org/api/v1/lists/
    body:
      string: title=rtoot%20test&replies_policy=list
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2026-02-20T12:15:00.899680Z'
      etag: W/"76b55a21f2ecc988aea952af40434a92"
    body:
      string: '{"id":"10784","title":"rtoot test","replies_policy":"list","exclusive":false}'
  recorded_at: 2026-02-20 12:10:23
recorded_with: VCR-vcr/2.1.0
