http_interactions:
- request:
    method: post
    uri: https://emacs.ch/api/v1/accounts/109337044410360200/pin
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"71fc28ed1faf9b0390808ead5c4527f1"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '276'
      x-ratelimit-reset: '2022-11-15T18:15:00.511173Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"109337044410360200","following":true,"showing_reblogs":true,"notifying":false,"languages":null,"followed_by":true,"blocking":false,"blocked_by":false,"muting":false,"muting_notifications":false,"requested":false,"domain_blocking":false,"endorsed":true,"note":""}'
  recorded_at: 2022-11-15 18:12:24 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
