http_interactions:
- request:
    method: POST
    uri: https://fosstodon.org/api/v1/statuses/110632697682444411/reblog
    body:
      fields: []
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '264'
      x-ratelimit-reset: '2025-07-17T13:45:00.072444Z'
      etag: W/"d95ac33d109b9dd9989d8cc2d7cc1aad"
    body:
      string: '{"id":"110646408237799248","created_at":"2023-07-02T20:36:43.826Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":null,"uri":"https://fosstodon.org/users/schochastics/statuses/110646408237799248/activity","url":"https://fosstodon.org/users/schochastics/statuses/110646408237799248/activity","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":true,"muted":false,"bookmarked":false,"content":"","filtered":[],"reblog":{"id":"110632697682444411","created_at":"2023-06-30T10:29:54.000Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://masto.ai/users/stavvers/statuses/110632697527935576","url":"https://masto.ai/@stavvers/110632697527935576","replies_count":37,"reblogs_count":210,"favourites_count":7,"edited_at":null,"favourited":false,"reblogged":true,"muted":false,"bookmarked":false,"content":"\u003cp\u003elol
        twitter now requires login to view any tweet, RIP that whole ecosystem of
        embedding some tweets and pretending it''s journalism\u003c/p\u003e","filtered":[],"reblog":null,"account":{"id":"109381341630036374","username":"stavvers","acct":"stavvers@masto.ai","display_name":"Another
        Angry Woman","locked":false,"bot":false,"discoverable":true,"indexable":false,"group":false,"created_at":"2022-11-20T00:00:00.000Z","note":"\u003cp\u003eTroubled
        maiden aunt with homosexual tendencies. Tumblr psychopomp. She/her.\u003c/p\u003e","url":"https://masto.ai/@stavvers","uri":"https://masto.ai/users/stavvers","avatar":"https://cdn.fosstodon.org/cache/accounts/avatars/109/381/341/630/036/374/original/63a0004705be9b71.jpg","avatar_static":"https://cdn.fosstodon.org/cache/accounts/avatars/109/381/341/630/036/374/original/63a0004705be9b71.jpg","header":"https://fosstodon.org/headers/original/missing.png","header_static":"https://fosstodon.org/headers/original/missing.png","followers_count":10885,"following_count":380,"statuses_count":14719,"last_status_at":"2025-07-17","hide_collections":false,"emojis":[],"fields":[{"name":"Website","value":"\u003ca
        href=\"https://anotherangrywoman.com/\" target=\"_blank\" rel=\"nofollow noopener\"
        translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003eanotherangrywoman.com/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2025-07-11T18:24:54.613+00:00"},{"name":"PayPal
        (leave a tip!)","value":"\u003ca href=\"https://www.paypal.com/paypalme/stavvers\"
        rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"\u003e\u003cspan
        class=\"invisible\"\u003ehttps://www.\u003c/span\u003e\u003cspan class=\"\"\u003epaypal.com/paypalme/stavvers\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"quote":null,"card":null,"poll":null},"application":null,"account":{"id":"109302436954721982","username":"schochastics","acct":"schochastics","display_name":"David
        Schoch","locked":false,"bot":false,"discoverable":true,"indexable":false,"group":false,"created_at":"2022-11-07T00:00:00.000Z","note":"\u003cp\u003eData
        Scientist/DevOps Engineer at cynkra | \u003ca href=\"https://fosstodon.org/tags/Rstats\"
        class=\"mention hashtag\" rel=\"tag\"\u003e#\u003cspan\u003eRstats\u003c/span\u003e\u003c/a\u003e
        enthusiast\u003c/p\u003e","url":"https://fosstodon.org/@schochastics","uri":"https://fosstodon.org/users/schochastics","avatar":"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/9f0f6bfb096f5451.png","avatar_static":"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/9f0f6bfb096f5451.png","header":"https://fosstodon.org/headers/original/missing.png","header_static":"https://fosstodon.org/headers/original/missing.png","followers_count":1036,"following_count":138,"statuses_count":282,"last_status_at":"2025-07-17","hide_collections":false,"noindex":false,"emojis":[],"roles":[],"fields":[{"name":"Personal
        Webpage","value":"\u003ca href=\"https://www.mr.schochastics.net/\" target=\"_blank\"
        rel=\"nofollow noopener me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003emr.schochastics.net/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2022-11-24T06:24:48.497+00:00"},{"name":"Github","value":"\u003ca
        href=\"https://github.com/schochastics\" target=\"_blank\" rel=\"nofollow
        noopener me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/schochastics\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2024-05-04T19:57:14.688+00:00"},{"name":"Side
        project","value":"\u003ca href=\"http://worldclubratings.com\" target=\"_blank\"
        rel=\"nofollow noopener me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttp://\u003c/span\u003e\u003cspan
        class=\"\"\u003eworldclubratings.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"quote":null,"card":null,"poll":null}'
  recorded_at: 2025-07-17 13:44:28
recorded_with: VCR-vcr/1.7.1.93
