http_interactions:
- request:
    method: POST
    uri: https://fosstodon.org/api/v1/lists/
    body:
      fields:
        title: rtoot test
        replies_policy: list
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '273'
      x-ratelimit-reset: '2025-07-17T13:45:00.221823Z'
      etag: W/"8d4118a3ba9bcf3b62f313b30109ad27"
    body:
      string: '{"id":"10490","title":"rtoot test","replies_policy":"list","exclusive":false}'
  recorded_at: 2025-07-17 13:44:26
recorded_with: VCR-vcr/1.7.1.93
