http_interactions:
- request:
    method: post
    uri: https://emacs.ch/api/v1/statuses
    body:
      encoding: ''
      string: status=testing in progress, please ignore,sensitive=false,visibility=public
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4819c29985fd22b96038a0483f5c7993"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '297'
      x-ratelimit-reset: '2022-11-15T21:00:00.260950Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"109349140052391379","created_at":"2022-11-15T18:04:22.230Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://emacs.ch/users/chainsawriot/statuses/109349140052391379","url":"https://emacs.ch/@chainsawriot/109349140052391379","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"pinned":false,"content":"\u003cp\u003etesting
        in progress, please ignore\u003c/p\u003e","filtered":[],"reblog":null,"application":{"name":"rtoot
        package","website":null},"account":{"id":"109337011845249544","username":"chainsawriot","acct":"chainsawriot","display_name":"chainsawriot","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-11-13T00:00:00.000Z","note":"","url":"https://emacs.ch/@chainsawriot","avatar":"https://emacs.ch/system/accounts/avatars/109/337/011/845/249/544/original/00fc3aabc87d3564.jpg","avatar_static":"https://emacs.ch/system/accounts/avatars/109/337/011/845/249/544/original/00fc3aabc87d3564.jpg","header":"https://emacs.ch/headers/original/missing.png","header_static":"https://emacs.ch/headers/original/missing.png","followers_count":126,"following_count":63,"statuses_count":27,"last_status_at":"2022-11-15","noindex":true,"emojis":[{"shortcode":"emacs","url":"https://emacs.ch/system/custom_emojis/images/000/000/358/original/9f320443168e793f.png","static_url":"https://emacs.ch/system/custom_emojis/images/000/000/358/static/9f320443168e793f.png","visible_in_picker":true}],"fields":[{"name":"Stack","value":":emacs:,
        R, stumpwm, linux, firefox","verified_at":null},{"name":"Research Interests","value":"Keine
        Ahnung","verified_at":null},{"name":"Web","value":"\u003ca href=\"https://chainsawriot.com/about/\"
        target=\"_blank\" rel=\"nofollow noopener noreferrer me\"\u003e\u003cspan
        class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan class=\"\"\u003echainsawriot.com/about/\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2022-11-14T12:22:07.327+00:00"}]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null}'
  recorded_at: 2022-11-15 18:04:22 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
