http_interactions:
- request:
    method: post
    uri: https://fosstodon.org/api/v1/lists/
    body:
      encoding: ''
      string: title=rtoot test,replies_policy=list
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"420e414384b9355e8c9a0549248d4312"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '298'
      x-ratelimit-reset: '2023-07-02T20:30:00.602694Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"7354","title":"rtoot test","replies_policy":"list"}'
  recorded_at: 2023-07-02 20:26:43 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
