http_interactions:
- request:
    method: post
    uri: https://social.tchncs.de/api/v1/media
    body:
      encoding: ''
      string: file=list(path = "/home/chainsawriot/dev/rtoot/tests/testdata/logo.png",
        type = "image/png")
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2466bf10c21a437a71cd3d4b35f65259"
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '25'
      x-ratelimit-reset: '2022-11-09T18:00:00.412399Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"109315139206458557","type":"image","url":"https://f2.tchncs.de/media_attachments/files/109/315/139/206/458/557/original/7baac8c43848b11e.png","preview_url":"https://f2.tchncs.de/media_attachments/files/109/315/139/206/458/557/small/7baac8c43848b11e.png","remote_url":null,"preview_remote_url":null,"text_url":null,"meta":{"original":{"width":50,"height":58,"size":"50x58","aspect":0.8620689655172413},"small":{"width":50,"height":58,"size":"50x58","aspect":0.8620689655172413}},"description":null,"blurhash":"UeMt8Wt7S$t7RPayt7fQ0Kay4TRj-;j[M{fQ"}'
  recorded_at: 2022-11-09 17:57:31 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
- request:
    method: post
    uri: https://social.tchncs.de/api/v1/statuses
    body:
      encoding: ''
      string: status=testing in progress, please ignore,media_ids[]=109315139206458557,sensitive=false,spoiler_text=rtoot
        is the best,visibility=unlisted
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"33c36dca7fc97e59b9a3ee2eccec1870"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '291'
      x-ratelimit-reset: '2022-11-09T18:00:00.371789Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"109315139270554044","created_at":"2022-11-09T17:57:31.468Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"rtoot
        is the best","visibility":"unlisted","language":"en","uri":"https://social.tchncs.de/users/chainsawriot/statuses/109315139270554044","url":"https://social.tchncs.de/@chainsawriot/109315139270554044","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"pinned":false,"content":"\u003cp\u003etesting
        in progress, please ignore\u003c/p\u003e","reblog":null,"application":{"name":"rtoot
        package","website":null},"account":{"id":"109281650341067731","username":"chainsawriot","acct":"chainsawriot","display_name":"chainsawriot","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-11-03T00:00:00.000Z","note":"\u003cp\u003e\u003ca
        href=\"http://www.chainsawriot.com\" target=\"_blank\" rel=\"nofollow noopener
        noreferrer\"\u003e\u003cspan class=\"invisible\"\u003ehttp://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003echainsawriot.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e\u003c/p\u003e","url":"https://social.tchncs.de/@chainsawriot","avatar":"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png","avatar_static":"https://f2.tchncs.de/accounts/avatars/109/281/650/341/067/731/original/d6fcdd05fbfea82c.png","header":"https://social.tchncs.de/headers/original/missing.png","header_static":"https://social.tchncs.de/headers/original/missing.png","followers_count":54,"following_count":40,"statuses_count":29,"last_status_at":"2022-11-09","emojis":[],"fields":[{"name":"Stack","value":"Linux,
        emacs, stumpwm, R, git, Firefox","verified_at":null},{"name":"Research Interests","value":"I
        don’t know","verified_at":null}]},"media_attachments":[{"id":"109315139206458557","type":"image","url":"https://f2.tchncs.de/media_attachments/files/109/315/139/206/458/557/original/7baac8c43848b11e.png","preview_url":"https://f2.tchncs.de/media_attachments/files/109/315/139/206/458/557/small/7baac8c43848b11e.png","remote_url":null,"preview_remote_url":null,"text_url":null,"meta":{"original":{"width":50,"height":58,"size":"50x58","aspect":0.8620689655172413},"small":{"width":50,"height":58,"size":"50x58","aspect":0.8620689655172413}},"description":null,"blurhash":"UeMt8Wt7S$t7RPayt7fQ0Kay4TRj-;j[M{fQ"}],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null}'
  recorded_at: 2022-11-09 17:57:31 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
