http_interactions:
- request:
    method: post
    uri: https://social.tchncs.de/api/v1/accounts/5358/pin
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cd7cadd24674a435d7152dab31248094"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '297'
      x-ratelimit-reset: '2022-11-09T18:30:00.326135Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"5358","following":true,"showing_reblogs":true,"notifying":false,"followed_by":true,"blocking":false,"blocked_by":false,"muting":false,"muting_notifications":false,"requested":false,"domain_blocking":false,"endorsed":true,"note":""}'
  recorded_at: 2022-11-09 18:29:25 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
