http_interactions:
- request:
    method: post
    uri: https://fosstodon.org/api/v1/statuses/110632697682444411/reblog
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3d186194495f433a0595f015095c2693"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2023-07-02T20:20:00.672612Z'
    body:
      encoding: ''
      file: no
      string: '{"id":"110646328471682022","created_at":"2023-07-02T20:16:26.689Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":null,"uri":"https://fosstodon.org/users/schochastics/statuses/110646328471682022/activity","url":"https://fosstodon.org/users/schochastics/statuses/110646328471682022/activity","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":true,"muted":false,"bookmarked":false,"content":"","filtered":[],"reblog":{"id":"110632697682444411","created_at":"2023-06-30T10:29:54.000Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://masto.ai/users/stavvers/statuses/110632697527935576","url":"https://masto.ai/@stavvers/110632697527935576","replies_count":50,"reblogs_count":239,"favourites_count":7,"edited_at":null,"favourited":false,"reblogged":true,"muted":false,"bookmarked":false,"content":"\u003cp\u003elol
        twitter now requires login to view any tweet, RIP that whole ecosystem of
        embedding some tweets and pretending it''s journalism\u003c/p\u003e","filtered":[],"reblog":null,"account":{"id":"109381341630036374","username":"stavvers","acct":"stavvers@masto.ai","display_name":"Another
        Angry Woman","locked":false,"bot":false,"discoverable":true,"group":false,"created_at":"2022-11-20T00:00:00.000Z","note":"\u003cp\u003eTroubled
        maiden aunt with homosexual tendencies. Tumblr psychopomp. She/her.\u003c/p\u003e","url":"https://masto.ai/@stavvers","avatar":"https://cdn.fosstodon.org/cache/accounts/avatars/109/381/341/630/036/374/original/63a0004705be9b71.jpg","avatar_static":"https://cdn.fosstodon.org/cache/accounts/avatars/109/381/341/630/036/374/original/63a0004705be9b71.jpg","header":"https://fosstodon.org/headers/original/missing.png","header_static":"https://fosstodon.org/headers/original/missing.png","followers_count":7782,"following_count":314,"statuses_count":6763,"last_status_at":"2023-07-02","emojis":[],"fields":[{"name":"Website","value":"\u003ca
        href=\"https://anotherangrywoman.com/\" rel=\"nofollow noopener noreferrer\"
        target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003eanotherangrywoman.com/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2023-07-01T20:37:06.030+00:00"},{"name":"PayPal
        (leave a tip!)","value":"\u003ca href=\"https://www.paypal.com/paypalme/stavvers\"
        rel=\"nofollow noopener noreferrer\" target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003epaypal.com/paypalme/stavvers\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null},"application":null,"account":{"id":"109302436954721982","username":"schochastics","acct":"schochastics","display_name":"David
        Schoch","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2022-11-07T00:00:00.000Z","note":"\u003cp\u003eTeam
        lead for \u0026quot;Transparent Social Analytics\u0026quot;  at GESIS and
        R enthusiast\u003c/p\u003e","url":"https://fosstodon.org/@schochastics","avatar":"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/66381f4971cc65e6.png","avatar_static":"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/66381f4971cc65e6.png","header":"https://cdn.fosstodon.org/accounts/headers/109/302/436/954/721/982/original/a3172b4ec1d60ddd.png","header_static":"https://cdn.fosstodon.org/accounts/headers/109/302/436/954/721/982/original/a3172b4ec1d60ddd.png","followers_count":757,"following_count":113,"statuses_count":105,"last_status_at":"2023-07-02","noindex":false,"emojis":[],"roles":[],"fields":[{"name":"Personal
        Webpage","value":"\u003ca href=\"https://www.mr.schochastics.net/\" target=\"_blank\"
        rel=\"nofollow noopener noreferrer me\"\u003e\u003cspan class=\"invisible\"\u003ehttps://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003emr.schochastics.net/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2022-11-24T06:24:48.497+00:00"},{"name":"Github","value":"\u003ca
        href=\"https://github.com/schochastics\" target=\"_blank\" rel=\"nofollow
        noopener noreferrer me\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/schochastics\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"Side
        project","value":"\u003ca href=\"http://soccerverse.com\" target=\"_blank\"
        rel=\"nofollow noopener noreferrer me\"\u003e\u003cspan class=\"invisible\"\u003ehttp://\u003c/span\u003e\u003cspan
        class=\"\"\u003esoccerverse.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null}'
  recorded_at: 2023-07-02 20:16:26 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
