http_interactions:
- request:
    method: get
    uri: https://emacs.ch/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9b0211d06d4478159a17c0baa746fb9d"
      link: <https://emacs.ch/api/v1/timelines/public?limit=20&local=FALSE&max_id=109353016542495914&only_media=FALSE&remote=FALSE>;
        rel="next", <https://emacs.ch/api/v1/timelines/public?limit=20&local=FALSE&min_id=109353046884731607&only_media=FALSE&remote=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '296'
      x-ratelimit-reset: '2022-11-16T10:40:00.590432Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109353046884731607\",\"created_at\":\"2022-11-16T10:37:32.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/Gargron/statuses/109353045373308291\",\"url\":\"https://mastodon.social/@Gargron/109353045373308291\",\"replies_count\":1,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eThis
        arrived \\u003ca href=\\\"https://mastodon.social/tags/Lightwork\\\" class=\\\"mention
        hashtag\\\" rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e#\\u003cspan\\u003eLightwork\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"account\":{\"id\":\"109327452733932721\",\"username\":\"Gargron\",\"acct\":\"Gargron@mastodon.social\",\"display_name\":\"Eugen
        \U0001F480\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2016-03-16T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eFounder,
        CEO and lead developer \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://mastodon.social/@Mastodon\\\"
        class=\\\"u-url mention\\\" rel=\\\"nofollow noopener noreferrer\\\" target=\\\"_blank\\\"\\u003e@\\u003cspan\\u003eMastodon\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e,
        Germany.\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@Gargron\",\"avatar\":\"https://emacs.ch/system/cache/accounts/avatars/109/327/452/733/932/721/original/668273d591a86f91.jpg\",\"avatar_static\":\"https://emacs.ch/system/cache/accounts/avatars/109/327/452/733/932/721/original/668273d591a86f91.jpg\",\"header\":\"https://emacs.ch/system/cache/accounts/headers/109/327/452/733/932/721/original/62e414675da3a94b.jpeg\",\"header_static\":\"https://emacs.ch/system/cache/accounts/headers/109/327/452/733/932/721/original/62e414675da3a94b.jpeg\",\"followers_count\":209100,\"following_count\":320,\"statuses_count\":72722,\"last_status_at\":\"2022-11-16\",\"emojis\":[],\"fields\":[{\"name\":\"Patreon\",\"value\":\"\\u003ca
        href=\\\"https://www.patreon.com/mastodon\\\" rel=\\\"nofollow noopener noreferrer\\\"
        target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003epatreon.com/mastodon\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":null}]},\"media_attachments\":[{\"id\":\"109353045597548813\",\"type\":\"image\",\"url\":\"https://emacs.ch/system/cache/media_attachments/files/109/353/045/597/548/813/original/8527579bb8795aba.jpg\",\"preview_url\":\"https://emacs.ch/system/cache/media_attachments/files/109/353/045/597/548/813/small/8527579bb8795aba.jpg\",\"remote_url\":\"https://files.mastodon.social/media_attachments/files/109/353/035/234/108/067/original/233a2077f5ee23df.jpg\",\"preview_remote_url\":null,\"text_url\":null,\"meta\":{\"original\":{\"width\":1536,\"height\":1150,\"size\":\"1536x1150\",\"aspect\":1.3356521739130436},\"small\":{\"width\":554,\"height\":415,\"size\":\"554x415\",\"aspect\":1.3349397590361445}},\"description\":\"Devin
        Townsend’s Lightwork LP with signed card\",\"blurhash\":\"UVIXa9~V8wMxR+t7RkM{8_Mx%MxuoLRjjYoe\"},{\"id\":\"109353046068842872\",\"type\":\"image\",\"url\":\"https://emacs.ch/system/cache/media_attachments/files/109/353/046/068/842/872/original/55e1e230a13da792.jpg\",\"preview_url\":\"https://emacs.ch/system/cache/media_attachments/files/109/353/046/068/842/872/small/55e1e230a13da792.jpg\",\"remote_url\":\"https://files.mastodon.social/media_attachments/files/109/353/035/399/115/058/original/9e90a16a453b405f.jpg\",\"preview_remote_url\":null,\"text_url\":null,\"meta\":{\"original\":{\"width\":1536,\"height\":1152,\"size\":\"1536x1152\",\"aspect\":1.3333333333333333},\"small\":{\"width\":554,\"height\":416,\"size\":\"554x416\",\"aspect\":1.3317307692307692}},\"description\":\"Devin
        Townsend’s Lightwork LP (transparent blue) in record player\",\"blurhash\":\"UqGSJpS5VsRP~oWBRjWB-Un$bcozkDogj@js\"}],\"mentions\":[],\"tags\":[{\"name\":\"lightwork\",\"url\":\"https://emacs.ch/tags/lightwork\"}],\"emojis\":[],\"card\":null,\"poll\":null},{\"id\":\"109353038313293074\",\"created_at\":\"2022-11-16T10:35:44.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/jelu/statuses/109353038275386342\",\"url\":\"https://mastodon.social/@jelu/109353038275386342\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,[...]
