http_interactions:
- request:
    method: get
    uri: https://emacs.ch/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0b054caff3aa664b847dafac06f14c45"
      link: <https://emacs.ch/api/v1/timelines/public?limit=10&local=FALSE&max_id=109353009586751651&only_media=FALSE&remote=FALSE>;
        rel="next", <https://emacs.ch/api/v1/timelines/public?limit=10&local=FALSE&min_id=109353023823324523&only_media=FALSE&remote=FALSE>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-11-16T10:35:00.095191Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109353023823324523\",\"created_at\":\"2022-11-16T10:32:03.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"tr\",\"uri\":\"https://mastodon.com.tr/users/Cattie/statuses/109353023773983022\",\"url\":\"https://mastodon.com.tr/@Cattie/109353023773983022\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"\\u003cp\\u003eBen
        reise vercem arkadaşlar\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"account\":{\"id\":\"109349133596628366\",\"username\":\"Cattie\",\"acct\":\"Cattie@mastodon.com.tr\",\"display_name\":\"\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2022-11-07T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eCenazem
        mi var ışıl ışılsınız?\\u003c/p\\u003e\",\"url\":\"https://mastodon.com.tr/@Cattie\",\"avatar\":\"https://emacs.ch/system/cache/accounts/avatars/109/349/133/596/628/366/original/136cf1a1599184c1.jpeg\",\"avatar_static\":\"https://emacs.ch/system/cache/accounts/avatars/109/349/133/596/628/366/original/136cf1a1599184c1.jpeg\",\"header\":\"https://emacs.ch/system/cache/accounts/headers/109/349/133/596/628/366/original/ba76f3c5015c3e58.jpeg\",\"header_static\":\"https://emacs.ch/system/cache/accounts/headers/109/349/133/596/628/366/original/ba76f3c5015c3e58.jpeg\",\"followers_count\":53,\"following_count\":22,\"statuses_count\":940,\"last_status_at\":\"2022-11-16\",\"emojis\":[],\"fields\":[]},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[],\"card\":null,\"poll\":null},{\"id\":\"109353021919374795\",\"created_at\":\"2022-11-16T10:30:46.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"zh\",\"uri\":\"https://pokemon.men/users/archlinux/statuses/109353018779322431\",\"url\":\"https://pokemon.men/@archlinux/109353018779322431\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":fals[...]
- request:
    method: get
    uri: https://emacs.ch/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=10&max_id=109353009586751651
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4ae6bafb3b478cf626ea2fd726be073d"
 [...]
