http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/timelines/public?local=FALSE&remote=FALSE&only_media=FALSE&limit=20
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '269'
      x-ratelimit-reset: '2025-07-17T13:45:00.700387Z'
      link: <https://fosstodon.org/api/v1/timelines/public?limit=20&local=FALSE&max_id=114868869937920565&only_media=FALSE&remote=FALSE>;
        rel="next", <https://fosstodon.org/api/v1/timelines/public?limit=20&local=FALSE&min_id=114868870613368398&only_media=FALSE&remote=FALSE>;
        rel="prev"
      etag: W/"08a65f03cc2b4ce2f9e72aefc54a91e4"
    body:
      string: "[{\"id\":\"114868870613368398\",\"created_at\":\"2025-07-17T13:44:25.634Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":null,\"uri\":\"https://shitposter.world/objects/a01138ec-02c9-41c2-b980-d7dad3e263f5\",\"url\":\"https://shitposter.world/objects/a01138ec-02c9-41c2-b980-d7dad3e263f5\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"content\":\"the
        one guy who went to Epstein Island thinking it was a totally innocent summer
        fishing trip\",\"filtered\":[],\"reblog\":null,\"account\":{\"id\":\"112202396737651557\",\"username\":\"augustus\",\"acct\":\"augustus@shitposter.world\",\"display_name\":\"augustus
        pugin \U0001F316\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"indexable\":false,\"group\":false,\"created_at\":\"2024-03-30T00:00:00.000Z\",\"note\":\"there's
        an ice age coming\",\"url\":\"https://shitposter.world/users/augustus\",\"uri\":\"https://shitposter.world/users/augustus\",\"avatar\":\"https://cdn.fosstodon.org/cache/accounts/avatars/112/202/396/737/651/557/original/9da79b42d1ee0665.jpg\",\"avatar_static\":\"https://cdn.fosstodon.org/cache/accounts/avatars/112/202/396/737/651/557/original/9da79b42d1ee0665.jpg\",\"header\":\"https://cdn.fosstodon.org/cache/accounts/headers/112/202/396/737/651/557/original/88ecc25e21f843ce.jpg\",\"header_static\":\"https://cdn.fosstodon.org/cache/accounts/headers/112/202/396/737/651/557/original/88ecc25e21f843ce.jpg\",\"followers_count\":611,\"following_count\":196,\"statuses_count\":3196,\"last_status_at\":\"2025-07-17\",\"hide_collections\":false,\"emojis\":[],\"fields\":[]},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[],\"quote\":null,\"card\":null,\"poll\":null},{\"id\":\"114868870584008938\",\"created_at\":\"2025-07-17T13:44:24.000Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/microtrailers/statuses/114868870472216819\",\"url\":\"https://mastodon.social/@microtrailers/114868870472216819\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":fals[...]
