http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/notifications?limit=2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '263'
      x-ratelimit-reset: '2025-07-17T13:45:00.361677Z'
      link: <https://fosstodon.org/api/v1/notifications?limit=2&max_id=22036266>;
        rel="next", <https://fosstodon.org/api/v1/notifications?limit=2&min_id=22063983>;
        rel="prev"
      etag: W/"ecf67138b1bae02831b742332e1d8113"
    body:
      string: '[{"id":"22063983","type":"follow","created_at":"2025-07-17T11:54:21.836Z","group_key":"follow-486875","account":{"id":"109314659264330175","username":"diegantobass","acct":"diegantobass","display_name":"Diego","locked":false,"bot":false,"discoverable":null,"indexable":false,"group":false,"created_at":"2022-11-09T00:00:00.000Z","note":"\u003cp\u003eResearch
        software engineer - Lausanne, CH\u003c/p\u003e\u003cp\u003eJournalism studies
        @ Académie du journalisme et des médias, Université de Neuchâtel\u003c/p\u003e\u003cp\u003eAssociate
        researcher @ médialab, Sciences Po \u003cspan class=\"h-card\" translate=\"no\"\u003e\u003ca
        href=\"https://mastodon.social/@medialab_scpo\" class=\"u-url mention\"\u003e@\u003cspan\u003emedialab_scpo\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e\u003c/p\u003e\u003cp\u003eDoppelgänger
        \u003cspan class=\"h-card\" translate=\"no\"\u003e\u003ca href=\"https://social.sciences.re/@diegantobass\"
        class=\"u-url mention\"\u003e@\u003cspan\u003ediegantobass\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e\u003c/p\u003e","url":"https://fosstodon.org/@diegantobass","uri":"https://fosstodon.org/users/diegantobass","avatar":"https://cdn.fosstodon.org/accounts/avatars/109/314/659/264/330/175/original/0521f9aaaf71d894.jpg","avatar_static":"https://cdn.fosstodon.org/accounts/avatars/109/314/659/264/330/175/original/0521f9aaaf71d894.jpg","header":"https://fosstodon.org/headers/original/missing.png","header_static":"https://fosstodon.org/headers/original/missing.png","followers_count":27,"following_count":1270,"statuses_count":19,"last_status_at":"2025-07-13","hide_collections":null,"noindex":true,"emojis":[],"roles":[],"fields":[]}},{"id":"22036266","type":"follow","created_at":"2025-07-15T01:07:19.720Z","group_key":"follow-486817","account":{"id":"114854540194806883","username":"thomasw","acct":"thomasw@toot.community","display_name":"Thomas","locked":false,"bot":false,"discoverable":true,"indexable":true,"group":false,"created_at":"2025-07-14T00:00:00.000Z","note":"\u003cp\u003eFormer
        admin of toot.bldrweb.org - finding a new home on the fediverse.\u003c/p\u003e","url":"https://toot.community/@thomasw","uri":"https://toot.community/users/thomasw","avatar":"https://cdn.fosstodon.org/cache/accounts/avatars/114/854/540/194/806/883/original/120b8c386cf859bf.png","avatar_static":"https://cdn.fosstodon.org/cache/accounts/avatars/114/854/540/194/806/883/original/120b8c386cf859bf.png","header":"https://cdn.fosstodon.org/cache/accounts/headers/114/854/540/194/806/883/original/8b695bb955d78eb9.jpg","header_static":"https://cdn.fosstodon.org/cache/accounts/headers/114/854/540/194/806/883/original/8b695bb955d78eb9.jpg","followers_count":7,"following_count":464,"statuses_count":1,"last_status_at":null,"hide_collections":false,"emojis":[],"fields":[{"name":"Github","value":"\u003ca
        href=\"https://github.com/thomascwells\" rel=\"nofollow noopener\" translate=\"no\"
        target=\"_blank\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/thomascwells\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]}}]'
  recorded_at: 2025-07-17 13:44:32
[...]
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/timelines/public?local=TRUE
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '296'
      x-ratelimit-reset: '2025-07-17T13:45:00.522264Z'
      link: <https://fosstodon.org/api/v1/timelines/public?local=TRUE&max_id=114868693731883827>;
        rel="next", <https://fosstodon.org/api/v1/timelines/public?local=TRUE&min_id=114868870703319357>;
        rel="prev"
      etag: W/"830da024b8e1e8a3fd7ec96a002d9666"
    body:
      string: "[{\"id\":\"114868870703319357\",\"created_at\":\"2025-07-17T13:44:27.910Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://fosstodon.org/users/schochastics/statuses/114868870703319357\",\"url\":\"https://fosstodon.org/@schochastics/114868870703319357\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003etesting
        in progress, please ignore\\u003c/p\\u003e\",\"reblog\":null,\"application\":{\"name\":\"rtoot
        package\",\"website\":null},\"account\":{\"id\":\"109302436954721982\",\"username\":\"schochastics\",\"acct\":\"schochastics\",\"display_name\":\"David
        Schoch\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"indexable\":false,\"group\":false,\"created_at\":\"2022-11-07T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eData
        Scientist/DevOps Engineer at cynkra | \\u003ca href=\\\"https://fosstodon.org/tags/Rstats\\\"
        class=\\\"mention hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eRstats\\[...]
