http_interactions:
- request:
    method: get
    uri: https://emacs.ch/api/v1/notifications?limit=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<MASTODON TOKEN>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9ef6b472ccab4a91d72c55dea6a413f2"
      link: <https://emacs.ch/api/v1/notifications?limit=2&max_id=28962>; rel="next",
        <https://emacs.ch/api/v1/notifications?limit=2&min_id=29507>; rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-12-14T15:35:00.568716Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"29507\",\"type\":\"mention\",\"created_at\":\"2022-12-14T15:22:41.704Z\",\"account\":{\"id\":\"109340273243348918\",\"username\":\"Mehrad\",\"acct\":\"Mehrad@fosstodon.org\",\"display_name\":\"Mehrad
        :kdenew: :emacs: \U0001F1EA\U0001F1FA\",\"locked\":false,\"bot\":false,\"discoverable\":true,\"group\":false,\"created_at\":\"2021-01-16T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eBioinformatician\U0001F9EC
        during the day, Data Scientist\U0001F4C8 in the afternoon, and Linux\U0001F427
        hobbyist at night. Federation and E2EE advocate. Interested in Data Analysis,
        Machine Learning, and FOSS/FLOSS.\\u003c/p\\u003e\\u003cp\\u003eLanguages:\\u003cbr\\u003e\U0001F5E3\\u003cbr\\u003e|_
        \U0001F1EE\U0001F1F7: Native\\u003cbr\\u003e|_ [\U0001F1FA\U0001F1F8\U0001F1EC\U0001F1E7]:
        Almost native\\u003cbr\\u003e|_ \U0001F1EB\U0001F[...]
[...]
- request:
    method: get
    uri: https://emacs.ch/api/v1/timelines/public?local=TRUE
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e800a11fcef95305e3b9030ef4d85fa2"
      link: <https://emacs.ch/api/v1/timelines/public?local=TRUE&max_id=109509761980502503>;
        rel="next", <https://emacs.ch/api/v1/timelines/public?local=TRUE&min_id=109512719300793343>;
        rel="prev"
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '299'
      x-ratelimit-reset: '2022-12-14T15:35:00.159586Z'
    body:
      encoding: ''
      file: no
      string: "[{\"id\":\"109512719300793343\",\"created_at\":\"2022-12-14T15:24:43.481Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":true,\"spoiler_text\":\"Emacs,
        Guix, Nix\",\"visibility\":\"public\",\"language\":\"es\",\"uri\":\"https://emacs.ch/users/barocio/statuses/109512719300793343\",\"url\":\"https://emacs.ch/@barocio/109512719300793343\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"content\":\"\\u003cp\\u003eIf
        you use \\u003ca href=\\\"https://emacs.ch/tags/emacs\\\" class=\\\"mention
        hashtag\\\" rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eemacs\\u003c/span\\u003e\\u003c/a\\u003e
        on \\u003ca href=\\\"https://emacs.ch/tags/Guix\\\" class=\\\"mention hashtag\\\"
        rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eGuix\\u003c/span\\u003e\\u003c/a\\u003e
        or \\u003ca href=\\\"https://emacs.ch/tags/Nix\\\" class=\\\"mention hashtag\\\"
        rel=\\\"tag\\\"\\u003e#\\u003cspan\\u003eNix\\u003c/span\\u003e\\u003c/a\\u003e
        how do you configure emacs?\\u003c/p\\u003e\",\"reblog\":null,\"application\":{\"name\":\"Tusky\",\"website\":\"https://tusky.app\"},\"account\":{\"id\":\"109359257038444868\",\"username\":\"barocio\",\"acct\":\"barocio\",\"display_name\":\"Alejandro
        Barocio A.\",\"locked\":false,\"bot\":false,\"discoverable\":false,\"group\":false,\"created_at\":\"2022-11-17T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eChristian,
        teacher (middle school), gnu/linux and emacs enthusiast, mexican.\\u003c/p\\u003e\",\"url\":\"https://emacs.ch/@barocio\",\"avatar\":\"https://emacs.ch/system/accounts/avatars/109/359/257/038/444/868/original/edc28ffb3c3eb7c6.jpg\",\"avatar_static\":\"https://emacs.ch/system/accounts/avatars/109/359/257/038/444/868/original/edc28ffb3c3eb7c6.jpg\",\"header\":\"https://emacs.ch/system/accounts/headers/109/359/257/038/444/868/original/d82c0f7f84e19484.jpg\",\"header_static\":\"https://emacs.ch/system/accounts/headers/109/359/257/038/444/868/original/d82c0f7f84e19484.jpg\",\"followers_count\":49,\"following_count\":39,\"statuses_count\":281,\"last_status_at\":\"2022-12-14\",\"noindex\":false,\"emojis\":[],\"fields\":[]},\"media_attachments\":[],\"mentions\":[],\"tags\":[{\"name\":\"emacs\",\"url\":\"https://emacs.ch/tags/emacs\"},{\"name\":\"guix\",\"url\":\"https://emacs.ch/tags/guix\"},{\"name\":\"nix\",\"url\":\"https://emacs.ch/tags/nix\"}],\"emojis\":[],\"card\":null,\"poll\":{\"id\":\"3079\",\"expires_at\":\"2022-12-15T15:24:43.462Z\",\"expired\":false,\"multiple\":false,\"votes_count\":0,\"voters_count\":0,\"options\":[{\"title\":\"Nix
        home\",\"votes_count\":0},{\"title\":\"Guix home\",\"votes_count\":0},{\"title\":\"Emacs
        init.el\",\"votes_count\":0}],\"emojis\":[]}},{\"id\":\"109512710071174310\",\"created_at\":\"2022-12-14T15:22:22.651Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":true,\"spoiler_text\":\"Emacs,
        Guix, Nix\",\"visibility\":\"public\",\"language\":\"es\",\"uri\":\"https://emacs.ch/users/barocio/statuses/109512710071174310\",\"url\":\"https://emacs.ch/@ba[...]
