http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/accounts/search?q=Kudusch&limit=40
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '293'
      x-ratelimit-reset: '2025-07-17T14:10:00.546783Z'
      etag: W/"fb55090a20cdfc21df19b587e7ba5d19"
    body:
      string: '[{"id":"45785","username":"Kudusch","acct":"Kudusch@social.tchncs.de","display_name":"Dr.
        Tim Schatto-Eckrodt","locked":false,"bot":false,"discoverable":true,"indexable":true,"group":false,"created_at":"2017-04-04T00:00:00.000Z","note":"\u003cp\u003eComputational
        Communication Science Postdoc @ Uni Hamburg\u003c/p\u003e\u003cp\u003ehe/him\u003c/p\u003e","url":"https://social.tchncs.de/@Kudusch","uri":"https://social.tchncs.de/users/Kudusch","avatar":"https://cdn.fosstodon.org/cache/accounts/avatars/000/045/785/original/b81975c783bce443.jpeg","avatar_static":"https://cdn.fosstodon.org/cache/accounts/avatars/000/045/785/original/b81975c783bce443.jpeg","header":"https://cdn.fosstodon.org/cache/accounts/headers/000/045/785/original/b1b0c9fbbc48f7a6.jpeg","header_static":"https://cdn.fosstodon.org/cache/accounts/headers/000/045/785/original/b1b0c9fbbc48f7a6.jpeg","followers_count":265,"following_count":329,"statuses_count":1702,"last_status_at":"2025-07-17","hide_collections":false,"emojis":[],"fields":[{"name":"Website","value":"\u003ca
        href=\"https://kudusch.de\" rel=\"nofollow noopener\" translate=\"no\" target=\"_blank\"\u003e\u003cspan
        class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan class=\"\"\u003ekudusch.de\u003c/span\u003e\u003cspan
        class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"Github","value":"\u003ca
        href=\"https://github.com/Kudusch\" target=\"_blank\" rel=\"nofollow noopener\"
        translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/Kudusch\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2025-07-17T11:55:05.861+00:00"},{"name":"ORCID","value":"\u003ca
        href=\"https://orcid.org/0000-0003-1658-4373\" rel=\"n[...]
