http_interactions:
- request:
    method: GET
    uri: https://fosstodon.org/api/v1/accounts/search?q=schochastics&limit=40
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '300'
      x-ratelimit-remaining: '291'
      x-ratelimit-reset: '2025-07-17T14:10:00.373906Z'
      etag: W/"c591e986e78c2a5e8a71380837243b51"
    body:
      string: '[{"id":"109302436954721982","username":"schochastics","acct":"schochastics","display_name":"David
        Schoch","locked":false,"bot":false,"discoverable":true,"indexable":false,"group":false,"created_at":"2022-11-07T00:00:00.000Z","note":"\u003cp\u003eData
        Scientist/DevOps Engineer at cynkra | \u003ca href=\"https://fosstodon.org/tags/Rstats\"
        class=\"mention hashtag\" rel=\"tag\"\u003e#\u003cspan\u003eRstats\u003c/span\u003e\u003c/a\u003e
        enthusiast\u003c/p\u003e","url":"https://fosstodon.org/@schochastics","uri":"https://fosstodon.org/users/schochastics","avatar":"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/9f0f6bfb096f5451.png","avatar_static":"https://cdn.fosstodon.org/accounts/avatars/109/302/436/954/721/982/original/9f0f6bfb096f5451.png","header":"https://fosstodon.org/headers/original/missing.png","header_static":"https://fosstodon.org/headers/original/missing.png","followers_count":1036,"following_count":138,"statuses_count":282,"last_status_at":"2025-07-17","hide_collections":false,"noindex":false,"emojis":[],"roles":[],"fields":[{"name":"Personal
        Webpage","value":"\u003ca href=\"https://www.mr.schochastics.net/\" target=\"_blank\"
        rel=\"nofollow noopener me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://www.\u003c/span\u003e\u003cspan
        class=\"\"\u003emr.schochastics.net/\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2022-11-24T06:24:48.497+00:00"},{"name":"Github","value":"\u003ca
        href=\"https://github.com/schochastics\" target=\"_blank\" rel=\"nofollow
        noopener me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003egithub.com/schochastics\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":"2024-05-04T19:57:14.688+00:00"},{"name":"Side
        project","value":"\u003ca href=\"http://worldclubratings.com\" target=\"_blank\"
        rel=\"nofollow noopener me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttp://\u003c/span\u003e\u003cspan
        class=\"\"\u003eworldclubratings.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},{"id":"110090982838680509","username":"schochastics","acct":"schochastics@birdsite.lakedrops.com","display_name":"David
        Schoch","locked":false,"bot":true,"discoverable":false,"indexable":false,"group":false,"created_at":"2023-03-26T00:00:00.000Z","note":"[UNOFFICIAL
        MIRROR: This is a view of Twitter using ActivityPub]\u003cbr\u003e\u003cbr\u003eTeam
        lead for \"Transparent Social Analytics\" \u003cspan class=\"h-card\"\u003e\u003ca
        href=\"https://birdsite.lakedrops.com/@gesis_org\" class=\"u-url mention\"
        rel=\"nofollow noopener\" target=\"_blank\"\u003e@\u003cspan\u003egesis_org\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e
        ** SNA ** \u003ca href=\"https://birdsite.lakedrops.com/tags/Rstats\" class=\"mention
        hashtag\" rel=[...]
